select {
	width: 100%;
}
.no-indent p {
	text-indent: 0px;
}
.two-buttons {
	width: 50%;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
}
.btn-trans {
	background-color: transparent;
}
.center {
	text-align: center;
}
.table>tbody>tr>td {
	vertical-align: middle;
}