		<div class="row">
		<h2>Categories</h2>
				<p><a href="#a" id="getTerms" th:onclick="'changeCat(0)'"
					th:class="'btn btn-' + (${catid}==0?'success':'primary')" th:text="'All'"></a>
				<a th:each="categ : ${categs}" th:id="'getTerms' + ${categ.id}" th:onclick="'changeCat('+${categ.id}+')'"
					th:text="${categ.name}" th:class="'btn btn-' + (${catid==categ.id}?'success':'primary')" href="#a"></a></p>
		
		<div class="row"><div class="two-buttons">
			<p th:text="'Start date'"></p>
			<input type="date" class="form-control" th:value="${startDate}" name='startDate' id='startDate'
				min="1910-01-01" max="2200-01-01"/>
		</div>
		<div class="two-buttons">
			<p th:text="'End date'"></p>
			<input type="date" class="form-control" th:value="${finishDate}" name='finishDate' id='finishDate'
				min="1910-01-01" max="2200-01-01"/>
		</div></div>
		<p><span class="btn btn-primary btn-block" onClick="apply()">Apply</span></p>
		<div id="graph0"  style="width:800px;height:300px;position:relative;"></div>
		
		<p><span th:text="'Total number of documents in the database' + ': ' + ${amount}"></span></p>
		<p><span th:text="'Last extraction of documents from websites' + ': ' + ${parsed}"></span></p>
		
		<p id="curStatus"></p>
			<script th:inline="javascript">
			/*<![CDATA[*/
				
			function changeCat(id) {
				var catid = id;
				startDate = $("#startDate").val();
				finishDate = $("#finishDate").val();
				document.location.href = rootPath + 'stat/docs?catid=' + catid +
						'&startDate=' + startDate + '&finishDate=' + finishDate;
			}
			function apply() {
				var catid = /*[[${catid}]]*/ 0;
				changeCat(catid);
			}
			function drawBars(sums, lab) {
				var d1 = [], t = [];
				var catid = /*[[${catid}]]*/ 0;
		    	
    			var i = 0;
    			for (let key of sums.keys()) {
    				//if (i % 4 == 0)
    					t.push([i, key.split(" (id:")[0]]);
    				d1.push([i, sums.get(key)]);
    				i++;
    			}

    			$.plot("#graph0", [
    				{ label: lab, data: d1 }
    			], {
    				series: {
						color: "black",
    					bars: {
    						show: true,
    						fillColor: "#94acd9",
    						barWidth: 0.6,
    						align: "center"
    					}
    				},
    				xaxis: {
    	                autoScale: "exact",
    					ticks: t
    				},
    				grid: {
    					backgroundColor: { colors: [ "#fff", "#eee" ] }
    				}
    			});
			}
		      $(document).ready(function() {
				var obj = /*[[${stats}]]*/ [];
				var sums = new Map(Object.entries(obj));
				drawBars(sums, "");
		      });
			/*]]>*/
			</script>
		</div>