		<div class="collection-object">
		<form action="#" th:action="@{'/editor/task?' + ${_csrf.parameterName} + '=' + ${_csrf.token}}" th:object="${task}" method="post" id="taskEditForm" enctype="multipart/form-data">
			<h3 th:if="${create}" th:text="#{firstline.create.task}">Create new task</h3>
			<h3 th:if="${!create}" th:text="#{firstline.update.task}">Update task</h3>
			<hr/>
			<input type="hidden" th:field="*{id}" />
  			<p class="warning" id="warningText"></p>
  			<p th:text="#{editor.task.name}"></p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" th:field="*{name}" placeholder="Task name" th:placeholder="#{editor.placeholder.name}"/>
                                    </div>
                               </div>
   			<p th:text="#{editor.task.due}"></p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="date" class="form-control" th:field="*{dueDate}" min="1970-01-01" max="2100-01-01"/>
                                    </div>
                                </div>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#dueDate" ).datepicker({
    	  dateFormat: "yy-mm-dd"
    });
  } );
  </script>
                                <div class="two-buttons">
   			<p th:text="#{editor.task.source}"></p>
                                <div class="row">
                                    <div class="col-md-12">
									<select th:field="*{source}" size="6">
										<option th:each="lang : ${languages}" th:value="${lang.id}" th:text="${lang.code}">EN</option>
									</select>
                                    </div>
                                </div>
                                </div>
                                <div class="two-buttons">
   			<p th:text="#{editor.task.target}"></p>
                                <div class="row">
                                    <div class="col-md-12">
									<select id="targetSelector" size="4">
										<option th:each="lang : ${languages}" th:value="${lang.code}" th:text="${lang.code}">EN</option>
									</select>
                                    </div>
                                </div>
                                   	<span class="btn btn-warning btn-block" th:text="#{editor.add}" onclick="addTarget();">Add</span>
                                <div class="row">
                                   <div class="col-md-12">
                                	<table class="table table-responsive table-striped" id="resTable">
                                	
                                	</table>
                            		<input type="hidden" th:field="*{target}" id="resText"/>
                            		</div>
                                </div>
                                </div>
								<script th:inline="javascript">
								/*<![CDATA[*/
								function addTarget(){
									target = $("#targetSelector option:selected").text();
									if (target == "") return;
									buttonCode = /*[[#{editor.remove}]]*/ "";
									buttonCode = "<span class='btn btn-danger' onclick='$(this).parents(\"tr\").remove();'>" + buttonCode + "</span>";
									$("#resTable").append("<tr><td>" + target + "</td><td>" + buttonCode + "</td></tr>");
								}
								/*]]>*/
								</script>
                            <div class="two-buttons">
                                <div class="row">
                                    <div class="col-md-12">
									<select id="skillSelector" size="4">
										<option th:each="skill : ${skills}" th:value="${skill.id}" th:text="${skill.name}">skill</option>
									</select>
                                    </div>
                                </div>
                                <div class="row">
                                	<div class="two-buttons">
                                		<span th:text="#{editor.skilllevel} + ': '"> </span><input type="number" min="1" max="6" id="reqLvl" th:value="1"/>
                                	</div>
                                	<div class="two-buttons">
                                		<span class="btn btn-warning btn-block" th:text="#{editor.add}" onclick="addSkill();">Add</span>
                                	</div>
                                </div>
                            </div>
                            <div class="two-buttons">
                            <div class="row">
                            	<div class="col-md-12">
                                <table class="table table-responsive table-striped" id="skillTable">
                                	
                                </table>
                            	</div>
                            </div>
							<script th:inline="javascript">
							/*<![CDATA[*/
							function addSkill(){
								skill = $("#skillSelector option:selected").text() + " (" + $("#skillSelector option:selected").val() + "): " + $("#reqLvl").val();
								if (skill == "") return;
								buttonCode = /*[[#{editor.remove}]]*/ "";
								buttonCode = "<span class='btn btn-danger' onclick='$(this).parents(\"tr\").remove();'>" + buttonCode + "</span>";
								$("#skillTable").append("<tr><td>" + skill + "</td><td>" + buttonCode + "</td></tr>");
							}
							/*]]>*/
							</script>
                            </div>
                                <hr class="separator"/>
                                <button type="button" class="btn btn-primary btn-block" id="plusButton" th:text="#{task.group.create}"></button>
                                <p id="curStatus"></p>
		<div id="groupModal" hidden="true">
		<table id="groupTable" class="table table-responsive table-striped">
		<thead>
			<tr>
				<th data-field="group"><span th:text="#{motivations.group}"></span></th>
				<th data-field="experts"><span th:text="#{navbar.experts}"></span></th>
				<th data-field="gsl"><span th:text="#{profile.gsl}"></span></th>
				<th data-field="availability"><span th:text="#{profile.availability}"></span></th>
				<th data-field="tasks"><span th:text="#{profile.gsl.1}"></span></th>
				<th data-field="button"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
			</tr>
		</tbody>
		</table>
		</div>
   			<p th:text="#{editor.task.performers}"></p>
                                <div class="row">
                                    <div class="col-md-12">
									<select id="performers" name="performers" size="6" multiple="true">
										<option value="all" th:text="#{editor.task.performers.all}">All</option>
										<option th:each="user : ${users}" th:value="${user.id}" th:text="${user.username}">admin</option>
									</select>
                                    </div>
                                </div>
	<script th:inline="javascript">
			/*<![CDATA[*/
				var performers = /*[[${performers}]]*/ [];
				if (performers.length > 0 && performers[0] < 0)	// all users
					$("#performers :first").attr("selected", "selected");
				else
					for (i=0; i<performers.length; i++)
						$("#performers option[value='" + performers[i] + "']").attr("selected", "selected");
			/*]]>*/
			</script>
                                <hr class="separator"/>
   			<p th:text="#{editor.task.reference}"></p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" placeholder="Link" th:field="*{reference}" th:placeholder="#{task.type.link}"/>
                                        <div id="fileBlock" class="two-buttons row">
                                        <input type="file" class="form-control" name="file" id="fileInput"/>
                                        </div>
                                        <div class="two-buttons">
                                        <button type="button" class="btn btn-danger btn-block" th:text="#{editor.clear}"
                                        	onclick="document.getElementById('fileBlock').innerHTML=document.getElementById('fileBlock').innerHTML"></button>
                                        </div>
                                    </div>
                                </div>
   			<p th:text="#{editor.task.type}"></p>
                                <div class="row">
                                    <div class="col-md-12">
									<select th:field="*{type}">
										<option th:text="#{task.type.text}" value='1'>Text</option>
										<option th:text="#{task.type.acronis}" value='2'>Acronis ID</option>
										<option th:text="#{task.type.link}" value='3'>Link</option>
										<option th:text="#{task.type.file}" value='4'>XLS File</option>
									</select>
                                    </div>
                                </div>
            <div id="textAbout">
   			<p th:text="#{task.type.original}"></p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <textarea class="form-control" type="textarea" th:field="*{original}" placeholder="Original text" th:placeholder="#{task.type.original}" rows="5"></textarea>
                                    </div>
                                </div>
   			<p th:text="#{task.type.translate}"></p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <textarea class="form-control" type="textarea" th:field="*{about}" placeholder="Translated text" th:placeholder="#{task.type.translate}" rows="5"></textarea>
                                    </div>
                                </div>
            </div>
            <div id="acronisAbout" hidden="true">
   			<p th:text="#{task.type.acronis}"></p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" placeholder="Acronis ID" id="acronisValue" th:placeholder="#{task.type.acronis}"/>
                                    </div>
                                </div>
            </div>
            <div id="linkAbout" hidden="true">
   			<p th:text="#{task.type.link}"></p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" placeholder="Link" id="linkValue" th:placeholder="#{task.type.link}"/>
                                    </div>
                                </div>
            </div>
            <div id="fileAbout" hidden="true">
   			<p th:text="#{task.type.filetext}"></p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" placeholder="Link" id="fileValue" th:placeholder="#{task.type.file}"/>
                                    </div>
                                </div>
            </div>
			<p><input type="submit" class="btn btn-primary btn-block" th:value="${create}? #{editor.create} : #{editor.update}" value="submit" id="submitBut" /></p>
	<script th:inline="javascript">
			/*<![CDATA[*/
			
			function hideOrShowElement(element, show) {
				if (show) element.show();
				else element.hide();
			}

			function checkInputs() {
            	var existWarning = /*[[#{editor.error.exists.task}]]*/ "";
            	var shortWarning = /*[[#{editor.title.warning}]]*/ "";
            	var tooBigWarning = /*[[#{editor.error.bigsize}]]*/ "";
            	var emptyDateWarning = /*[[#{editor.error.date}]]*/ "";
            	var warning = "";
            	var disabled = false;

            	var name = $("#name").val();
            	var names = /*[[${names}]]*/ [];
            	for (var i = 0; i < names.length; i++)
            		if (names[i] == name) {
            			warning = warning + existWarning + " ";
            			disabled = true;
            			break;
            		}
            	if (name.length < 5 || name.length > 100) {
        			warning = warning + shortWarning + " ";
        			disabled = true;
            	}

            	if (document.getElementById("fileInput").files.length > 0)
	            	if (document.getElementById("fileInput").files[0].size > 50*1024*1024) {
	            		warning = warning + tooBigWarning + " ";
	        			disabled = true;
	            	}

            	if ($("#dueDate").val() == "") {
            		warning = warning + emptyDateWarning + " ";
        			disabled = true;
            	}

    			$("#submitBut")[0].disabled = disabled;
    			$("#warningText").html(warning);
			}
			
            $("#name").on('input', function() {
            	checkInputs();
            });

            $("#fileInput").on('input', function() {
            	checkInputs();
            });

            $("#dueDate").on('input', function() {
            	checkInputs();
            });
            $("#dueDate").on('change', function() {
            	checkInputs();
            });
            
            checkInputs();

            $("#type").on('input', function() {
            	hideOrShowElement($("#textAbout"), $("#type").val() == "1");
            	hideOrShowElement($("#acronisAbout"), $("#type").val() == "2");
            	hideOrShowElement($("#linkAbout"), $("#type").val() == "3");
            	hideOrShowElement($("#fileAbout"), $("#type").val() == "4");
            });

            $("#taskEditForm").on('submit', function() {
				$("#resText").val("");
				$.each($("#resTable td:even"), function() {
					$("#resText").val($("#resText").val() + $(this).html() + ';');
				});
				
            	if ($("#type").val() == "2")
            		$("#about").val($("#acronisValue").val());
            	if ($("#type").val() == "3")
            		$("#about").val($("#linkValue").val());
            	if ($("#type").val() == "4")
            		$("#about").val($("#fileValue").val());
            });
            $("#type").trigger('input');

			var targets = $("#resText").val();
			targets = targets.split(";");
			for (var i = 0; i < targets.length; i++) {
				if (targets[i] == "") continue;
				$("#targetSelector option[value='" + targets[i] + "']").prop('selected', true);
				addTarget();
			}
			
			

			function choseGroup(idsStr) {
				var ids = idsStr.split(',');
				// Clear performers
				$("#performers").val('');
				$('#performers :first').prop('selected', false);
				// Select recepients
				for (var i = 1; i < ids.length; i++)
					$('#performers option[value="' + ids[i] + '"]').prop('selected', true);
			}

			function ajaxGroup(requestUrl) {
				
				var inputArgs = [];
				var i;
				for (i = 1; i < arguments.length; i++) {
					inputArgs.push(arguments[i]);
				}
				
				var skills = '';
				$.each($("#skillTable td:even"), function() {
					skills += $(this).html() + ',';
				});
				inputArgs.push(skills);
				inputArgs.push($("#targetSelector option:selected").text());
				var targets = '';
				$.each($("#resTable td:even"), function() {
					targets += $(this).html() + ';';
				});
				inputArgs.push(targets);
				
				 var csrfHeader = $("meta[name='_csrf_header']").attr("content");
			     var csrfToken = $("meta[name='_csrf']").attr("content");
			     var headers = {};
			     headers[csrfHeader] = csrfToken;

	            var available1 = /*[[#{profile.availability.always}]]*/ "";
	            var available2 = /*[[#{profile.availability.special}]]*/ "";
	            var available3 = /*[[#{profile.availability.good}]]*/ "";
	            var available4 = /*[[#{profile.availability.uncertain}]]*/ "";
	            
	            var average = /*[[#{profile.level.average}]]*/ "";
	            
	            var curStatus1 = /*[[#{task.group.status.1}]]*/ "";
	            var curStatus2 = /*[[#{task.group.status.2}]]*/ "";
	            
	            $("#curStatus").html(curStatus1);
				$.ajax({
					url : requestUrl,
					type: 'POST',
					dataType: 'json',
					contentType: 'application/json; charset=utf-8',
					data : JSON.stringify(inputArgs),
					headers: headers,
					success: function (res) {
			            $("#curStatus").html(curStatus2);
			            $("#groupTable tbody").empty();
						for (var i = 0; i < res.solutions.length; i++) {
							var names = '', gsl = '', avail = '', tasks = '', curAva = '', ids = '0';
							var avgG = 0, avgA = 0, avgT = 0;
							for (var j = 0; j < res.solutions[i].length; j++) {
								names += '<p><a href="' + rootPath + 'viewer/profile?id=' + res.solutions[i][j].id + '" target="_blank">' + res.solutions[i][j].name + '</a></p>';
								gsl += '<p>' + res.solutions[i][j].gsl + '%</p>';
								avgG += res.solutions[i][j].gsl;
								curAva = res.solutions[i][j].availability;
								//avgA += Math.floor(curAva);
								avail += '<p>' + (curAva == "1" ? available1 : curAva = "2" ? available2 : curAva = "3" ? available3 : available4) + '</p>';
								tasks += '<p>' + res.solutions[i][j].tasks + '</p>';
								avgT += res.solutions[i][j].tasks;
								ids += ',' + res.solutions[i][j].userId;
							}
							if (res.solutions[i].length > 0) {
								//avgA /= res.solutions[i].length;
								avgG /= res.solutions[i].length;
								avgT /= res.solutions[i].length;
							}
							$("#groupTable").append(
									'<tr>' + 
									'<td><p>' + (i + 1) + '. ' + res.groupNames[i] + '</p></td>' +
									'<td>' + names + '<p><b>' + average + '</b></p></td>' +
									'<td>' + gsl + '<p><b>' + Math.floor(avgG) + '%</b></p></td>' +
									//'<td>' + avail + '<p>' + Math.floor(avgA) + '</p></td>' +
									'<td>' + avail + '<p>-</p></td>' +
									'<td>' + tasks + '<p><b>' + Math.floor(avgT*10)/10 + '</b></p></td>' +
									'<td><button type="button" class="btn btn-primary btn-block" onclick="choseGroup(\'' + ids + '\')">Chose</button></td></tr>');
						}
						$('#groupModal').show();
			            $("#curStatus").html('');
					},
					error: function (xhRequest, ErrorText, thrownError) {
						console.log('xhRequest: ' + xhRequest + "\n");
						console.log('ErrorText: ' + ErrorText + "\n");
						console.log('thrownError: ' + thrownError + "\n");
						console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
					}
				});
			}
			
			$("#plusButton").on("click", function() {ajaxGroup(rootPath + 'editor/ajaxGroup')});
			
			/*]]>*/
			</script>
		</form>
		</div>