		<div class="collection-object">
		<form action="#" th:action="@{${postAddress}}" th:object="${evidence}" method="post">
			<h3 th:if="${create}" th:text="#{firstline.create.evidence}">Create new evidence</h3>
			<h3 th:if="${!create}" th:text="#{firstline.update.evidence}">Update evidence</h3>
			<hr/>
			<input type="hidden" th:field="*{id}" />
			<p th:text="#{editor.evidence.description}"></p>
			<p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Name Error</p>
			<p><textarea type="textarea" class="input-wide" th:field="*{description}" placeholder="Description (EN)" th:placeholder="#{editor.placeholder.description_en}"></textarea></p>
			<p><textarea type="textarea" class="input-wide" th:field="*{description_RU}" placeholder="Description (RU)" th:placeholder="#{editor.placeholder.description_ru}"></textarea>
				<span th:if="${#fields.hasErrors('description_RU')}" th:errors="*{description_RU}">Name Error</span></p>
			<p th:text="#{editor.evidence.type}"></p>
			<p><select th:field="*{type}">
  				<option th:each="type : ${types}" 
          			th:value="${type}" 
          			th:text="${type}">Evidence Type</option>
			</select><span th:if="${#fields.hasErrors('type')}" th:errors="*{type}">Name Error</span></p>
			<p th:text="#{editor.evidence.acquired}"></p>
			<p><input type="date" th:field="*{acquiredDate}" min="1970-01-01" max="2100-01-01"/>
				<span th:if="${#fields.hasErrors('acquiredDate')}" th:errors="*{acquiredDate}">Name Error</span></p>
			<p th:text="#{editor.evidence.expires}"></p>
			<p><input type="date" th:field="*{expirationDate}" min="1970-01-01" max="2100-01-01"/>
				<span th:if="${#fields.hasErrors('expirationDate')}" th:errors="*{expirationDate}">Name Error</span></p>
			<p><input type="submit" th:value="${create}? #{editor.create} : #{editor.update}" value="submit" /></p>
		</form>
		</div>