		<div class="collection-object">
		<form action="#" th:action="@{/editor/profile}" th:object="${profile}" method="post">
			<h3 th:if="${create}" th:text="#{firstline.create.profile} ">Create company profile</h3>
			<h3 th:if="${!create}" th:text="#{firstline.update.profile}">Update company profile</h3>
			<hr/>
			<input type="hidden" th:field="*{id}" />
			<p th:text="#{editor.expert.name}"></p>
			<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
			<p><span th:text="#{editor.placeholder.name}" text="Expert name"></span>:
			<input class="form-control" type="text" th:field="*{name}" placeholder="Expert name" th:placeholder="#{editor.placeholder.name}" onblur="addCheck(this, 3, 100)"/></p>
			<p th:text="#{profile.position}"></p>
			<p><input class="form-control" type="text" th:field="*{position}" placeholder="Expert position" th:placeholder="#{editor.placeholder.position}"/>
				<span th:if="${#fields.hasErrors('position')}" th:errors="*{position}">Name Error</span></p>
			<p th:text="#{profile.availability}"></p>
			<p><input class="form-control" type="text" th:field="*{availability}" placeholder="Expert availability" th:placeholder="#{editor.placeholder.availability}"/>
				<span th:if="${#fields.hasErrors('availability')}" th:errors="*{availability}">Name Error</span></p>
			<p th:text="#{profile.level}"></p>
			<p><input class="form-control" type="text" th:field="*{level}" placeholder="Expert level" th:placeholder="#{profile.level}"/>
				<span th:if="${#fields.hasErrors('level')}" th:errors="*{level}">Name Error</span></p>
			<p th:text="#{profile.prooflevel}"></p>
			<p><input class="form-control" type="text" th:field="*{position}" placeholder="Expert proofreader level" th:placeholder="#{profile.prooflevel}"/>
				<span th:if="${#fields.hasErrors('prooflevel')}" th:errors="*{prooflevel}">Name Error</span></p>
			<p><input type="submit" th:value="${create}? #{editor.create} : #{editor.update}" value="submit" /></p>
		</form>
		</div>