		<div class="collection-object">
		<form action="#" th:action="@{/editor/task}" th:object="${task}" method="post">
			<h3 th:if="${create}" th:text="#{firstline.create.task}">Create new task</h3>
			<h3 th:if="${!create}" th:text="#{firstline.update.task}">Update task</h3>
			<hr/>
			<input type="hidden" th:field="*{id}" />
			<p th:text="#{editor.task.name}"></p>
			<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
			<p><span th:text="#{editor.placeholder.task_name_ru}" text="Task name (RU)"></span>:
			<input type="text" class="input-wide" th:field="*{name_RU}" placeholder="Task name (RU)" th:placeholder="#{editor.placeholder.task_name_ru}" onblur="addCheck(this, 5, 100)"/>
				<span th:if="${#fields.hasErrors('name_RU')}" th:errors="*{name_RU}">Name Error</span></p>
			<p><span th:text="#{editor.placeholder.task_name_en}" text="Task name (EN)"></span>:
			<input type="text" class="input-wide" th:field="*{name}" placeholder="Task name (EN)" th:placeholder="#{editor.placeholder.task_name_en}" onblur="addCheck(this, 5, 100)"/></p>
			<p th:text="#{editor.task.description}"></p>
			<p th:if="${#fields.hasErrors('about')}" th:errors="*{about}">Name Error</p>
			<p><span th:text="#{editor.placeholder.description_ru}" text="About (RU)"></span>:
			<textarea type="textarea" class="input-wide" th:field="*{about_RU}" placeholder="About (RU)" th:placeholder="#{editor.placeholder.description_ru}"></textarea>
				<span th:if="${#fields.hasErrors('about_RU')}" th:errors="*{about_RU}">Name Error</span></p>
			<p><span th:text="#{editor.placeholder.description_en}" text="About (EN)"></span>:
			<textarea type="textarea" class="input-wide" th:field="*{about}" placeholder="About (EN)" th:placeholder="#{editor.placeholder.description_en}"></textarea></p>
			<p><input type="submit" th:value="${create}? #{editor.create} : #{editor.update}" value="submit" /></p>
		</form>
		</div>