		<div class="collection-object">
		<form action="#" th:action="@{'/editor/task?' + ${_csrf.parameterName} + '=' + ${_csrf.token}}" th:object="${task}" method="post" id="taskEditForm" enctype="multipart/form-data">
			<h3 th:if="${create}" th:text="#{firstline.create.task}">Create new task</h3>
			<h3 th:if="${!create}" th:text="#{firstline.update.task}">Update task</h3>
			<hr/>
			<input type="hidden" th:field="*{id}" />
			<input type="hidden" name="termVariant" th:value="${termVariant}" />
  			<p class="warning" id="warningText"></p>
  			<p th:text="#{editor.task.name}"></p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" th:field="*{name}" placeholder="Task name" th:placeholder="#{editor.placeholder.name}"/>
                                    </div>
                               </div>
   			<p th:text="'Description'"></p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <textarea class="form-control" type="textarea" th:field="*{original}" placeholder="Description" th:placeholder="'Description'" rows="5"></textarea>
                                    </div>
                                </div>
   			<p th:text="#{editor.task.due}"></p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="date" class="form-control" th:field="*{dueDate}" min="1970-01-01" max="2100-01-01"/>
                                    </div>
                                </div>
       <div th:hidden="${task.variant == null}">
   			<p th:text="'Impact'"></p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <select th:field="*{impact}">
                                        	<option value='0'>Low</option>
                                        	<option value='1'>Medium</option>
                                        	<option value='2'>High</option>
                                        </select>
                                    </div>
                                </div>
                                <hr class="separator"/>
                                <div class="row">
   			<h2 th:text="'Associated terms'"></h2>
        <p id="taskTerms"></p>
		<select hidden="true" multiple="true" id="taskSel" name="terms"></select>
  		<p><div class="two-buttons">
			<input id="taskTermSearch" type="text" name="search" class="form-control"/>
		</div><div class="two-buttons">
			<span id="taskTermFind" class="btn btn-primary" th:text="'Find'"></span>
			<span id="taskTermClear" class="btn btn-danger" ><i class="fa fa-remove"></i></span>
			<span id="taskTermAdd" class="btn btn-primary" th:text="'Add'"></span>
		</div></p>
		<p id="taskSearchSS"></p>
		<p id="taskSearchTerms"></p>
		</div>
		</div>
                                <hr class="separator"/>
   			<h2 th:text="'Megatrends'"></h2>
        <p id="taskTrends"></p>
		<select hidden="true" multiple="true" id="trendSel" name="trendIDs"></select>
                                <div class="row">
                                    <div class="col-md-12">
									<!-- select id="skillSelector" size="7">
										<option th:each="skill : ${skillsList}" th:value="${skill.id}" th:text="${skill.name}">skill</option>
									</select-->
									<!--input type="hidden" name="trendIDs" id="trendSelector" /-->
                            		<div class="x_content" th:include="fragments/trendTree :: trendTree"></div>
                                    </div>
                                </div>
   			<h2 th:text="'Categories'"></h2>
        <p id="taskCategories"></p>
		<select hidden="true" multiple="true" id="catSel" name="categoryIDs"></select>
                                <div class="row">
                                    <div class="col-md-12">
									<!-- select id="skillSelector" size="7">
										<option th:each="skill : ${skillsList}" th:value="${skill.id}" th:text="${skill.name}">skill</option>
									</select-->
                            		<div class="x_content" th:include="fragments/categoryTree :: categoryTree"></div>
                                    </div>
                                </div>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#dueDate" ).datepicker({
    	  dateFormat: "yy-mm-dd"
    });
  } );
  
  $(document).ready(function() {
      $("#taskEditForm").keydown(function(event){
        if(event.keyCode == 13) {
          event.preventDefault();
          return false;
      }
   });
});
  </script>
   			<h2 th:text="'Skill requirements'"></h2>
                                <div class="row">
                                    <div class="col-md-12">
									<!-- select id="skillSelector" size="7">
										<option th:each="skill : ${skillsList}" th:value="${skill.id}" th:text="${skill.name}">skill</option>
									</select-->
									<input type="hidden" name="skillIDs" id="skillSelector" />
                            		<div class="x_content" th:include="fragments/skillTree2 :: skillTree"></div>
                                    </div>
                                </div>
                                <div class="row">
                                	<div>
                                		<span th:text="#{editor.skilllevel} + ': '"> </span><input type="number" min="1" max="6" id="reqLvl" th:value="1"/>
                                		<span class="btn btn-primary" th:text="#{editor.add}" onclick="addSkill();">Add</span>
                                	</div>
                                </div>
                            <div class="">
                            <div class="row">
                            	<div class="col-md-12">
                                <table class="table table-responsive table-striped" id="skillTable">
                                	
                                </table>
                            	<input type="hidden" name="skills" id="skills"/>
                            	</div>
                            </div>
   				<a onclick="extractReq(0)" href="#a">
   					<button type="button" class="btn btn-success btn-block" th:text="'Suggest Skills'"></button>
   				</a>
   				<p id="extractStat"></p>
							<script th:inline="javascript">
							/*<![CDATA[*/
								
	// extracting requirements
       	var statuses = ["Getting skills", "Extracting data", "Processing data", "Calculating requirements", "Adding requirements"];
       	var curSt = 0;
       	function extractReq(id) {
       		var url = rootPath + 'skills/extractReq';
			var inputArgs = [];
			if (curSt > statuses.length || $("#name").val() === '')
				return;
			
			$("#extractStat").html(statuses[curSt] + "...");
			inputArgs.push(0);
			inputArgs.push(curSt);
			inputArgs.push($("#name").val());
			
			 var csrfHeader = $("meta[name='_csrf_header']").attr("content");
		     var csrfToken = $("meta[name='_csrf']").attr("content");
		     var headers = {};
		     headers[csrfHeader] = csrfToken;
	     
			$.ajax({
				url : url,
				type: 'POST',
				dataType: 'json',
				contentType: 'application/json; charset=utf-8',
				data : JSON.stringify(inputArgs),
				headers: headers,
				success: function (res) {
					if (res.length == 1) {
						$("#extractStat").html(res[0]);
						curSt = 0;
						return;
					}
					curSt++;
					$("#extractStat").html("");
					if (curSt == statuses.length) {
						// show suggested
						var html = "";
						var i = 1;
						if (res.length > 0) {
							var len = res[0];
							for (; i <= len; i++)
								html += "<br>" + res[i];
							if (html !== "")
								html = "<b>Suggested new skills:</b>" + html;
						}
						$("#extractStat").html(html);
						// add skills
						for (; i < res.length; i++) {
							var vals = res[i].split("\n");
							$("#skillSelector").val(vals[0]);
							$("#reqLvl").val(vals[1]);
							addSkill();
						}
						$("#skillSelector").val('');
						$("#reqLvl").val(1);
						curSt = 0;
					} else
						extractReq(id);
				},
				error: function (xhRequest, ErrorText, thrownError) {
					curSt = 0;
					console.log('xhRequest: ' + xhRequest + "\n");
					console.log('ErrorText: ' + ErrorText + "\n");
					console.log('thrownError: ' + thrownError + "\n");
					console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
				}
			});
       	}
	// editing trends in project
	function addTrend(id, name) {
		if ($('#trendSel').children('option[value="' + id + '"]').length > 0) return;
		var o = new Option(name, id);
		$(o).html(name);
		$("#trendSel").append(o);
		$('#trendSel').children('option[value="' + id + '"]').prop('selected', true);
		htmlTrends = $("#taskTrends").html() + "<span class='btn-warning btn btn-primary' id='trendTerm" + id + "'>" +
    		"<a href='#a' onclick='removeTrend(" + id + ")' class='fa fa-remove'></a> " + name + "</span>";
	    $("#taskTrends").html(htmlTrends);
	}
	var trends = /*[[${trends}]]*/ [];
	for (var i = 0; i < trends.length; i++) {
		var trend = trends[i].split("~!@");
		if (trend.length < 2) continue;
		addTrend(trend[0], trend[1]);
	}
	function removeTrend(id) {
		if ($('#trendSel').children('option[value="' + id + '"]').length == 0) return;
		$('#trendSel').children('option[value="' + id + '"]').remove();
		$("#trendTerm" + id).remove();
		
	}
	function clearTrends() {
		$('#trendSel').children('option').remove();
	    $("#taskTrends").html("");
	}
	function clickTrend(id) {
		addTrend(id, $("#trask" + id).text());
	}
	// editing categories in project
	function addCategory(id, name) {
		if ($('#catSel').children('option[value="' + id + '"]').length > 0) return;
		var o = new Option(name, id);
		$(o).html(name);
		$("#catSel").append(o);
		$('#catSel').children('option[value="' + id + '"]').prop('selected', true);
		htmlCategories = $("#taskCategories").html() + "<span class='btn-warning btn btn-primary' id='catTerm" + id + "'>" +
    		"<a href='#a' onclick='removeCategory(" + id + ")' class='fa fa-remove'></a> " + name + "</span>";
	    $("#taskCategories").html(htmlCategories);
	}
	var categories = /*[[${categories}]]*/ [];
	for (var i = 0; i < categories.length; i++) {
		var category = categories[i].split("~!@");
		if (category.length < 2) continue;
		addCategory(category[0], category[1]);
	}
	function removeCategory(id) {
		if ($('#catSel').children('option[value="' + id + '"]').length == 0) return;
		$('#catSel').children('option[value="' + id + '"]').remove();
		$("#catTerm" + id).remove();
		
	}
	function clearCategories() {
		$('#catSel').children('option').remove();
	    $("#taskCategories").html("");
	}
	function clickCategory(id) {
		addCategory(id, $("#catask" + id).text());
	}
		function clickSkill(id) {
			if ($("#ask" + id + " b").length > 0) {
				// unselect
				$("#ask" + id).html($("#ask" + id).html().replace("<b>", "").replace("</b>", ""));
				$("#skillSelector").val($("#skillSelector").val().replace("|" + $("#ask" + id).text() + " (" + id + ")", ""));
			} else {
				// select element
				$("#ask" + id).html("<b>" + $("#ask" + id).html() + "</b>");
				$("#skillSelector").val($("#skillSelector").val() + "|" + $("#ask" + id).text() + " (" + id + ")");
			}
		}
		function addSkill(){
			level = $("#reqLvl").val();
			if (level == "" || level < 1)
				level = "1";
			//skill = $("#skillSelector option:selected").text();
			skills = $("#skillSelector").val();
			if (skills == "") return;
			skills = skills.split("|");
			for (var i = 0; i < skills.length; i++) {
				var skill = skills[i];
				if (skill === "") continue;
				var split = skill.split("(");
				if (split.length > 1) {
					var id = split[split.length - 1].split(")")[0];
					clickSkill(id);
				}
				skill = skill + //" (" + $("#skillSelector option:selected").val() + ")
					": " + level;
				if ($("td:contains('" + skill + "')").length > 0)
					continue;
				buttonCode = /*[[#{editor.remove}]]*/ "";
				buttonCode = "<span class='btn btn-danger' onclick='$(this).parents(\"tr\").remove();'>" + buttonCode + "</span>";
				$("#skillTable").append("<tr><td>" + skill + "</td><td>" + buttonCode + "</td></tr>");
			}
		}
		var reqs = /*[[${reqs}]]*/ [];
		for (var i = 0; i < reqs.length; i++) {
			var lvl = 1;
			if (reqs[i].length > 1)
				lvl = reqs[i][1];
			$("#skillSelector").val(reqs[i][0]);
			$("#reqLvl").val(lvl);
			addSkill();
		}
		$("#skillTable td").css('font-weight','bold');
		$("#skillSelector").val('');
		$("#reqLvl").val(1);
		/*]]>*/
							</script>
                            </div>
                                <hr class="separator"/>
                               <button type="button" class="btn btn-primary" id="plusButton" th:text="#{task.group.create}"></button>
                                <p id="curStatus"></p>
		<div id="groupModal" hidden="true">
		<table id="groupTable" class="table table-responsive table-striped">
		<thead>
			<tr>
				<th data-field="group"><span th:text="#{motivations.group}"></span></th>
				<th data-field="experts"><span th:text="#{navbar.experts}"></span></th>
				<th data-field="gsl"><span th:text="#{profile.gsl}"></span></th>
				<!--th data-field="availability"><span th:text="#{profile.availability}"></span></th-->
				<th data-field="tasks"><span th:text="#{profile.gsl.1}"></span></th>
				<th data-field="button"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
			</tr>
		</tbody>
		</table>
		</div>

   			<p th:text="#{editor.task.performers}"></p>
                                <div class="row">
                                    <div class="col-md-12">
									<select id="performers" name="performers" size="6" multiple="true">
										<option value="all" th:text="#{editor.task.performers.all}">All</option>
										<option th:each="user : ${users}" th:value="${user.id}" th:text="${user.username}">admin</option>
									</select>
                                    </div>
                                </div>
	<script th:inline="javascript">
			/*<![CDATA[*/
				var performers = /*[[${performers}]]*/ [];
				if (performers.length > 0 && performers[0] < 0)	// all users
					$("#performers :first").attr("selected", "selected");
				else
					for (i=0; i<performers.length; i++)
						$("#performers option[value='" + performers[i] + "']").attr("selected", "selected");
			/*]]>*/
			</script>
			<p><input type="submit" class="btn btn-primary btn-block" th:value="${create}? #{editor.create} : #{editor.update}" value="submit" id="submitBut" /></p>
	<script th:inline="javascript">
			/*<![CDATA[*/
			
			function hideOrShowElement(element, show) {
				if (show) element.show();
				else element.hide();
			}

			function checkInputs() {
            	var existWarning = /*[[#{editor.error.exists.task}]]*/ "";
            	var shortWarning = /*[[#{editor.title.warning}]]*/ "";
            	var tooBigWarning = /*[[#{editor.error.bigsize}]]*/ "";
            	var emptyDateWarning = /*[[#{editor.error.date}]]*/ "";
            	var warning = "";
            	var disabled = false;

            	var name = $("#name").val();
            	var names = /*[[${names}]]*/ [];
            	for (var i = 0; i < names.length; i++)
            		if (names[i] == name) {
            			warning = warning + existWarning + " ";
            			disabled = true;
            			break;
            		}
            	if (name.length < 5 || name.length > 100) {
        			warning = warning + shortWarning + " ";
        			disabled = true;
            	}

            	if ($("#dueDate").val() == "") {
            		warning = warning + emptyDateWarning + " ";
        			disabled = true;
            	}

    			$("#submitBut")[0].disabled = disabled;
    			$("#warningText").html(warning);
			}
			
            $("#name").on('input', function() {
            	checkInputs();
            });

            $("#dueDate").on('input', function() {
            	checkInputs();
            });
            $("#dueDate").on('change', function() {
            	checkInputs();
            });
            
            checkInputs();

            $("#taskEditForm").on('submit', function() {
				$("#skills").val("");
				$.each($("#skillTable td:even"), function() {
					$("#skills").val($("#skills").val() + $(this).html() + ';');
				});
            });
            $("#type").trigger('input');
            
            function choseGroup(idsStr) {
				var ids = idsStr.split(',');
				// Clear performers
				$("#performers").val('');
				$('#performers :first').prop('selected', false);
				// Select recepients
				for (var i = 1; i < ids.length; i++)
					$('#performers option[value="' + ids[i] + '"]').prop('selected', true);
			}


			function ajaxGroup(requestUrl) {
				
				var inputArgs = [];
				var i;
				for (i = 1; i < arguments.length; i++) {
					inputArgs.push(arguments[i]);
				}
				
				var skills = '';
				$.each($("#skillTable td:even"), function() {
					skills += $(this).html() + '|';
				});
				inputArgs.push(skills);
				inputArgs.push("");
				var targets = '';
				inputArgs.push(targets);
				
				 var csrfHeader = $("meta[name='_csrf_header']").attr("content");
			     var csrfToken = $("meta[name='_csrf']").attr("content");
			     var headers = {};
			     headers[csrfHeader] = csrfToken;

	            var available1 = /*[[#{profile.availability.always}]]*/ "";
	            var available2 = /*[[#{profile.availability.special}]]*/ "";
	            var available3 = /*[[#{profile.availability.good}]]*/ "";
	            var available4 = /*[[#{profile.availability.uncertain}]]*/ "";
	            
	            var average = /*[[#{profile.level.average}]]*/ "";
	            
	            var curStatus1 = /*[[#{task.group.status.1}]]*/ "";
	            var curStatus2 = /*[[#{task.group.status.2}]]*/ "";
	            
	            $("#curStatus").html(curStatus1);
				$.ajax({
					url : requestUrl,
					type: 'POST',
					dataType: 'json',
					contentType: 'application/json; charset=utf-8',
					data : JSON.stringify(inputArgs),
					headers: headers,
					success: function (res) {
			            $("#curStatus").html(curStatus2);
			            $("#groupTable tbody").empty();
						for (var i = 0; i < res.solutions.length; i++) {
							var names = '', gsl = '', avail = '', tasks = '', curAva = '', ids = '0';
							var avgG = 0, avgA = 0, avgT = 0;
							for (var j = 0; j < res.solutions[i].length; j++) {
								names += '<p><a href="' + rootPath + 'viewer/profile?id=' + res.solutions[i][j].id + '" target="_blank">' + res.solutions[i][j].name + '</a></p>';
								gsl += '<p>' + Math.floor(res.solutions[i][j].gsl[0]*100) + '%</p>';
								avgG += res.solutions[i][j].gsl[0];
								curAva = res.solutions[i][j].availability;
								//avgA += Math.floor(curAva);
								//avail += '<p>' + (curAva == "1" ? available1 : curAva = "2" ? available2 : curAva = "3" ? available3 : available4) + '</p>';
								tasks += '<p>' + res.solutions[i][j].tasks + '</p>';
								avgT += res.solutions[i][j].tasks;
								ids += ',' + res.solutions[i][j].userId;
							}
							if (res.solutions[i].length > 0) {
								//avgA /= res.solutions[i].length;
								avgG /= res.solutions[i].length;
								avgT /= res.solutions[i].length;
							}
							$("#groupTable").append(
									'<tr>' + 
									'<td><p>' + (i + 1) + '. ' + res.groupNames[i] + '</p></td>' +
									'<td>' + names + '<p><b>' + average + '</b></p></td>' +
									'<td>' + gsl + '<p><b>' + Math.floor(avgG*100) + '%</b></p></td>' +
									//'<td>' + avail + '<p>' + Math.floor(avgA) + '</p></td>' +
									//'<td>' + avail + '<p>-</p></td>' +
									'<td>' + tasks + '<p><b>' + Math.floor(avgT*10)/10 + '</b></p></td>' +
									'<td><button type="button" class="btn btn-primary btn-block" onclick="choseGroup(\'' + ids + '\')">Select</button></td></tr>');
						}
						$('#groupModal').show();
			            $("#curStatus").html('');
					},
					error: function (xhRequest, ErrorText, thrownError) {
						console.log('xhRequest: ' + xhRequest + "\n");
						console.log('ErrorText: ' + ErrorText + "\n");
						console.log('thrownError: ' + thrownError + "\n");
						console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
					}
				});
			}
			
			$("#plusButton").on("click", function() {ajaxGroup(rootPath + 'editor/ajaxGroup')});

			// editing terms in project
			function addTerm(termid, id, name) {
				if ($('#taskSel').children('option[value="' + termid + ":" + id + '"]').length > 0) return;
				var o = new Option(name, termid + ":" + id);
				$(o).html(name);
				$("#taskSel").append(o);
				$('#taskSel').children('option[value="' + termid + ":" + id + '"]').prop('selected', true);
		    	htmlTerms = $("#taskTerms").html() + "<span class='btn-warning btn btn-primary' id='taskTerm" + id + "'>" +
		    		"<a href='#' onclick='removeTerm(" + termid + "," + id + ")' class='fa fa-remove'></a> " + name + "</span>";
			    $("#taskTerms").html(htmlTerms);
			}
        	var terms = /*[[${terms}]]*/ [];
        	for (var i = 0; i < terms.length; i++) {
        		var term = terms[i].split("~!@");
        		if (term.length < 3) continue;
        		addTerm(term[0], term[1], term[2]);
        	}
			function removeTerm(termid, id) {
				if ($('#taskSel').children('option[value="' + termid + ":" + id + '"]').length == 0) return;
				$('#taskSel').children('option[value="' + termid + ":" + id + '"]').remove();
				$("#taskTerm" + id).remove();
				
			}
			function clearTerms() {
				$('#taskSel').children('option').remove();
			    $("#taskTerms").html("");
			}
			//search staff
			
				// clear search field and hide results table
				function clear() {
					$("#taskTermSearch").val('');
					$("#taskSearchTerms").hide();
				}
			clear();
			
			// add term result
			function addSearchTerm(termid, id, name) {
		    	htmlTerms = $("#taskSearchTerms").html() +
		    		"<span onclick='addTerm(" + termid + ", " + id + ", \"" + name + "\")' class='btn btn-primary btn-warning'>" + name + "</span>";
			    $("#taskSearchTerms").html(htmlTerms);
			}
			
			// terms search
			function ajaxTaskTermSearch(requestUrl) {
				if ($("#taskTermSearch").val().length > 50) {
				     $("#taskSearchSS").text("The search query is too big.");
					return;
				}
				
				var inputArgs = [];
				var i;
				for (i = 1; i < arguments.length; i++) {
					inputArgs.push(arguments[i]);
				}
				
				 var csrfHeader = $("meta[name='_csrf_header']").attr("content");
			     var csrfToken = $("meta[name='_csrf']").attr("content");
			     var headers = {};
			     headers[csrfHeader] = csrfToken;

				inputArgs.push($("#taskTermSearch").val());

				if ($("#search").val() === "")
					return;
			     $("#taskSearchSS").text("searching...");
				$.ajax({
					url : requestUrl,
					type: 'POST',
					dataType: 'json',
					contentType: 'application/json; charset=utf-8',
					data : JSON.stringify(inputArgs),
					headers: headers,
					success: function (res) {
						var results = res.ids.length;
						if (results == null) results = 0;
					     $("#taskSearchSS").text(results + " results");
						if (results > 0)
							$("#taskSearchTerms").show();
						else
							$("#taskSearchTerms").hide();
					    $("#taskSearchTerms").html("");
					    for (var i = 0; i < results; i++)
					    	addSearchTerm(res.terms[i], res.ids[i], res.flags[i]);
					},
					error: function (xhRequest, ErrorText, thrownError) {
				         $("#curStatus").html('ERROR!!!');
						console.log('xhRequest: ' + xhRequest + "\n");
						console.log('ErrorText: ' + ErrorText + "\n");
						console.log('thrownError: ' + thrownError + "\n");
						console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
					}
				});
			}
			$("#taskTermFind").on("click", function() {ajaxTaskTermSearch(rootPath + 'editor/task/ajaxTaskTermSearch')});
			$("#taskTermSearch").keydown(function(e) {if(e.keyCode === 13) ajaxTaskTermSearch(rootPath + 'editor/task/ajaxTaskTermSearch');});
			$("#taskTermClear").on("click", function() {clear()});
			
			function ajaxTaskTermAdd(requestUrl) {
				
				var inputArgs = [];
				var i;
				for (i = 1; i < arguments.length; i++) {
					inputArgs.push(arguments[i]);
				}
				inputArgs.push($("#taskTermSearch").val());
				inputArgs.push(false);
				
				 var csrfHeader = $("meta[name='_csrf_header']").attr("content");
			     var csrfToken = $("meta[name='_csrf']").attr("content");
			     var headers = {};
			     headers[csrfHeader] = csrfToken;

         		$("#taskSearchSS").html('adding...');
				$.ajax({
					url : requestUrl,
					type: 'POST',
					dataType: 'json',
					contentType: 'application/json; charset=utf-8',
					data : JSON.stringify(inputArgs),
					headers: headers,
					success: function (res) {
				        $("#taskSearchSS").html('term has been added');
					},
					error: function (xhRequest, ErrorText, thrownError) {
				         $("#curStatus").html('ERROR!!!');
						console.log('xhRequest: ' + xhRequest + "\n");
						console.log('ErrorText: ' + ErrorText + "\n");
						console.log('thrownError: ' + thrownError + "\n");
						console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
					}
				});
			}
			$("#taskTermAdd").on("click", function() {ajaxTaskTermAdd(rootPath + 'stat/ajaxAdd')});
			
			/*]]>*/
			</script>
		</form>
		</div>