
<div class="collection-object">
	<form action="#"
		th:action="@{/editor/{taskId}/requirement(taskId=${taskId})}"
		th:object="${requirement}" method="post">
		<h3 th:if="${create}" th:text="#{firstline.create.requirement}">Create
			new requirement</h3>
		<h3 th:if="${!create}" th:text="#{firstline.update.requirement}">Update
			requirement</h3>
		<hr />
		<input type="hidden" th:field="*{id}" />
            <span th:text="#{editor.filter}" text="Filter"></span>
            <p><input type="text" class="form-control" id="skillFilter"/></p>
		<p th:text="#{editor.requirement.skill}"></p>
		<p>
			<select th:field="*{skill}" id="skillSelector">
				<option th:each="skillInList : ${skillsList}"
					th:value="${skillInList.id}" th:text="${skillInList.name}">A
					skill</option>
			</select>
			<span th:if="${#fields.hasErrors('skill')}" th:errors="*{skill}">Name
				Error</span>
		</p>
	<script th:inline="javascript">
			/*<![CDATA[*/
	$('#skillSelector option[value="' + /*[[${requirementSkill}]]*/ + '"]').prop('selected', true);
	function applyFilter() {
		var filterText = $("#skillFilter").val().toLowerCase();
		var skillsAndParents = /*[[${skillsAndParents}]]*/ null;
		for (var skill in skillsAndParents) {
			$('#skillSelector option[value="' + skill + '"]').prop('hidden', filterText!=="");
		}
		if (filterText == "")
			return;
		var toShow = [0];
		for (var skill in skillsAndParents) {
			if ($('#skillSelector option[value="' + skill + '"]').html().toLowerCase().indexOf(filterText) > -1) {
				for (var i = 0; i < skillsAndParents[skill].length; i++){
					toShow.push(skillsAndParents[skill][i]);
				}
			}
		}
		for (var i = 0; i < toShow.length; i++) {
			$('#skillSelector option[value="' + toShow[i] + '"]').prop('hidden', false);
		}
	}
	$("#skillFilter").on("input", function() {applyFilter()});
	/*]]>*/
	</script>
		<p id="skillDescription" text="1"></p>
		<p th:text="#{editor.requirement.line1}"></p>
		<p th:text="#{editor.level}"></p>
		<p>
			<span th:text="#{editor.maxlevel}"></span> <span id="maxLevel"
				th:text="#{editor.select_skill}"></span>.
		</p>
		<p>
			<input type="number" th:field="*{level}" min="1" max="100"
				id="levelNumber" /> <span th:if="${#fields.hasErrors('level')}"
				th:errors="*{level}">Error</span>
		</p>
		<p id="levelDescription" text="1"></p>
		<th:block th:replace="fragments/updateLevelDescription :: updateLevelDescription"></th:block>
		<p>
			<input type="submit"
				th:value="${create}? #{editor.create} : #{editor.update}"
				value="submit" />
		</p>
	</form>
</div>