		<div class="row">
		<p><b><span th:text="'Dear ' + ${expertname} + '!'"></span></b></p>
		<p th:text="'Welcome to the HR Innovation Management Platform!'"></p>
		<p><b><span th:text="'What you will find here'"></span></b></p>
		<p th:text="'The platform is aimed at finding, analysing and evaluating HR innovations.'"></p>
		<p><b><span th:text="'How you can contribute your ideas'"></span></b></p>
		<p th:text="'You are welcome to add your innovation ideas! Please, use the Innovations menu for this purpose.'"></p>
		<p><b><span th:text="'Who to contact?'"></span></b></p>
		<p th:text="'For any questions/suggestions, please, contact Mr. Tefik Ismaili (tefik.ismaili@festo.com).'"></p>
		</div>