	<!-- link rel="stylesheet" type="text/css" th:href="@{/resources/css/viewer.css}" href="/resources/css/viewer.css" /-->
		<div class="row">
		
		<p><h2>Categories</h2>
		<span id="getTerms" class="btn btn-primary" th:text="'All'"></span>
		<span th:each="categ : ${categs}" th:id="'getTerms' + ${categ.id}" class="btn btn-primary" th:text="${categ.name}"></span></p>
		<div hidden='true' th:each="cak : ${catKids}" th:id="'cak' + ${cak.key}">
			<h2 th:id="'cakName' + ${cak.key}">Subcategories</h2>
			<span th:id="'getTerms' + ${cak.key}" class="btn btn-primary" th:text="'All'"></span>
			<span th:each="categ : ${cak.value}" th:id="'getTerms' + ${categ.id}"
				class="btn btn-primary" th:text="${categ.name}"></span>
		</div>
		<h3 id='htTitle' hidden='true'>Suggested hot terms</h3>
		<p id="hotTerms"></p>
		<h3>Innovation search</h3>
		<p><div class="two-buttons">
			<input id="search" type="text" name="search" class="form-control"/>
		</div><div class="two-buttons">
			<span id="find" class="btn btn-primary" th:text="'Find'"></span>
			<span id="clear" class="btn btn-danger" ><i class="fa fa-remove"></i></span>
			<span id="add" class="btn btn-primary" th:text="'Add'"></span>
		</div></p>
		<div class="row"><p id="curStatus"></p><div id="statusLinks"></div></div>
		<div id="termsBlock" class="row">
	    <!--div class="two-buttons">.</div>
	    <div class="two-buttons">
			<span id="saveTerm" class="btn btn-primary btn-block" th:text="'Save'" onclick=""></span>
        </div-->
		<table id="termsTable" class="table table-responsive table-striped">
		<thead>
		<tr>
			<th><span th:text="'Term'"></span></th>
			<th><span th:text="'Is innovation'"></span></th>
			<th></th>
			<th><span th:text="'Analize'"></span></th>
		</tr>
		</thead>
		<tbody>
		</tbody>
		</table>
		<p><div class="two-buttons">
			<div class="two-buttons">
				<span class="btn btn-primary btn-block" th:text="'Prev'" onclick="showPage(curPage1 - 1, false);"></span>
	        </div><div class="two-buttons">
				<span class="btn btn-primary btn-block" th:text="'Next'" onclick="showPage(curPage1 + 1, false);"></span>
	    	</div>
		</div></p>
        </div>
		<h3>Innovations</h3>
		<div id="innsBlock" class="row">
		<table id="innsTable" class="table table-responsive table-striped">
		<thead>
		<tr>
			<th><span th:text="'Term'"></span></th>
			<th><span th:text="'Description'"></span></th>
			<th><span th:text="'Trends'"></span></th>
			<th><span th:text="'Categories'"></span></th>
			<th><span th:text="'Impact'"></span></th>
			<th><span th:text="'Analize'"></span></th>
			<th><span th:text="'Remove'"></span></th>
		</tr>
		</thead>
		<tbody>
		</tbody>
		</table>
		<p><div class="two-buttons">
			<div class="two-buttons">
				<span class="btn btn-primary btn-block" th:text="'Prev'" onclick="showPage(curPage2 - 1, true);"></span>
	        </div><div class="two-buttons">
				<span class="btn btn-primary btn-block" th:text="'Next'" onclick="showPage(curPage2 + 1, true);"></span>
	    	</div>
		</div></p>
        </div>
			<script th:inline="javascript">
			/*<![CDATA[*/
				// clear search field and hide results table
				function clear() {
					$("#search").val('');
					$("#termsBlock").hide();
				}
			clear();
			// hide or show element
				function show(element) {
						if (element.is(':hidden'))
							element.show();
						else element.hide();
					}
			
			// parameters for keeping terms (1) and innovations (2)
				var curPage1 = 0, curPage2 = 0;
				var terms, flags, variants, ids, tasks;
				var terms1, flags1, variants1, ids1;
				var terms2, flags2, variants2, ids2;
				
				var tpp = 20; // terms per page
				
				//remember flag change
				function changeFlag(index, chID, isInn) {
					var val = $('#' + chID).is(':checked');
					if (val)
						$('#s' + chID).show();
					else
						$('#s' + chID).hide();
					if (val)
						val = $('#s' + chID).val();
					else
						val = "";
					if (isInn)
						flags2[index] = val;
					else
						flags1[index] = val;
				}
				//remember radio change (term variants)
				function changeTerm(index, id, isInn) {
					var val = $("[name=" + (isInn ? '1' : '2') + id + "]:checked").val();
					if (isInn)
						terms2[index] = val;
					else
						terms1[index] = val;
				}
				// display a page
				var categories = /*[[${categories}]]*/ [];
				function showPage(page, isInn) {
					// define a table: terms or innovations
					if (isInn){
						terms = terms2;
						flags = flags2;
						variants = variants2;
						ids = ids2;
						tableName = "innsTable";
						curPage2 = page;
					} else {
						terms = terms1;
						flags = flags1;
						variants = variants1;
						ids = ids1;
						tableName = "termsTable";
						curPage1 = page;
					}
					$("#" + tableName + " tbody").empty();
					if (terms == null || flags == null) return;
					
					// define limits
					if (page < 0) page = 0;
					var max_value = terms.length;
					if (flags.length < max_value) max_value = flags.length;
					if (variants.length < max_value) max_value = variants.length;
					if (ids.length < max_value) max_value = ids.length;
					var max_page = Math.ceil(max_value / tpp) - 1;
					if (page > max_page) page = max_page;
					if (isInn)
						curPage2 = page;
					else
						curPage1 = page;
					
					// build the table
					for (i = page * tpp; i < (page + 1) * tpp && i < max_value; i++) {
						var line = "<tr>";
						line += "<td";
						//if (variants[i].length > 1)
							//line += " onclick=\"show($('#var" + ids[i] + "'));\"";
						if (isInn)
							line += "><p><a href='" + rootPath + "viewer/task?id=" + flags[i] + "' target='_blank'>"
									+ terms[i] + "</a></p>";
						else
							line += "><p>" + terms[i] + "</p>";
						if (variants[i].length > 1 && !isInn) {
							line += "<div id='var" + i + "'>";
							for (j = 0; j < variants[i].length; j++)
								line += "<p><input name='" + (isInn ? '1' : '2') + i + "' "+
								(variants[i][j] == terms[i] ? "checked " : "") + 
								"onclick='changeTerm(" + i + ", " + i + ", " + isInn + ")'" +
								"value='" + variants[i][j] + "' type='radio'>" + variants[i][j] + "</p>";
							line += "</div>";
						}
						line += "</td>";
						if (isInn) {
							//line += "<td></td><td></td>";
						} else {
							var chID = "ch" + (isInn ? '1' : '2') + i;//ids[i];
							line += "<td><input id='" + chID + "' type='checkbox' disabled onclick='changeFlag(" + i +", \"" + chID +
								"\", " +isInn + ");'" + (flags[i] === '' ? "" : " checked") + "></td>";
							//line += "<td><select id='s" + chID + "' onclick='changeFlag(" + i +", \"" + chID +"\", " +
								//isInn + ");'" + (flags[i] === '' ? " hidden='true'" : "") + ">";
							if (flags[i] !== '')
								line += "<td></td>";
							else
								line += "<td><a target='_blank' href='" + rootPath + "editor/task?term=" +
									ids[i] + "&var=" + terms[i] + "'>create innovation</a></td>";
							for (j = 0; j < categories.length; j++)
								line += "<option " + (flags[i] === categories[j] ? "selected='true' " : "") + 
									"value='" + categories[j] + "'>" + categories[j] + "</option>";
							line += "</select></td>";
						}
						if (isInn) {
							// description
							line += "<td><p>" + tasks[i].original + "</p></td>";
							// trends and categories
							var trends = '';
							for (var j = 0; j < tasks[i].trends.length; j++)
								trends += "<p>" + tasks[i].trends[j].trend.name + "</p>";
							line += "<td>" + trends + "</td>";
							var cats = '';
							for (var j = 0; j < tasks[i].categories.length; j++)
								cats += "<p>" + tasks[i].categories[j].category.name + "</p>";
							line += "<td>" + cats + "</td>";
							// impact
							var impact = "";
							switch (tasks[i].impact) {
							case 0: impact = "Low"; break;
							case 1: impact = "Medium"; break;
							case 2: impact = "High"; break;
							}
							line += "<td><p>" + impact + "</p></td>";
						}
						line += "<td><a target='_blank' href='" + rootPath + "stat/term?id=" + ids[i] + "'>analize</td>";
						if (isInn) {
							line += "<td><a href='" + rootPath + "stat/removeInn?id=" + ids[i] + "'>" +
									"<span class='btn btn-danger'><i class='fa fa-remove'></i></span></a></td>";
						}
						line += "</tr";
						$("#" + tableName).append(line);
					}
				}

				// terms (by query) and innovations (by flag) search
				var curCatID;
				function ajaxSearch(requestUrl) {
					
					var inputArgs = [];
					var i;
					for (i = 1; i < arguments.length; i++) {
						inputArgs.push(arguments[i]);
					}
					
					 var csrfHeader = $("meta[name='_csrf_header']").attr("content");
				     var csrfToken = $("meta[name='_csrf']").attr("content");
				     var headers = {};
				     headers[csrfHeader] = csrfToken;

				     // define table
					var isInn = requestUrl == (rootPath + 'stat/ajaxGetInn');
					if (!isInn)
						inputArgs.push($("#search").val());
					else
						inputArgs.push(curCatID);

					if (!isInn && $("#search").val() === "")
						return;
					if (isInn)
				         $("#curStatus").html('getting innovations...');
					else
		         		$("#curStatus").html('searching...');
			        $("#statusLink").html('');
			        $("#statusLink").attr('href', '');
					$.ajax({
						url : requestUrl,
						type: 'POST',
						dataType: 'json',
						contentType: 'application/json; charset=utf-8',
						data : JSON.stringify(inputArgs),
						headers: headers,
						success: function (res) {
							var results = 0;
							if (res.terms.length > 0)
								results = res.terms.length;
					        // save results
					        tasks = res.tasks;
					        if (isInn) {
								terms2 = res.terms;
								flags2 = res.flags;
								variants2 = res.variants;
								ids2 = res.ids;
						        $("#curStatus").html('');
					        } else {
								terms1 = res.terms;
								flags1 = res.flags;
								variants1 = res.variants;
								ids1 = res.ids;
								if (results > 0)
									$("#termsBlock").show();
								else
									$("#termsBlock").hide();
								if (results >= 100)
									results += '+';
						        $("#curStatus").html(results + ' results');
						    }
					        // display the first page
							showPage(0, isInn);
						},
						error: function (xhRequest, ErrorText, thrownError) {
					         $("#curStatus").html('ERROR!!!');
							console.log('xhRequest: ' + xhRequest + "\n");
							console.log('ErrorText: ' + ErrorText + "\n");
							console.log('thrownError: ' + thrownError + "\n");
							console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
						}
					});
				}
				$("#find").on("click", function() {ajaxSearch(rootPath + 'stat/ajaxSearch')});
				$("#search").keydown(function(e) {if(e.keyCode === 13) ajaxSearch(rootPath + 'stat/ajaxSearch');});
				$("#clear").on("click", function() {clear()});
				curCatID = "0";
				ajaxSearch(rootPath + 'stat/ajaxGetInn');

				let flagMap = new Map();
				let varMap = new Map();
				function ajaxSave(requestUrl, isInn) {
					
					var inputArgs = [];
					var i;
					for (i = 1; i < arguments.length; i++) {
						inputArgs.push(arguments[i]);
					}
					
					 var csrfHeader = $("meta[name='_csrf_header']").attr("content");
				     var csrfToken = $("meta[name='_csrf']").attr("content");
				     var headers = {};
				     headers[csrfHeader] = csrfToken;

				     if (isInn) {
							inputArgs.push(ids2);
							inputArgs.push(flags2);
							inputArgs.push(terms2);
				     } else{
							inputArgs.push(ids1);
							inputArgs.push(flags1);
							inputArgs.push(terms1);
				     } 
	         		$("#curStatus").html('saving...');
			        $("#statusLinks").html('');
					$.ajax({
						url : requestUrl,
						type: 'POST',
						dataType: 'json',
						contentType: 'application/json; charset=utf-8',
						data : JSON.stringify(inputArgs),
						headers: headers,
						success: function (res) {
					        $("#curStatus").html('');
					        var statHtml = '';
					        for (var i = 0; i < res.ids.length; i++) {
					        	var link = rootPath + 'viewer/task?id=' + res.ids[i];
					        	statHtml += "<p><a href='" + link + "' target='_blank'>" + res.terms[i] + "</a></p>";
					        }
					        $("#statusLinks").html(statHtml);
						},
						error: function (xhRequest, ErrorText, thrownError) {
					         $("#curStatus").html('ERROR!!!');
							console.log('xhRequest: ' + xhRequest + "\n");
							console.log('ErrorText: ' + ErrorText + "\n");
							console.log('thrownError: ' + thrownError + "\n");
							console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
						}
					});
				}
				$("#saveInn").on("click", function() {ajaxSave(rootPath + 'stat/ajaxSave', true)});
				//$("#saveTerm").on("click", function() {ajaxSave(rootPath + 'stat/ajaxSave', false)});

				function ajaxAdd(requestUrl) {
					
					var inputArgs = [];
					var i;
					for (i = 1; i < arguments.length; i++) {
						inputArgs.push(arguments[i]);
					}
					inputArgs.push($("#search").val());
					inputArgs.push(true);
					
					 var csrfHeader = $("meta[name='_csrf_header']").attr("content");
				     var csrfToken = $("meta[name='_csrf']").attr("content");
				     var headers = {};
				     headers[csrfHeader] = csrfToken;

	         		$("#curStatus").html('adding...');
			        $("#statusLinks").html('');
					$.ajax({
						url : requestUrl,
						type: 'POST',
						dataType: 'json',
						contentType: 'application/json; charset=utf-8',
						data : JSON.stringify(inputArgs),
						headers: headers,
						success: function (res) {
					        $("#curStatus").html('term has been added: ');
					        var link = rootPath + 'viewer/task?id=' + res.id;
					        $("#statusLinks").html("<p><a href='" + link + "' target='_blank'>" + res.terms[0] + "</a></p>");
						},
						error: function (xhRequest, ErrorText, thrownError) {
					         $("#curStatus").html('ERROR!!!');
							console.log('xhRequest: ' + xhRequest + "\n");
							console.log('ErrorText: ' + ErrorText + "\n");
							console.log('thrownError: ' + thrownError + "\n");
							console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
						}
					});
				}
				$("#add").on("click", function() {ajaxAdd(rootPath + 'stat/ajaxAdd')});

				function findTerm(term) {
					$("#search").val(term);
					$("#find").trigger('click');
				}
				var curCatParent = "";
				function ajaxGetTerms(requestUrl, el) {
					
					var inputArgs = [];
					var id = "";
					if (el !== null) {
						id = el.id.split('getTerms');
						requestUrl += id[id.length - 1];
						id = id[id.length - 1];
					}
					if (id === "") id = "0";
				    if (el == null) el = $("#getTerms")[0];
				    curCatID = id;
					
					 var csrfHeader = $("meta[name='_csrf_header']").attr("content");
				     var csrfToken = $("meta[name='_csrf']").attr("content");
				     var headers = {};
				     headers[csrfHeader] = csrfToken;
				     
				     // mark the current category
				     var isSub = el.parentNode.id.indexOf('cak') >= 0;
				     var buts = $("[id^=getTerms]");
				     for (var i = 0; i < buts.length; i++)
				    	 if (buts[i].classList.contains("btn-success") && (!isSub || buts[i].parentNode.id.indexOf('cak') >= 0))
				    		 buts[i].classList.remove("btn-success")
				    el.classList.add("btn-success");
				    // show subcategories
				    catParent = '#cak' + id;
				    if (id === "0") {
				    	$(curCatParent).hide();
				    	curCatParent = '';
				    }
				    if ($(catParent).length > 0 && curCatParent !== catParent) {
				    	//if (el !== null)
				    		//$("#cakName" + id).text($("#"+el.id).text());
				    	$(curCatParent).hide();
				    	$(catParent).show();
				    	curCatParent = catParent;
				    }
				    $("#htTitle").show();

	         		$("#curStatus").html('getting terms...');
			        $("#statusLinks").html('');
					$.ajax({
						url : requestUrl,
						type: 'POST',
						dataType: 'json',
						contentType: 'application/json; charset=utf-8',
						data : JSON.stringify(inputArgs),
						headers: headers,
						success: function (res) {
					        $("#curStatus").html('');
					        var hotTerms = '';
					        for (var i = 0; i < res.length; i++)
					        	hotTerms = hotTerms + "<span onclick='findTerm(\"" + res[i] +
					        		"\")' class='btn btn-primary btn-warning'>" + res[i] + "</span>";
					        $("#hotTerms").html(hotTerms);
							ajaxSearch(rootPath + 'stat/ajaxGetInn');
					    
						},
						error: function (xhRequest, ErrorText, thrownError) {
					         $("#curStatus").html('ERROR!!!');
							console.log('xhRequest: ' + xhRequest + "\n");
							console.log('ErrorText: ' + ErrorText + "\n");
							console.log('thrownError: ' + thrownError + "\n");
							console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
						}
					});
				}
				$("#getTerms").on("click", function() {ajaxGetTerms(rootPath + 'stat/ajaxGetTerms?catId=0', null)});
				var ids = /*[[${catIDs}]]*/ [];
				for (var i = 0; i < ids.length; i++)
					$("[id=getTerms" + ids[i] + "]").on("click", function() {
						ajaxGetTerms(rootPath + 'stat/ajaxGetTerms?catId=', this)});
			/*]]>*/
			</script>
		</div>