		<div class="row">
		<th:block th:if="${isAuthenticated}">
		<form action="#" th:action="@{/security/logout}" method="post">
			<input type="submit" value="Logout" th:value="#{me.logout}"/>
		</form>
		</th:block>
		<p><span th:text="#{me.username} + ' ' + ${username}"></span></p>
		<p><span th:text="#{me.admin} + ' ' + (${isAdmin}?#{me.admin.true}:#{me.admin.false})"></span></p>
		<p th:text="#{me.roles}">Roles:</p>
		<th:object th:each="authority : ${authorities}">
			<p><span th:text="${authority}"></span></p>
		</th:object>
		<th:object th:if="${companyId > 0}">
		<a th:href="@{/viewer/profile(id=${companyId})}" th:text="#{me.profile}"></a>
		</th:object>
		<div class="row" th:if="${username=='admin'}">
			<script th:inline="javascript">
			/*<![CDATA[*/
				function generate() {
					var url = rootPath + 'viewer/generate?amount=' + $("#amount").val() + '&perfMin=' + $("#perfMin").val() + '&perfMax=' + $("#perfMax").val();
					$(location).attr('href',url);
				}
			/*]]>*/
			</script>
			<span class="two-buttons">Amount: </span><input type="number" class="form-control two-buttons" min="1" id="amount" value="1"/>
			<span class="two-buttons">Min performers: </span><input type="number" class="form-control two-buttons" min="1" id="perfMin" value="3"/>
			<span class="two-buttons">Max performers: </span><input type="number" class="form-control two-buttons" min="1" id="perfMax" value="4"/>
		</div>
		<div class="row" th:if="${username=='admin'}">
			<span class="btn btn-primary btn-block" th:text="'Generate tasks'" onclick="generate();"></span>
		</div>
		</div>