	<script type="text/javascript" th:src="@{/resources/js/tableLoader.js}"></script>

	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/viewer.css}" href="/resources/css/viewer.css" />
	
	<style>
        a {
            cursor: pointer;
        }
    </style>

    <style>
        .Container {
            padding: 0;
            margin: 0;
        }
        .Container li {
            list-style-type: none;
        }
        }
        .IsRoot {
            margin-left: 0;
        }
        .Expand {
            width: 18px;
            height: 18px;
            float: left;
        }
        .Content {
            margin-left:18px;
            min-height: 18px;
        }

        * html .Content {
        }
        .ExpandOpen .Expand {
            background-image: url(/resources/images/minus.gif);
        }
        .ExpandClosed .Expand {
            background-image: url(/resources/images/plus.gif);
        }
        .IsLast {}

        .ExpandLeaf .Expand {
            cursor: auto;
        }
        .ExpandLoading   {
            width: 18px;
            height: 18px;
            float: left;
            background-image: url(/resources/images/expand_loading.gif);
        }

    </style>
    
    <style>
            .right_col {
                font-size: 15px;
            }
        </style>

                <div class="row">
                   <div class="">
                       <div class="x_panel">
                           <div class="x_title">
                                <h3 th:text="#{navbar.messages}"></h3>
                           </div>
                <div class="row">
	                <div class="two-buttons">
						<span class="btn btn-success btn-block" th:text="#{message.new}" onclick="ajaxMessageDialog(rootPath + 'messages/ajaxMessage', '0');"></span>
	                </div>
	                <div class="two-buttons">
	                	<select id="mesFilter">
	                		<option value="0" th:text="#{message.all}">All messages</option>
	                		<option value="1" th:text="#{message.in}">Inbox</option>
	                		<option value="2" th:text="#{message.out}">Sent</option>
	                	</select>
	                </div>
                
                </div>
                           <div class="x_content">
                               <div id="inTable">
                               <h2 th:text="#{message.in}"></h2>
                               <table class="table table-responsive table-striped">
                               		<tbody>
                               		<tr th:each="message : ${inMessages}">
                               			<td th:onclick="'ajaxMessageDialog(\''+ @{/messages/ajaxMessage} +'\', -'+ *{message.id} +')'">
                               				<b th:text="${message.title}"></b>
                               				<br/>
                               				<span id="text" th:text="${message.text}"></span>
                               			</td>
                               			<td class="center">
                               				<a th:href="@{/messages/delete(id=${message.id})}">
                               					<button type="button" class="btn btn-danger"><i class="fa fa-remove"></i></button>
                               				</a>
                               				<button type="button" class="btn btn-trans" th:onclick="'ajaxMessageDialog(\''+ @{/messages/ajaxMessage} +'\', '+ *{message.id} +')'">
                               					<img th:src="@{/resources/images/reply.png}"></img>
                               				</button>
                               			</td>
                               		</tr>
                               		</tbody>
                               </table>
                               </div>
                               <div id="outTable">
                               <h2 th:text="#{message.out}"></h2>
                               <table class="table table-responsive table-striped">
                               		<tbody>
                               		<tr th:each="message : ${messages}">
                               			<td th:onclick="'ajaxMessageDialog(\''+ @{/messages/ajaxMessage} +'\', -'+ *{message.id} +')'">
                               				<b th:text="${message.title}"></b>
                               				<br/>
                               				<span id="text" th:text="${message.text}"></span>
                               			</td>
                               			<td class="center">
                               				<a th:href="@{/messages/delete(id=${message.id})}">
                               					<button type="button" class="btn btn-danger"><i class="fa fa-remove"></i></button>
                               				</a>
                               			</td>
                               		</tr>
                               		</tbody>
                               </table>
                               </div>
                           </div>
                       </div>
                   </div>
                </div>
	<script th:inline="javascript">
			/*<![CDATA[*/
			var els = $("[id=text");
			for (var i = 0; i < els.length; i++)
				//els[i].innerHTML = els[i].innerHTML.replace(/\n/g, '<br>');
				els[i].innerHTML = els[i].innerHTML.substr(0,500);
			
            $("#mesFilter").on('input', function() {
            	var mesFilter = $("#mesFilter").val();
            	if (mesFilter == "0" || mesFilter == "1") $("#inTable").show();
            	else $("#inTable").hide();
            	if (mesFilter == "0" || mesFilter == "2") $("#outTable").show();
            	else $("#outTable").hide();
            });
            
			function ajaxMessageDialog(requestUrl) {
				
				var isReply = true;
				
				var inputArgs = [];
				var i;
				for (i = 1; i < arguments.length; i++) {
					if (arguments[i] < 0) {
						isReply = false;
						//arguments[i] = -arguments[i];
					}
					inputArgs.push(arguments[i]);
				}
				
				var username = /*[[${username}]]*/ "admin";
				
				 var csrfHeader = $("meta[name='_csrf_header']").attr("content");
			     var csrfToken = $("meta[name='_csrf']").attr("content");
			     var headers = {};
			     headers[csrfHeader] = csrfToken;

				$.ajax({
					url : requestUrl,
					type: 'POST',
					dataType: 'json',
					contentType: 'application/json; charset=utf-8',
					data : JSON.stringify(inputArgs),
					headers: headers,
					success: function (res) {
						$("#message_title").val(res.title);
						$("#message_text").val(res.text);
						$("#message_from").html(' ' + res.owner);
						$("#parent").val(res.parentId);
						// Clear recepients
						$("#usersTo").val('');
						$('#usersTo :first').prop('selected', false);
						// Select recepients
						for (var i = 0; i < res.recepients.length; i++)
							$('#usersTo option[value="' + res.recepients[i] + '"]').prop('selected', true);
					    // Remember id of the changed message
					    $("#selfId").val(res.id);
					    
					    // Disable fields if input and enable them otherwise
					    var disable = (res.owner !== username) && (username !== "admin");
				    	$("#message_title")[0].disabled = disable;
				    	$("#message_text")[0].disabled = disable;
				    	$("#usersTo")[0].disabled = disable;
				    	$("#messageSubmitButton")[0].disabled = disable;

						var isChange = (res.id > 0);
						if (isChange) {
							motivationTitle = /*[[#{message.change.new}]]*/ "Change message";
						} else {
							motivationTitle = /*[[#{message.create.new}]]*/ "Create new message";
						}
						document.getElementById('messageFormTitle').innerHTML= "<span id=\"messageName\">" + motivationTitle + "</span>";
						$('#createMessageModal').modal('show');
					},
					error: function (xhRequest, ErrorText, thrownError) {
						console.log('xhRequest: ' + xhRequest + "\n");
						console.log('ErrorText: ' + ErrorText + "\n");
						console.log('thrownError: ' + thrownError + "\n");
						console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
					}
				});
			}
			/*]]>*/
                               </script>
                   
                <div class="modal fade" id="createMessageModal" tabindex="-1" role="dialog" aria-labelledby="createMessageModalLabel" aria-hidden="true">
                	<div th:replace="fragments/editMessageModal :: messageModalForm"></div>
                </div>