
	<script th:inline="javascript">
			/*<![CDATA[*/
			
			function hideOrShowElement(element, hide) {
				if (hide) element.hide();
				else element.show();
			}
			
			minus = null;
			function clickImg(element) {
				if (element.length == 0) return;
				imgId = element.attr('id') + 'img';
				if (minus === null)
					minus = ($("#" + imgId).attr('src').indexOf("/resources/images/dtree/nolines_minus.gif") >= 0);
				if (minus) newSrc = rootPath + "resources/images/dtree/nolines_plus.gif";
				else newSrc = rootPath + "resources/images/dtree/nolines_minus.gif";
				$("#" + imgId).attr('src', newSrc);
				
				hideOrShowElement(element, minus);
				//for (i = 0; i < element.length; i++)
					//clickImg($("[id=" + element[i].getAttribute('name') + "]"));
				$.each(element, function() {clickImg($("[id=" + this.getAttribute('name') + "]"));});
			}
			
			disabledWarning = false;
			changeWarning = false;
			disabledWarningText = /*[[#{motivations.warning.disabled}]]*/ "This group cannot be motivation because it is not empty";
			changeWarningText = /*[[#{motivations.warning.change}]]*/ "If you change the motivation type to a group, the description and cost will not be displayed";
			function editWarning(subject, show) {
				text = "";
				if (subject == "disabled") disabledWarning = show;
				if (subject == "change") changeWarning = show;
				if (disabledWarning) text = disabledWarningText;
				if (changeWarning) text += ((text == "")?"":". ") + changeWarningText;
				$(warning).html(text);
			}
			
			wasMotivation = false;
			function radioTypeClick() {
				isGroup = $("input:radio[name=radioType]:checked").val() == "group";
				// Hide description and cost for a group or show them for a motivation
				hideOrShowElement($("#motivation_description"), isGroup);
				hideOrShowElement($("#descriptionTitle"), isGroup);
				hideOrShowElement($("#costTitle"), isGroup);
				hideOrShowElement($("#motivation_cost"), isGroup);
				
				$(selfIsGroup).val(isGroup);
				
				motivationSave = /*[[#{motivations.save}]]*/ "Save motivation";
				groupSave = /*[[#{motivations.group.save}]]*/ "Save motivation group";
				$(motivationSubmitButton).val(isGroup?groupSave:motivationSave);
				
				editWarning("change", isGroup && wasMotivation);
			}
			
			function ajaxMotivationDialog(requestUrl) {
				
				var isChange = false;
				
				var inputArgs = [];
				var i;
				for (i = 1; i < arguments.length; i++) {
					if (arguments[i] < 0) {
						isChange = true;
						arguments[i] = -arguments[i];
					}
					inputArgs.push(arguments[i]);
				}
				
				 var csrfHeader = $("meta[name='_csrf_header']").attr("content");
			     var csrfToken = $("meta[name='_csrf']").attr("content");
			     var headers = {};
			     headers[csrfHeader] = csrfToken;
				
				$.ajax({
					url : requestUrl,
					type: 'POST',
					dataType: 'json',
					contentType: 'application/json; charset=utf-8',
					data : JSON.stringify(inputArgs),
					headers: headers,
					success: function (res) {
						if (res.parentId == null)
							$('#parentSelect option[value=""]').prop('selected', true);
						else
							$('#parentSelect option[value="' + res.parentId + '"]').prop('selected', true);
						document.getElementById('deleteLink').setAttribute('href', './motivations/delete?id=' + res.id);
						if (isChange) {
							wasMotivation = !res.isGroup;
							// Copy values from changed motivation
							$("#motivation_name").val(res.name);
							$("#motivation_description").val(res.description);
							$("#motivation_cost").val(res.cost);
							$("#motivation_code").val(res.code);
						    $("#selfIsGroup").val(res.isGroup);
						    // Remember id of the changed motivation
						    $("#selfId").val(res.id);
						}
						else {
							// Clear all values
							$("#motivation_name").val("");
							$("#motivation_description").val("");
							$("#motivation_cost").val(1);
							$("#motivation_code").val("");
						    $("#selfIsGroup").val(res.isGroup);
						    // Forget motivation id
						    $("#selfId").val(0);
						}
						if (res.hasChildren) {
							$("input:radio[name=radioType]:nth(1)").attr('disabled', true);
							editWarning("disabled", true);
						} else {
							$("input:radio[name=radioType]:nth(1)").attr('disabled', false);
							editWarning("disabled", false);
						}
						$("input:radio[name=radioType]:nth(" + (res.isGroup?"0":"1") + ")").click();
						radioTypeClick();
						if (isChange) {
							motivationTitle = /*[[#{motivation.change.new}]]*/ "Change motivation";
							groupTitle = /*[[#{motivation.group.change.new}]]*/ "Change motivation group";
						} else {
							motivationTitle = /*[[#{motivation.create.new}]]*/ "Create new motivation";
							groupTitle = /*[[#{motivation.group.create.new}]]*/ "Create new motivation group";
						}
						document.getElementById('motivationFormTitle').innerHTML=
							"<span id=\"motivationName\">" + (res.isGroup?groupTitle:motivationTitle) + "</span>";
						if (!isChange) {
							$(deleteLink).hide();
							$('#submitBlock').attr('class', '')
						}
						else {
							$(deleteLink).show();
							$('#submitBlock').attr('class', 'two-buttons')
						}
					    // Hide this motivation and its children from parent motivation select list or show them all
					    function checkParents(parents, id) {
					    	for (var i=0; i<parents.length; i++)
					    		if (parents[i] == id){
					    			return true;
					    		}
					    	return false;
					    }
						var motivationsAndParents = /*[[${motivationsAndParents}]]*/ null;
					    for (var motivation in motivationsAndParents)
							$('#parentSelect option[value="' + motivation + '"]').prop('hidden', checkParents(motivationsAndParents[motivation], res.id));
						$('#createMotivationModal').modal('show');
					},
					error: function (xhRequest, ErrorText, thrownError) {
						console.log('xhRequest: ' + xhRequest + "\n");
						console.log('ErrorText: ' + ErrorText + "\n");
						console.log('thrownError: ' + thrownError + "\n");
						console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
					}
				});
			} //ajaxMotivationDialog(rootPath + 'motivations/ajaxMotivation', '-${motivation.id}');
			/*]]>*/
			</script>
			
                <div class="row">
                   <div class="col-md-12">
                       <div class="x_panel">
                           <div class="x_title">
                                <h3 th:text="#{navbar.motivations}"></h3>
                           </div>
                           <div class="x_content">
                               <table id="motivationsTable" class="table table-responsive table-striped">
                               		<thead>
                               			<tr>
                               				<th data-field="name"><span th:text="#{motivations.name}"></span></th>
                               				<th data-field="description"><span th:text="#{motivations.description}"></span></th>
                               				<th data-field="code"><span th:text="#{motivations.code}"></span></th>
                               				<th data-field="cost"><span th:text="#{motivations.cost}"></span></th>
                               			</tr>
                               		</thead>
                               		<tbody>
                               			<tr th:each="motivation : ${motivationsList}" th:id="'row' + ${motivation.parent?.id}" th:name="'row' + ${motivation.id}">
											<td><a th:id="'td' + ${motivation.id}" th:onclick="'clickImg($(row' + ${motivation.id} + ')); minus = null;'">
												<img th:id="'row' + ${motivation.id} + 'img'" th:if="${motivation.isGroup}" th:src="@{/resources/images/dtree/nolines_minus.gif}"></img></a>
												<img th:unless="${motivation.isGroup}" th:src="@{/resources/images/dtree/motivation.gif}"></img>
												<a th:id="'td' + ${motivation.id} + 'name'" href="#" th:text="${motivation.name}" th:onclick="'ajaxMotivationDialog(\''+ @{/motivations/ajaxMotivation} +'\', -'+ *{motivation.id} +', '+ *{motivation.isGroup} +')'"></a>
											</td>
											<td><span th:unless="${motivation.isGroup}" th:text="${motivation.description}"></span></td>
											<td><span th:text="${motivation.code}"></span></td>
											<td><span th:unless="${motivation.isGroup}" th:if="${motivation.cost} > 0" th:text="${motivation.cost}"></span></td>
                               			</tr>
                               		</tbody>
                               </table>
                               <script type="text/javascript">
                               $.each($('a[id *= td]:not([id *= name])'), function() {
                            	   id = "#" + this.getAttribute('id');
                            	   idName = id + "name";
                            	   while ($(idName).html().indexOf("-- ") == 0) {
                                       $(id).html('<img src="' + rootPath + 'resources/images/dtree/line.gif"></img>' + $(id).html())
                                       $(idName).html($(idName).html().substring(3))
                            	   }
                               });
                               </script>
				                <div class="two-buttons">
									<span class="btn btn-primary btn-block" th:text="#{motivations.add}" onclick="ajaxMotivationDialog(rootPath + 'motivations/ajaxMotivation', '0', false);"></span>
				                </div><div class="two-buttons">
									<span class="btn btn-primary btn-block " th:text="#{motivations.group.add}" onclick="ajaxMotivationDialog(rootPath + 'motivations/ajaxMotivation', '0', true);"></span>
								</div>
                           </div>
                       </div>
                   </div>
                </div>
                   
                <div class="modal fade" id="createMotivationModal" tabindex="-1" role="dialog" aria-labelledby="createMotivationModalLabel" aria-hidden="true">
                	<div th:replace="fragments/editMotivationModal :: motivationModalForm"></div>
                </div>
                <script>
                $(motivationCreate).on('submit', function() {if ($(motivationCreate).val() == "") $(motivation_cost).val(0);});
                	var submitMotivationForm = function() {
                	  	var $form = $('#motivationCreate');
                	    
                	    var csrfHeader = $("meta[name='_csrf_header']").attr("content");
                	    var csrfToken = $("meta[name='_csrf']").attr("content");
                	    var headers = {};
                	    headers[csrfHeader] = csrfToken;
                	    
                	    $.ajax({
                	      url: $form.attr('action'),
                	      type: 'post',
                	      data: $form.serialize(),
                	      headers: headers,
                	      success: function(response) {
                	        if (response.indexOf("Form successfully submitted") === -1) {
                	        	$form.replaceWith(response);
                	        } else {
                	        	location.reload();
                	        }
                	      },
                	      error: function (xhRequest, ErrorText, thrownError) {
                				console.log('xhRequest: ' + xhRequest + "\n");
                	            console.log('ErrorText: ' + ErrorText + "\n");
                	            console.log('thrownError: ' + thrownError + "\n");
                	            console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
                	      }
                	});
                	}
                </script>