
<div class="navbar-offset">
	<form action="#" th:action="@{/security/register}"
		th:object="${registrationForm}" method="post">
		<input type="hidden" th:field="*{id}" />
		<p>
			<input type="text" th:field="*{username}" placeholder="Username"
				th:placeholder="#{register.username}" onblur="addCheck(this, 1, 0)" />
		</p>
		<p>
			<input type="text" th:field="*{password}" placeholder="Password"
				th:placeholder="#{register.password}" onblur="addCheck(this, 1, 0)" />
			<span th:if="${isCreate}==false" th:text="#{register.password.change}"></span>
		</p>
		<p>
			<span th:text="#{register.permissions}">Permissions:</span>
		</p>
		<p>
			<span th:text="#{role.admin} + ': '"></span><input type="checkbox"
				th:field="*{adminRole}" value="false" />
		</p>
		<p>
			<span th:text="#{role.resident} + ': '"></span><input type="checkbox" id="resRole"
				th:field="*{residentRole}" value="false"/>
		</p>
		<p>
			<span th:text="#{register.profile}" id="profileText"></span>
		</p>
		<p>
			<select id="profileSelect" th:field="*{profileId}">
				<option th:value="null" th:text="#{register.noprofile}">No
					profile</option>
				<option th:each="profileInList : ${profileList}"
					th:value="${profileInList.id}" th:text="${profileInList.name}"
					th:selected="${profileInList.selected}? true : false">A
					profile</option>
			</select>
		</p>
		<script>
			$("#resRole").on("change", function() {
				$("#profileText").prop("hidden", !$("#resRole").prop('checked'));
				$("#profileSelect").prop("hidden", !$("#resRole").prop('checked'));
			});
			$("#resRole").trigger("change");
		</script>
		<p>
			<input type="submit"
				th:value="${isCreate}? #{editor.create} : #{editor.update}" />
		</p>
	</form>
</div>