	
	<style>
        a {
            cursor: pointer;
        }
    </style>
    
    <style>
            .right_col {
                font-size: 15px;
            }
            .font-italic {
                font-style: italic;
            }
            .font-bold {
                font-weight: bold;
            }
        </style>
        
                <div class="row">
                   <div class="">
                       <div class="x_panel">
                           <div class="x_title">
                                <h3 th:text="#{navbar.reward}"></h3>
                           </div>
                <div class="row">
						<span class="btn btn-success btn-block" th:text="#{reward.new}" onclick="ajaxRewardDialog(rootPath + 'rewards/ajaxReward', '0');"></span>
                </div>
                           <div class="x_content">
                               <table class="table table-responsive table-striped table-hover" id="rewTable">
                               		<thead>
                               			<tr>
                               				<th data-field="experts"><span th:text="#{reward.experts}"></span></th>
                               				<th data-field="motivations"><span th:text="#{reward.motivations}"></span></th>
                               				<th data-field="sendedTime"><span th:text="#{reward.sended}"></span></th>
                               			</tr>
                               		</thead>
                               		<tbody>
                               		<th:block th:each="block : ${rewards}">
                               		<tr>
                               			<td colspan="4" class="center"><b th:text="${block.key}"></b></td>
                               		</tr>
                               		<tr th:each="reward : ${block.value}">
										<td><p th:each="expert : ${reward.experts}">
											<a th:href="@{/viewer/profile(id=${expert.id})}" th:text="${expert.name}"></a>
										</p></td>
										<td><p th:each="motivation : ${reward.motivations}">
											<p th:text="${motivation.name}"></p>
										</p></td>
										<td th:text="${reward.sendedTime}"></td>
                               			<td class="center">
                               				<button type="button" class="btn btn-trans" th:onclick="'ajaxRewardDialog(\''+ @{/rewards/ajaxReward} +'\', -'+ ${reward.id} +')'">
                               					<img th:src="@{/resources/images/edit.png}"></img>
                               				</button>
                               				<a th:href="@{/rewards/delete(id=${reward.id})}">
                               					<button type="button" class="btn btn-danger"><i class="fa fa-remove"></i></button>
                               				</a>
                               			</td>
                               		</tr>
                               		</th:block>
                               		</tbody>
                               </table>
                           </div>
                       </div>
                   </div>
                </div>
	<script th:inline="javascript">
			/*<![CDATA[*/
			
			function ajaxRewardDialog(requestUrl) {
				
				var isReply = true;
				
				var inputArgs = [];
				var i;
				for (i = 1; i < arguments.length; i++) {
					if (arguments[i] < 0) {
						isReply = false;
					}
					inputArgs.push(arguments[i]);
				}
				
				 var csrfHeader = $("meta[name='_csrf_header']").attr("content");
			     var csrfToken = $("meta[name='_csrf']").attr("content");
			     var headers = {};
			     headers[csrfHeader] = csrfToken;

				$.ajax({
					url : requestUrl,
					type: 'POST',
					dataType: 'json',
					contentType: 'application/json; charset=utf-8',
					data : JSON.stringify(inputArgs),
					headers: headers,
					success: function (res) {
						// Clear experts
						$("#experts").val('-1');
						//$('#usersTo :first').prop('selected', false);
						// Select experts
						for (var i = 0; i < res.expertsIDs.length; i++)
							$('#experts option[value="' + res.expertsIDs[i] + '"]').prop('selected', true);
						// Clear motivations
						$("#motivations").val('-1');
						// Select motivations
						for (var i = 0; i < res.motivationsIDs.length; i++)
							$('#motivations option[value="' + res.motivationsIDs[i] + '"]').prop('selected', true);
					    // Remember id of the changed message
					    $("#selfId").val(res.id);

						var isChange = (res.id > 0);
						if (isChange) {
							rewardTitle = /*[[#{reward.change.new}]]*/ "Change reward";
						} else {
							rewardTitle = /*[[#{reward.create.new}]]*/ "Create new reward";
						}
						document.getElementById('rewardFormTitle').innerHTML= "<span id=\"rewardName\">" + rewardTitle + "</span>";
						if (!isChange) {
							$("#deleteLink").hide();
							$('#submitBlock').attr('class', '')
						}
						else {
							$("#deleteLink").show();
							$('#submitBlock').attr('class', 'two-buttons')
						}
						$('#createRewardModal').modal('show');
					},
					error: function (xhRequest, ErrorText, thrownError) {
						console.log('xhRequest: ' + xhRequest + "\n");
						console.log('ErrorText: ' + ErrorText + "\n");
						console.log('thrownError: ' + thrownError + "\n");
						console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
					}
				});
			}
			/*]]>*/
                               </script>
                   
                <div class="modal fade" id="createRewardModal" tabindex="-1" role="dialog" aria-labelledby="createRewardModalLabel" aria-hidden="true">
                	<div th:replace="fragments/editRewardModal :: rewardModalForm"></div>
                </div>