	<script type="text/javascript" th:src="@{/resources/js/tableLoader.js}"></script>

	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/viewer.css}" href="/resources/css/viewer.css" />
	
	<style>
        a {
            cursor: pointer;
        }
    </style>

    <style>
        .Container {
            padding: 0;
            margin: 0;
        }
        .Container li {
            list-style-type: none;
        }
        }
        .IsRoot {
            margin-left: 0;
        }
        .Expand {
            width: 18px;
            height: 18px;
            float: left;
        }
        .Content {
            margin-left:18px;
            min-height: 18px;
        }

        * html .Content {
        }
        .ExpandOpen .Expand {
            background-image: url(/resources/images/minus.gif);
        }
        .ExpandClosed .Expand {
            background-image: url(/resources/images/plus.gif);
        }
        .IsLast {}

        .ExpandLeaf .Expand {
            cursor: auto;
        }
        .ExpandLoading   {
            width: 18px;
            height: 18px;
            float: left;
            background-image: url(/resources/images/expand_loading.gif);
        }

    </style>
    
    <style>
            .right_col {
                font-size: 15px;
            }
        </style>
        
                <div class="row">
                   <div class="">
                       <div class="x_panel">
                           <div class="x_title">
                                <h3 th:text="#{navbar.reward}"></h3>
                           </div>
                <div class="row">
						<span class="btn btn-success btn-block" th:text="#{reward.new}" onclick="ajaxRewardDialog(rootPath + 'rewards/ajaxReward', '0');"></span>
                </div>
                           <div class="x_content">
                               <table class="table table-responsive table-striped table-hover" id="rewTable">
                               		<thead>
                               			<tr>
                               				<th data-field="name"><span th:text="#{reward.name}"></span></th>
                               				<th data-field="description"><span th:text="#{reward.description}"></span></th>
                               				<th data-field="experts"><span th:text="#{reward.experts}"></span></th>
                               				<th data-field="motivations"><span th:text="#{reward.motivations}"></span></th>
                               			</tr>
                               		</thead>
                               		<tbody>
                               		<tr th:each="reward : ${rewards}">
                               			<td th:onclick="'ajaxRewardDialog(\''+ @{/rewards/ajaxReward} +'\', -'+ ${reward.id} +')'" th:text="${reward.name}"></td>
                               			<td th:onclick="'ajaxRewardDialog(\''+ @{/rewards/ajaxReward} +'\', -'+ ${reward.id} +')'" th:text="${reward.description}"></td>
										<td><p th:each="expert : ${reward.experts}">
											<a th:href="@{/viewer/profile(id=${expert.id})}" th:text="${expert.name}"></a>
										</p></td>
										<td><p th:each="motivation : ${reward.motivations}">
											<a th:href="@{/viewer/profile(id=${motivation.id})}" th:text="${motivation.name}"></a>
										</p></td>
                               			<td class="center">
                               				<a th:href="@{/rewards/delete(id=${reward.id})}">
                               					<button type="button" class="btn btn-danger"><i class="fa fa-remove"></i></button>
                               				</a>
                               			</td>
                               		</tr>
                               		</tbody>
                               </table>
                           </div>
                       </div>
                   </div>
                </div>
	<script th:inline="javascript">
			/*<![CDATA[*/
			
			function ajaxRewardDialog(requestUrl) {
				
				var isReply = true;
				
				var inputArgs = [];
				var i;
				for (i = 1; i < arguments.length; i++) {
					if (arguments[i] < 0) {
						isReply = false;
					}
					inputArgs.push(arguments[i]);
				}
				
				 var csrfHeader = $("meta[name='_csrf_header']").attr("content");
			     var csrfToken = $("meta[name='_csrf']").attr("content");
			     var headers = {};
			     headers[csrfHeader] = csrfToken;

				$.ajax({
					url : requestUrl,
					type: 'POST',
					dataType: 'json',
					contentType: 'application/json; charset=utf-8',
					data : JSON.stringify(inputArgs),
					headers: headers,
					success: function (res) {
						$("#reward_name").val(res.name);
						$("#reward_description").val(res.description);
						// Clear experts
						$("#experts").val('-1');
						//$('#usersTo :first').prop('selected', false);
						// Select experts
						for (var i = 0; i < res.experts.length; i++)
							$('#experts option[value="' + res.experts[i].id + '"]').prop('selected', true);
					    // Remember id of the changed message
					    $("#selfId").val(res.id);

						var isChange = (res.id > 0);
						if (isChange) {
							rewardTitle = /*[[#{reward.change.new}]]*/ "Change reward";
						} else {
							rewardTitle = /*[[#{reward.create.new}]]*/ "Create new reward";
						}
						document.getElementById('rewardFormTitle').innerHTML= "<span id=\"rewardName\">" + rewardTitle + "</span>";
						$('#createRewardModal').modal('show');
					},
					error: function (xhRequest, ErrorText, thrownError) {
						console.log('xhRequest: ' + xhRequest + "\n");
						console.log('ErrorText: ' + ErrorText + "\n");
						console.log('thrownError: ' + thrownError + "\n");
						console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
					}
				});
			}
			/*]]>*/
                               </script>
                   
                <div class="modal fade" id="createRewardModal" tabindex="-1" role="dialog" aria-labelledby="createRewardModalLabel" aria-hidden="true">
                	<div th:replace="fragments/editRewardModal :: rewardModalForm"></div>
                </div>