	<script type="text/javascript" th:src="@{/resources/js/tableLoader.js}"></script>

	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/viewer.css}" href="/resources/css/viewer.css" />
	
	<style>
        a {
            cursor: pointer;
        }
    </style>

    <style>
        .Container {
            padding: 0;
            margin: 0;
        }

        .Container li {
            list-style-type: none;
        }
        }
        .IsRoot {
            margin-left: 0;
        }
        .Expand {
            width: 18px;
            height: 18px;
            float: left;
        }
        .Content {
            margin-left:18px;
            min-height: 18px;
        }
        * html .Content {
            height: 18px;
        }
        .ExpandOpen .Expand {
            background-image: url(/resources/images/minus.gif);
        }
        .ExpandClosed .Expand {
            background-image: url(/resources/images/plus.gif);
        }
        .IsLast {}

        .ExpandLeaf .Expand {
            cursor: auto;
        }
        .ExpandLoading   {
            width: 18px;
            height: 18px;
            float: left;
            background-image: url(/resources/images/expand_loading.gif);
        }

    </style>
    
    <style>
            .right_col {
                font-size: 15px;
            }
        </style>

				<div class="modal fade" id="createSkillModal" tabindex="-1" role="dialog" aria-labelledby="createTaskModalLabel" aria-hidden="true">
                    <div th:replace="fragments/editSkillModal :: skillModalForm"></div>
                </div>
                <script>
                	var submitSkillForm = function() {
                	  	var $form = $('#skillCreate');
                	    
                	    var csrfHeader = $("meta[name='_csrf_header']").attr("content");
                	    var csrfToken = $("meta[name='_csrf']").attr("content");
                	    var headers = {};
                	    headers[csrfHeader] = csrfToken;
                	    
                	    $.ajax({
                	      url: $form.attr('action'),
                	      type: 'post',
                	      data: $form.serialize(),
                	      headers: headers,
                	      success: function(response) {
                	        if (response.indexOf("Form successfully submitted") === -1) {
                	        	$form.replaceWith(response);
                	        } else {
                	        	location.reload();
                	        }
                	      },
                	      error: function (xhRequest, ErrorText, thrownError) {
                				console.log('xhRequest: ' + xhRequest + "\n");
                	            console.log('ErrorText: ' + ErrorText + "\n");
                	            console.log('thrownError: ' + thrownError + "\n");
                	            console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
                	      }
                	});
                	}
                </script>

                <div class="row">
                    <span th:text="#{editor.filter}" text="Filter"></span>
					<p><input type="text" class="form-control" id="skillFilter"/></p>
					<script>
					function clearFilter(){
						$("#skillFilter").val("");
						$("#skillFilter").trigger("input");
					}
					</script>
					<p><span class="btn btn-warning btn-block" th:text="#{editor.clear}" onclick='clearFilter();'></span></p>
					<script>
					function expandTree(toExpand) {
						if (toExpand == true)
							while ($("img[src$='plusbottom.gif']:visible,img[src$='plus.gif']:visible").length > 0)
								$("img[src$='plusbottom.gif']:visible,img[src$='plus.gif']:visible").click();
						else
							$("img[src$='minusbottom.gif']:visible,img[src$='minus.gif']:visible").click();
					}
					</script>
                <div class="two-buttons">
					<span class="btn btn-primary btn-block" th:text="#{skill.expand}" onclick='expandTree(true);'></span>
                </div><div class="two-buttons">
					<span class="btn btn-primary btn-block" th:text="#{skill.collapse}" onclick='expandTree(false);'></span>
				</div>
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_title row">
                                <h3 style="float: left;" th:text="#{navbar.skills}"></h3>
                                <div th:if="${isAdmin or isResident}" style="float: right; margin-top: 5px;">
                                       <button type="button" class="btn btn-success pull-left" data-toggle="modal" id="plusButton"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <div class="x_content" th:include="fragments/skillTree :: skillTree"></div>
                        </div>
                    </div>
                </div>
	<script th:inline="javascript">
			/*<![CDATA[*/
	function applyFilter() {
		var filterText = $("#skillFilter").val().toLowerCase();
		var skillsAndParents = /*[[${skillsAndParents}]]*/ null;
		for (var skill in skillsAndParents) {
			$('#dtn' + skill).prop('hidden', filterText!=="");
		}
		if (filterText == "")
			return;
		var toShow = [0];
		for (var skill in skillsAndParents) {
			var nodeId = $('#dtn' + skill).attr('nodeId');
			if ($('#sd' + nodeId).html().toLowerCase().indexOf(filterText) > -1) {
				for (var i = 0; i < skillsAndParents[skill].length && i < 1; i++){
					toShow.push(skillsAndParents[skill][i]);
				}
			}
		}
		for (var i = 0; i < toShow.length; i++) {
			if ($('#dtn' + toShow[i]) !== null)
				$('#dtn' + toShow[i]).prop('hidden', false);
		}
	}
	$("#skillFilter").keydown(function(e) {if(e.keyCode === 13) applyFilter()});
	$("#plusButton").on("click", function() {ajaxSkillDialog(rootPath + 'viewer/ajaxSkill', '0')});
	/*]]>*/
	</script>