			<div th:replace="fragments/skillPopup"></div>
			<div th:if="${isAdmin or isResident}" class="collection-object">
				<a th:onclick="ajaxSkillDialog('@{/viewer/ajaxSkill}', '0')">
					<span class="input-group-btn">
						<button class="btn btn-lg" type="submit" th:text="#{tree.create}">Create Root Skill</button>
					</span>
				</a>
			</div>
			<div class="collection-object">
				<div th:replace="fragments/search (${address},${useSearch},${seacrh},${manual})"></div>
			</div>
			<div class="collection-object">
			<script th:inline="javascript">
			/*<![CDATA[*/
			    
			    var skillTreeHeader = /*[[#{tree.header}]]*/ 'Skill Tree';
				var skillDraft = /*[[@{/resources/images/dtree/skill-draft.gif}]]*/ '/resources/images/dtree/skill-draft.gif'
			           
			    d = new dTree('d');       
			    d.add(0,-1,skillTreeHeader);       
			           
		    	var skills = /*[[${skills}]]*/ null;
		    	for (var parent in skills) {
		   			if (skills.hasOwnProperty(parent)) {
		   				for (var i=0; i<skills[parent].length; i++) {
		   					if (skills[parent][i].draft) {
		   						d.add(skills[parent][i].id,
		   								parent,
		   								skills[parent][i].name,
		   								skills[parent][i].id,
		   								null,
		   								null,
		   								/*[[@{/resources/images/dtree/skill-draft.gif}]]*/ '/resources/images/dtree/skill-draft.gif'
		   								,
		   								/*[[@{/resources/images/dtree/skill-draft.gif}]]*/ '/resources/images/dtree/skill-draft.gif'
		   								);
		   					} else {
		   						d.add(skills[parent][i].id,
		   								parent,
		   								skills[parent][i].name,
		   								skills[parent][i].id);
		   					}
		   				}
		   			}
		   		}
		    	
		    	document.write(d);
		    	
		    	var searchId = /*[[${searchId}]]*/ 0;
		    	if (searchId != 0) {
		    		d.openTo(searchId, true);
		    	}
			
			/*]]>*/
			</script>
			<script th:inline="javascript">
			/*<![CDATA[*/
			function ajaxSkillDialog(requestUrl) {
				
				var admin = /*[[${isAdmin}]]*/ false;
				var resident = /*[[${isResident}]]*/ false;	
				
				admin = admin || resident;
					
				$( "#skillDialog" ).dialog({ 
					autoOpen: false,
					width: "auto"
				});
				
				var inputArgs = [];
				var i;
				for (i = 1; i < arguments.length; i++) {
					inputArgs.push(arguments[i]);
				}
				
				 var csrfHeader = $("meta[name='_csrf_header']").attr("content");
			     var csrfToken = $("meta[name='_csrf']").attr("content");
			     var headers = {};
			     headers[csrfHeader] = csrfToken;
				
				$.ajax({
					url : requestUrl,
					type: 'POST',
					dataType: 'json',
					contentType: 'application/json; charset=utf-8',
					data : JSON.stringify(inputArgs),
					headers: headers,
					success: function (res) {
						document.getElementById('skillName').innerHTML=res.name;
						document.getElementById('skillAbout').innerHTML=res.about;
						document.getElementById('skillLevels').innerHTML='1 - ' + res.maxLevel;
						document.getElementById('rememberLink').setAttribute('onclick', "my_ajaxDialog('./dashboard/rememberSkill', '" + res.id + "'); return false;");
						document.getElementById('levelsView').innerHTML=generateLevelTable(res.levels, admin, res.id);
						if (admin) {
							document.getElementById('editLink').setAttribute('href', './editor/skill?id=' + res.id);
							document.getElementById('parentId').setAttribute('value', res.id);
							document.getElementById('deleteLink').setAttribute('href', './editor/skill/delete?id=' + res.id);
							if (!resident && res.draft) {
								document.getElementById('approveLink').setAttribute('href', './editor/skill/approve?id=' + res.id);
								$('#approveLink').show();
							} else {
								$('#approveLink').hide();
							}
						}
						if (res.id > 0) {
							$("#viewSkillBlock").show();
						} else {
							$("#viewSkillBlock").hide();
						}
						$( "#skillDialog" ).dialog( "open" );
					},
					error: function (xhRequest, ErrorText, thrownError) {
						console.log('xhRequest: ' + xhRequest + "\n");
						console.log('ErrorText: ' + ErrorText + "\n");
						console.log('thrownError: ' + thrownError + "\n");
						console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
					}
				});
			}
			
			var treeSkillLevelEdit = /*[[#{skill.level.edit}]]*/ 'Edit Skill Level';
			var treeSkillLevelDefine = /*[[#{skill.level.define}]]*/ 'Define Skill Level';
			
			function generateLevelTable(levels, admin, skillId) {
				res="";
				for (i = 0; i < levels.length; i++) {
					res += "<tr><td><p>";
					res += "<span>" + levels[i].level + " - " + levels[i].about + "</span>";
					if (admin) {
						res += "<a href=\""+/*[[@{/editor}]]*/ "/editor";
						if (levels[i].id > 0) {
							res += "/" + skillId + "/skillLevel?level=" + levels[i].level + "\"><button class=\"btn btn-lg\" type=\"submit\">" + treeSkillLevelEdit + "</button>";
						} else {
							res += "/" + skillId + "/skillLevel?level=" + levels[i].level + "\"><button class=\"btn btn-lg\" type=\"submit\">" + treeSkillLevelDefine + "</button>";
						}
					}
					res += "</p></td></tr>\n";
				}
				return res;
			}
			/*]]>*/
			</script>
			<script th:inline="javascript" th:if="${isAdmin or isResident}">
			/*<![CDATA[*/
			           
			var totalLevels = [""];
			
			var placeholderAboutRu = /*[[#{editor.placeholder.description_ru}]]*/ 'About (RU)';
			var placeholderAboutEn = /*[[#{editor.placeholder.description_en}]]*/ 'About (EN)';
			
			function generateLevelFormTable() {
				res="";
				for (i = 0; i < totalLevels.length; i++) {
					res += "<tr><td><p>";
					res += "<span>" + (i + 1) + ": </span>";
					res += "</p>"
					
					res += "<p><input type=\"text\" "; 
					res += "id=\"levels[" + i + "].about\" ";
					res += "class=\"input-wide\"";
					res += "value=\"" + totalLevels[i].about + "\" ";
					res += "name=\"levels[" + i + "].about\" ";
					res += "placeholder=\"" + placeholderAboutEn + "\" ";
					res += "pattern=\".{0,1000}\" ";
					res += "title=\"Must not be longer than 1000 symbols\" ";
					res += "/></p>";
					
					res += "<p><input type=\"text\" "; 
					res += "id=\"levels[" + i + "].about_RU\" ";
					res += "class=\"input-wide\"";
					res += "value=\"" + totalLevels[i].about_RU + "\" ";
					res += "name=\"levels[" + i + "].about_RU\" ";
					res += "placeholder=\"" + placeholderAboutRu + "\" ";
					res += "pattern=\".{0,1000}\" ";
					res += "title=\"Must not be longer than 1000 symbols\" ";
					res += "/></p>";
					
					res += "</td></tr>\n";
				}
				return res;
			}
			
			class SkillLevel{
				constructor() {
					this.about = "";
					this.about_RU = "";
				}
			}
				
			$( "#levelsNum" ).on("input", function() {
			    var levels = $(this).val()
			    for (i = 0; i < totalLevels.length; i++) {
			    	if (document.getElementById('levels[' + i + '].about') != null) {
			    		totalLevels[i].about = document.getElementById('levels[' + i + '].about').value;
			    		totalLevels[i].about_RU = document.getElementById('levels[' + i + '].about_RU').value;
			    	} else {
			    		totalLevels[i] = new SkillLevel();
			    	}
			    }
			    while (levels > totalLevels.length) {
			    	totalLevels.push(new SkillLevel());
			    }
			    while (levels < totalLevels.length) {
			    	totalLevels.pop();
			    }
			    document.getElementById("levelsPost").innerHTML=generateLevelFormTable()
			});
				
			$( "#levelsNum" ).trigger( "input" );
			           
			/*]]>*/
			</script>
			</div>
			<script type="text/javascript" th:src="@{/resources/js/dtree.js}" th:inline="javascript"></script>