	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/viewer.css}" href="/resources/css/viewer.css" />
	
	<style>
        a {
            cursor: pointer;
        }
    </style>

    <style>
        .Container {
            padding: 0;
            margin: 0;
        }
        .Container li {
            list-style-type: none;
        }
        }
        .IsRoot {
            margin-left: 0;
        }
        .Expand {
            width: 18px;
            height: 18px;
            float: left;
        }
        .Content {
            margin-left:18px;
            min-height: 18px;
        }

        * html .Content {
        }
        .ExpandOpen .Expand {
            background-image: url(/resources/images/minus.gif);
        }
        .ExpandClosed .Expand {
            background-image: url(/resources/images/plus.gif);
        }
        .IsLast {}

        .ExpandLeaf .Expand {
            cursor: auto;
        }
        .ExpandLoading   {
            width: 18px;
            height: 18px;
            float: left;
            background-image: url(/resources/images/expand_loading.gif);
        }

    </style>
    
    <style>
            .right_col {
                font-size: 15px;
            }
        </style>

                <div class="row">
                   <div class="">
                       <div class="x_panel">
                           <div class="x_title">
                                <h3 th:text="#{navbar.task}"></h3>
                           </div>
                               <div class="row">
	                	<select id="taskFilter">
	                		<option value="0" th:text="#{task.status.all}">All tasks</option>
	                		<option value="1" th:text="#{task.status.1}">Assigned</option>
	                		<option value="2" th:text="#{task.status.2}">Resolved</option>
	                		<option value="3" th:text="#{task.status.3}">Approved</option>
	                	</select>
                               </div>
                           <div class="x_content">
                               <table id="tasksTable" class="table table-responsive table-striped">
                               		<thead>
                               			<tr>
                               				<th><span th:text="#{viewer.new.name}"></span></th>
                               				<th><span th:text="#{task.status}"></span></th>
                               			</tr>
                               		</thead>
                               		<tbody>
                               			<th:block th:each="task : ${tasks}">
                               			<tr th:onclick="'document.location.href=\''+@{/viewer/task(id=${task.id})}+'\''">
                               				<td th:text="${task.name}"></td>
                               				<td th:switch="${task.status}">
                               					<span th:case="'1'" th:text="#{task.status.1}"></span>
                               					<span th:case="'2'" th:text="#{task.status.2}"></span>
                               					<span th:case="'3'" th:text="#{task.status.3}"></span>
                               				</td>
                               			</tr>
                               			</th:block>
                               		</tbody>
                               </table>

                               <div class="row">
                                   <div class="text-center">
                                       <button type="button" class="btn btn-success"
                                        onclick="$('#createTaskModal').modal('show')"><i class="fa fa-plus"></i></button>
                                   </div>
                               </div>
                               <script th:inline="javascript">
                               /*<![CDATA[*/

                               		var stat1 = /*[[#{task.status.1}]]*/ 1;
                               		var stat2 = /*[[#{task.status.2}]]*/ 2;
                               		var stat3 = /*[[#{task.status.3}]]*/ 3;
                                    $("#taskFilter").on('input', function() {
                                    	var taskFilter = $("#taskFilter").val();
                                    	
                                    	taskTable = $('#tasksTable');
                                    	var tbody = taskTable.find('tbody').find('tr');
                                    	for (var i = 0; i < tbody.length; i++) {
                                    		var tr = tbody.eq(i);
                                    		if (taskFilter == "0") {
                                    			tr.show(); continue;
                                    		}
                                    		var status = tr.find('td').eq(1).html();
                                    		if (status == stat1 && taskFilter == "1" || status == stat2 && taskFilter == "2" || status == stat3 && taskFilter == "3")
                                    			tr.show();
                                    		else
                                    			tr.hide();
                                    	}
                                    });
                            	/*]]>*/
                               </script>
                           </div>
                       </div>
                   </div>
                </div>

                <div class="modal fade" id="createTaskModal" tabindex="-1" role="dialog" aria-labelledby="createTaskModalLabel" aria-hidden="true">
                	<div th:replace="fragments/editTaskModal :: taskModalForm"></div>
                </div>
                <script>
                	var submitTaskForm = function() {
    					$.each($("#resTable td:even"), function() {
    						$("#resText").val($("#resText").val() + $(this).html() + ';');
    					});
    					
    	            	if ($("#type").val() == "2")
    	            		$("#about").val($("#acronisValue").val());
    	            	if ($("#type").val() == "3")
    	            		$("#about").val($("#linkValue").val());
    	            	if ($("#type").val() == "4")
    	            		$("#about").val($("#fileValue").val());
    					
                	  	var $form = $('#taskCreate');
                	    var data = new FormData($form);
                	    
                	    var csrfHeader = $("meta[name='_csrf_header']").attr("content");
                	    var csrfToken = $("meta[name='_csrf']").attr("content");
                	    var headers = {};
                	    headers[csrfHeader] = csrfToken;
                	    
                	    $.ajax({
                	      url: $form.attr('action'),
                	      type: 'post',
                	      data: data,
                	      headers: headers,
                	      enctype: 'multipart/form-data',
                	      processData: false,
                	      contentType: false,
                	      cache: false,
                	      timeout: 1000000,
                	      success: function(response) {
                	        if (response.indexOf("Form successfully submitted") === -1) {
                	        	$form.replaceWith(response);
                	        } else {
                	        	location.reload();
                	        }
                	      },
                	      error: function (xhRequest, ErrorText, thrownError) {
                				console.log('xhRequest: ' + xhRequest + "\n");
                	            console.log('ErrorText: ' + ErrorText + "\n");
                	            console.log('thrownError: ' + thrownError + "\n");
                	            console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
                	      }
                	});
                	}
                </script>