	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/viewer.css}" href="/resources/css/viewer.css" />
	
	<style>
        a {
            cursor: pointer;
        }
    </style>

    <style>
        .Container {
            padding: 0;
            margin: 0;
        }
        .Container li {
            list-style-type: none;
        }
        }
        .IsRoot {
            margin-left: 0;
        }
        .Expand {
            width: 18px;
            height: 18px;
            float: left;
        }
        .Content {
            margin-left:18px;
            min-height: 18px;
        }

        * html .Content {
        }
        .ExpandOpen .Expand {
            background-image: url(/resources/images/minus.gif);
        }
        .ExpandClosed .Expand {
            background-image: url(/resources/images/plus.gif);
        }
        .IsLast {}

        .ExpandLeaf .Expand {
            cursor: auto;
        }
        .ExpandLoading   {
            width: 18px;
            height: 18px;
            float: left;
            background-image: url(/resources/images/expand_loading.gif);
        }

    </style>
    
    <style>
            .right_col {
                font-size: 15px;
            }
            .bold {
                font-weight:bold;
            }
        </style>

                <div class="row">
                   <div class="">
                       <div class="x_panel">
                           <div class="x_title">
                                <h3 th:text="#{navbar.task}"></h3>
                           </div>
                               <div class="two-buttons">
                               	<input type="text" id="taskTextFilter" class="form-control" placeholder="Filter" th:placeholder="#{editor.placeholder.task.filter}" />
                               </div>
                               <div class="two-buttons">
	                	<select id="taskFilter">
	                		<option value="0" th:text="#{task.status.all}">All tasks</option>
	                		<option value="1" th:text="#{task.status.1}">Assigned</option>
	                		<option value="2" th:text="#{task.status.2}">Resolved</option>
	                		<option value="3" th:text="#{task.status.3}">Approved</option>
	                	</select>
                               </div>
                           <div class="x_content">
                               <table id="tasksTable" class="table table-responsive table-striped">
                               		<thead>
                               			<tr>
                               				<th><span th:text="#{viewer.new.name}"></span></th>
                               				<th><span th:text="#{task.status}"></span></th>
                               				<th><span th:text="#{task.created}"></span></th>
                               				<th><span th:text="#{editor.task.due}"></span></th>
                               			</tr>
                               		</thead>
                               		<tbody>
                               			<th:block th:each="task : ${tasks}">
                               			<tr th:onclick="'document.location.href=\''+@{/viewer/task(id=${task.id})}+'\''"
                               			th:class="${task.dueDate.before(#dates.createNow()) and task.status=='1' ? 'warning bold' : ''}">
                               				<td th:text="${task.name}"></td>
                               				<td th:text="${task.status}=='1'?#{task.status.1}:(${task.status}=='2'?#{task.status.2}:#{task.status.3})"></td>
                               				<!--td th:switch="${task.status}">
                               					<span th:case="'1'" th:text="#{task.status.1}"></span>
                               					<span th:case="'2'" th:text="#{task.status.2}"></span>
                               					<span th:case="'3'" th:text="#{task.status.3}"></span>
                               				</td-->
                               				<td th:text="${#dates.format(task.createdDate, 'dd MMMM yyyy')}"></td>
                               				<td th:text="${#dates.format(task.dueDate, 'dd MMMM yyyy')}"></td>
                               			</tr>
                               			</th:block>
                               		</tbody>
                               </table>

                               <div class="row">
                                   <div class="text-center">
	                                    	<a th:href="@{/editor/task}">
                                       <button type="button" class="btn btn-success"><i class="fa fa-plus"></i></button>
                                       		</a>
                                   </div>
                               </div>
                               <script th:inline="javascript">
                               /*<![CDATA[*/

                               		var stat1 = /*[[#{task.status.1}]]*/ 1;
                               		var stat2 = /*[[#{task.status.2}]]*/ 2;
                               		var stat3 = /*[[#{task.status.3}]]*/ 3;
                               		
		                        	function applyFilters() {
		                        		var filterText = $("#taskTextFilter").val().toLowerCase();
                                    	var taskFilter = $("#taskFilter").val();

                                    	taskTable = $('#tasksTable');
                                    	var tbody = taskTable.find('tbody').find('tr');
                                    	for (var i = 0; i < tbody.length; i++) {
                                    		var tr = tbody.eq(i);
                                    		var name = tr.find('td').eq(0).html().toLowerCase();
                                    		var status = tr.find('td').eq(1).html();
                                    		if ((taskFilter == "" || name.indexOf(filterText) >= 0) &&
                                    				(taskFilter == "0" || status == stat1 && taskFilter == "1" || status == stat2 && taskFilter == "2" || status == stat3 && taskFilter == "3"))
                                    			tr.show();
                                    		else
                                    			tr.hide();
                                    	}
		                        	}
                                    $("#taskFilter").on('click', function() {applyFilters()});
		                        	$("#taskTextFilter").on("input", function() {applyFilters()});
                            	/*]]>*/
                               </script>
                           </div>
                       </div>
                   </div>
                </div>