		<div class="row">
		
		<p><span th:text="${err}"></span></p>
		
		<p><a href="#" id="updDC" th:text="'Update document categories'"></a></p>
		<p><a href="#" id="updDT" th:text="'Update document trends'"></a></p>
		<p><a href="#" id="loadDocs" th:text="'Upload new articles'"></a></p>
		<p id="curStatus"></p>
			<script th:inline="javascript">
			/*<![CDATA[*/

				function ajaxTerms(requestUrl) {
					
					var inputArgs = [];
					var i;
					for (i = 1; i < arguments.length; i++) {
						inputArgs.push(arguments[i]);
					}
					
					 var csrfHeader = $("meta[name='_csrf_header']").attr("content");
				     var csrfToken = $("meta[name='_csrf']").attr("content");
				     var headers = {};
				     headers[csrfHeader] = csrfToken;

			         $("#curStatus").html('executing...');
					$.ajax({
						url : requestUrl,
						type: 'POST',
						dataType: 'json',
						contentType: 'application/json; charset=utf-8',
						data : JSON.stringify(inputArgs),
						headers: headers,
						success: function (res) {
							if (res.success)
					         $("#curStatus").html('success');
					        else
					        ajaxTerms(requestUrl);
						},
						error: function (xhRequest, ErrorText, thrownError) {
					         $("#curStatus").html('ERROR!!!');
							console.log('xhRequest: ' + xhRequest + "\n");
							console.log('ErrorText: ' + ErrorText + "\n");
							console.log('thrownError: ' + thrownError + "\n");
							console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
						}
					});
				}
				$("#updDC").on("click", function() {ajaxTerms(rootPath + 'stat/insertDC?cat=true')});
				$("#updDT").on("click", function() {ajaxTerms(rootPath + 'stat/insertDC?cat=false')});
				$("#loadDocs").on("click", function() {ajaxTerms(rootPath + 'stat/loadDocs')});
			/*]]>*/
			</script>
		</div>