				<div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_title two-buttons">
                                <h3 id="taskTitle" th:text="${task.presentationName}"></h3>
                            </div>
                            <div class="x_title two-buttons">
                                <h3 id="taskTitle" th:text="#{editor.task.chat}"></h3>
                            </div>
                            <div class="x_content">
                            <div class="row">
                            <div class="two-buttons">
                       	<th:block th:if="${task.type}=='1'">
								<p><span th:text="#{task.type.original}"></span>:</p>
								<p><span id="taskOriginal" th:text="${task.original}">About</span></p>
								<p><span th:text="#{task.type.translate}"></span>:</p>
								<p><span id="taskTranslate" th:text="${task.about}">About</span></p>
                               <script th:inline="javascript">
                         		/*<![CDATA[*/
                                var descr = "<p>" + $("#taskOriginal").html() + "</p";
                         		while (descr.indexOf("\n") > -1)
                         			descr = descr.replace("\n", "</p><p>");
                                $("#taskOriginal").html(descr);
                                var descr = "<p>" + $("#taskTranslate").html() + "</p";
                         		while (descr.indexOf("\n") > -1)
                         			descr = descr.replace("\n", "</p><p>");
                                $("#taskTranslate").html(descr);

								var stat1 = /*[[#{task.status.1}]]*/ "";
								var stat2 = /*[[#{task.status.2}]]*/ "";
								var stat3 = /*[[#{task.status.3}]]*/ "";

								var stat = /*[[${task.status}]]*/ "";
								stat = (stat == "1") ? stat1 : ((stat == "2") ? stat2 : stat3);
                                $("#taskTitle").html($("#taskTitle").html() + ' (' + stat + ')');
                         		/*]]>*/
                                </script>
                        </th:block>
                       	<th:block th:if="${task.type}=='2'">
                                <p><span th:text="#{task.type.acronis}"></span>: <span th:text="${task.about}"></span></p>
                        </th:block>
                       	<th:block th:if="${task.type}=='3'">
                                <p><span th:text="#{task.type.link}"></span>: <span th:text="${task.about}"></span></p>
                        </th:block>
                       	<th:block th:if="${task.type}=='4'">
                                <p><span th:text="#{task.type.file}"></span>: <a th:href="${task.about}" th:text="${task.about}" target="_blank"></a></p>
                        </th:block>
                                <p><span th:text="#{editor.task.due}"></span>: <span th:text="${task.dueDate==null?'':#dates.format(task.dueDate)}"></span></p>
                                <p><span th:text="#{editor.task.source}"></span>: <span th:text="${task.source?.code}"></span></p>
                                <p><span th:text="#{editor.task.target}"></span>: <span th:text="${task.target}"></span></p>
                                <p th:if="${task.image}"><u><b><a th:href="@{/viewer/viewRef(id=${task.id})}" th:text="#{viewer.task.reference}" target="_blank"></a></b></u></p>
                                <p th:unless="${task.image}"><span th:text="#{viewer.task.reference}"></span>: <u><b><a th:href="${task.reference}" th:text="${task.reference}" target="_blank"></a></b></u></p>
                            </div>
                            <div class="two-buttons">
                            <form action="#" th:action="@{/editor/task/send}" method="post" th:object="${task}">
							<input type="hidden" th:name="task_id" th:value="${task.id}"/>
								<table class="table table-responsive table-striped">
									<tr th:each="message : ${task.messages}" th:if="${message.type=='3' or message.type=='f'}">
										<td><b><span th:text="${message.owner?.username + ': '}"></span></b><span th:text="${message.text}"></span></td>
                               			<td th:text="${#dates.format(message.sendedTime)}"></td>
                               			<td th:text="${message.type} == 'f' ? #{message.final} : ''"></td>
									</tr>
									<tr th:unless="${task.status}=='3'">
										<td colspan="2">
											<p><textarea class="form-control" type="textarea" placeholder="text" th:placeholder="#{message.text}" name="message_text"></textarea></p>
											<p class="two-buttons"><input type="submit" class="btn btn-primary btn-block" value="Save" th:value="#{message.save}"/></p>
											<p class="two-buttons"><input id="saveas" type="submit" class="btn btn-primary btn-block" value="Save as final" th:value="#{message.save.final}"/></p>
											<input type="hidden" name="isFinal" id="isFinal" value="0"/>
											<script>
											$("#saveas").on('click', function() {$("#isFinal").val("1");});
											</script>
	                                <div class="row"
th:if="${username=='admin' and (task.status!='3') or #lists.contains(performerNames, username) and (task.status=='1') or (username==managerName) and (task.status=='2')}">
                                    	<a th:href="@{/editor/task/status(id=${task.id},status=${task.status})}">
                                        	<button type="button" class="btn btn-primary btn-block" th:text="${task.status}=='1'?#{task.resolve}:#{task.approve}" th:disabled="${noFinal}"></button>
                                        </a>
	                                </div>
										</td>
									</tr>
                            	</table>
                            </form>
                            </div>
                            </div>
	                                <div class="row" th:if="${isAdmin}">
	                                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
	                                        <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#createRequirementModal" th:text="#{task.requirement.add}"></button>
	                                    </div>
	                                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
	                                    	<a th:href="@{/editor/task(id=${task.id})}">
	                                        	<button type="button" class="btn btn-warning btn-block" th:text="#{task.edit}"></button>
	                                        </a>
	                                    </div>
	                                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
	                                    	<a th:href="@{/editor/task/delete(id=${task.id})}">
	                                        	<button type="button" class="btn btn-danger btn-block" th:text="#{task.delete}"></button>
	                                        </a>
	                                    </div>
	                                </div>
	                                <br/>
								<p><b><span th:text="#{task.requirements}"></span></b></p>
                                <form action="#" th:action="@{/editor/task/saveChanges}" th:object="${requirements}" method="post">
			<p th:if="${isAdmin}"><input type="submit" id="saveChangeSubmitButton" class="btn btn-primary btn-block" value="Save changes" th:value="#{profile.save}"/></p>
			<input type="hidden" th:field="*{data}" id="requirementsData"/>
			<input type="hidden" th:field="*{taskId}" th:value="${task.id}"/>
			<script>
				function changeData(compId) {
					var newData = compId + "," + $("#" + compId).val();
					$("#requirementsData").val($("#requirementsData").val() + ";" + newData);
				}
			</script>
								<table class="table table-responsive table-striped">
									<tr th:each="requirement : ${task.requirements}">
										<td>
											<span th:text="${requirement.skill.presentationName} + ' - ' + ${requirement.level} + ' / ' + ${requirement.skill.maxLevel}"></span>
											<div class="btn-group" role="group" style="margin-left: 10px;" th:if="${isAdmin}">
												<a th:href="@{/editor/requirement/delete(id=${requirement.id}, taskId=${task.id})}">
													<button type="button" class="btn btn-danger"><i class="fa fa-remove"></i></button>
												</a>
												<a th:href="@{/editor/{taskId}/requirement(id=${requirement.id}, taskId=${task.id})}">
													<button type="button" class="btn btn-warning"><i class="fa fa-edit"></i></button>
												</a>
				<input type="number" min="1" th:max="${requirement.skill.maxLevel}" th:id="${requirement.id}" th:value="${requirement.level}" th:onchange="'changeData(' + ${requirement.id} + ');'"/>
											</div>
										</td>
									</tr>
								</table>
                                </form>
							</div>
						</div>
					</div>
				</div>

				<style>
	                  p {
	                      text-indent: 0px;
	                  }
	                  #check_actions {
	                      border-radius: 0 3px 3px 0 !important;
	                  }
	                  #actions {
	                      background-color: #337ab7;
	                      color: white;
	                      border-color: #2e6da4;
	                      border-radius: 3px 0 0 3px;
	                      border-left: none;
	                  }
	                  #actions:hover {
	                      background-color: #206090;
	                      border-color: #204d74;
	                  }
	          	</style>
                                
                	<div class="modal fade" id="createRequirementModal" tabindex="-1" role="dialog" aria-labelledby="createRequirementModal" aria-hidden="true">
                    	<div th:replace="fragments/editRequirementModal :: requirementModalForm"></div>
                	</div>
                	<script type="text/javascript" th:src="@{/resources/js/competencyEditorAssistant.js}"></script>
                	<script>
                	var submitRequirementForm = function() {
                	  	var $form = $('#requirementCreate');
                	    
                	    var csrfHeader = $("meta[name='_csrf_header']").attr("content");
                	    var csrfToken = $("meta[name='_csrf']").attr("content");
                	    var headers = {};
                	    headers[csrfHeader] = csrfToken;
                	    
                	    $.ajax({
                	      url: $form.attr('action'),
                	      type: 'post',
                	      data: $form.serialize(),
                	      headers: headers,
                	      success: function(response) {
                	        if (response.indexOf("Form successfully submitted") === -1) {
                	        	$form.replaceWith(response);
                	        } else {
                	        	location.reload();
                	        }
                	      },
                	      error: function (xhRequest, ErrorText, thrownError) {
                				console.log('xhRequest: ' + xhRequest + "\n");
                	            console.log('ErrorText: ' + ErrorText + "\n");
                	            console.log('thrownError: ' + thrownError + "\n");
                	            console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
                	      }
                	});
                	}
                	</script>