                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h3 th:text="${profile.presentationName}"></h3>
                            </div>
                            <div class="x_content">
                            <div class="row">
                            	<div class="two-buttons">
                                <p><span th:text="#{profile.position}"></span>: <span th:text="${profile.position}"></span></p>
                                	<p><span th:text="#{profile.start}"></span>: <span th:text="${profile.startDate==null?'':#dates.format(profile.startDate)}"></span></p>
                                <br/>
                                <!-- b><span th:utext="${report}"></span></b-->
                                </div>
                                <div class="two-buttons">
                                <!--th:block th:if="${isAdmin}">
                                	<h3 th:text="#{profile.gsl}"></h3>
                                	<h3 style="margin-left: 60px" th:text="${#numbers.formatDecimal(globalLevel*100,1,1) + ' %'}"></h3>
                                	<h2><span th:text="#{profile.gsl.1}"></span>: <span th:text="${#numbers.formatDecimal(globalLevel1*100,1,1) + ' %'}"></span></h2>
                                	<h2><span th:text="#{profile.gsl.2}"></span>: <span th:text="${#numbers.formatDecimal(globalLevel2*100,1,1) + ' %'}"></span></h2>
                                	<h2><span th:text="#{profile.gsl.3}"></span>: <span th:text="${#numbers.formatDecimal(globalLevel3*100,1,1) + ' %'}"></span></h2>
                                	<h2><span th:text="#{profile.gsl.4}"></span>: <span th:text="${#numbers.formatDecimal(globalLevel4*100,1,1) + ' %'}"></span></h2>
                                	<h2><span th:text="#{profile.gsl.5}"></span>: <span th:text="${#numbers.formatDecimal(globalLevel5*100,1,1) + ' %'}"></span></h2>
                                </th:block-->
                                </div></div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                                        <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#createCompetencyModal" th:text="#{profile.skills.add}"></button>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                                    	<a th:href="@{/editor/profile(id=${profile.id})}">
                                        	<button type="button" class="btn btn-warning btn-block" th:text="#{profile.edit}"></button>
                                        </a>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                                    	<a th:href="@{/editor/profile/delete(id=${profile.id})}">
                                        	<button type="button" class="btn btn-danger btn-block" th:text="#{profile.delete}"></button>
                                        </a>
                                    </div>
                                </div>
                                <br/>
                                <p><b><span th:text="#{profile.skills}"></span></b></p>
                                <form action="#" th:action="@{/editor/profile/saveChanges}" th:object="${competencies}" method="post">
			<p th:if="${isResident}"><input type="submit" id="saveChangeSubmitButton" class="btn btn-primary btn-block" value="Save changes" th:value="#{profile.save}"/></p>
			<input type="hidden" th:field="*{data}" id="competenciesData"/>
			<input type="hidden" th:field="*{profileId}" th:value="${profile.id}"/>
			<script>
				function changeData(compId) {
					var newData = compId + "," + $("#" + compId).val();
					$(competenciesData).val($(competenciesData).val() + ";" + newData);
				}
			</script>
                                <table class="table table-responsive table-striped">
                                    <tr th:each="competency : ${profile.competencies}">
                                        <td>
                                            <span th:text="${competency.skill.presentationName} + ' - ' + ${competency.level} + ' / ' + ${competency.skill.maxLevel}"></span>
                                            <div class="btn-group" role="group" style="margin-left: 10px;" th:if="${isResident}">
                                            	<a th:href="@{/editor/competency/delete(id=${competency.id}, profileId=${profile.id})}">
                                            		<button type="button" class="btn btn-danger"><i class="fa fa-remove"></i></button>
                                                </a>
                                                <a th:href="@{/editor/{profileId}/competency(id=${competency.id}, profileId=${profile.id})}">
                                                	<button type="button" class="btn btn-warning"><i class="fa fa-edit"></i></button>
                                                </a>
				<input type="number" min="1" th:max="${competency.skill.maxLevel}" th:id="${competency.id}" th:value="${competency.level}" th:onchange="'changeData(' + ${competency.id} + ');'"/>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                </form>

                                <style>
                                    p {
                                        text-indent: 0px;
                                    }
                                    #check_actions {
                                        border-radius: 0 3px 3px 0 !important;
                                    }
                                    #actions {
                                        background-color: #337ab7;
                                        color: white;
                                        border-color: #2e6da4;
                                        border-radius: 3px 0 0 3px;
                                        border-left: none;
                                    }
                                    #actions:hover {
                                        background-color: #206090;
                                        border-color: #204d74;
                                    }
                                </style>

                            </div>

                        </div>
                    </div>
                </div>
                
                	<div class="modal fade" id="createCompetencyModal" tabindex="-1" role="dialog" aria-labelledby="createCompetencyModal" aria-hidden="true">
                    	<div th:replace="fragments/editCompetencyModal :: competencyModalForm"></div>
                	</div>
                	<script type="text/javascript" th:src="@{/resources/js/competencyEditorAssistant.js}"></script>
                	<script>
                	var submitCompetencyForm = function() {
                	  	var $form = $('#competencyCreate');
                	    
                	    var csrfHeader = $("meta[name='_csrf_header']").attr("content");
                	    var csrfToken = $("meta[name='_csrf']").attr("content");
                	    var headers = {};
                	    headers[csrfHeader] = csrfToken;
                	    
                	    $.ajax({
                	      url: $form.attr('action'),
                	      type: 'post',
                	      data: $form.serialize(),
                	      headers: headers,
                	      success: function(response) {
                	        if (response.indexOf("Form successfully submitted") === -1) {
                	        	$form.replaceWith(response);
                	        } else {
                	        	location.reload();
                	        }
                	      },
                	      error: function (xhRequest, ErrorText, thrownError) {
                				console.log('xhRequest: ' + xhRequest + "\n");
                	            console.log('ErrorText: ' + ErrorText + "\n");
                	            console.log('thrownError: ' + thrownError + "\n");
                	            console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
                	      }
                	});
                	}
                	</script>
                	
				<div class="modal fade" id="changeLevelModal" tabindex="-1" role="dialog" aria-labelledby="createTaskModalLabel" aria-hidden="true">
                    <div th:replace="fragments/editLevelModal :: levelModalForm"></div>
                </div>