		<div class="collection-object">
		<h2><span th:text="${profile.presentationName}">A Profile</span></h2>
		<hr/>
		<p><span th:text="${profile.website}">Website</span></p>
		<p><span th:text="${profile.address}">Address</span></p>
		<p><span th:text="${profile.email}">Email</span></p>
		<p><span th:text="${profile.about}">About</span></p>
		<hr/>
		<p><span th:text="#{profile.competencies}"></span></p>
		<table class="table table-striped">
			<tbody>
			<tr th:each="competency : ${profile.competencies}">
				<td>
					<p><span th:text="${competency.skill.presentationName} + ' - ' + ${competency.level}">A competency</span></p>
				</td>
				<td>
					<p><span th:text="#{profile.evidence}"></span></p>
					<table class="table table-striped">
						<tr th:each="evidence : ${competency.evidence}">
							<td>
								<b><span th:text="${evidence.description}">Description</span></b>
								<p><span th:text="#{profile.evidence.type}"></span> <span th:text="${evidence.type}">Type</span></p>
								<p>
									<span th:text="#{profile.evidence.acquired}"></span>
									<span th:text="${evidence.acquiredDate}">Acquired Date</span>
								</p>
								<p>
									<span th:text="#{profile.evidence.expires}"></span>
									<span th:if="${evidence.expirationDate} != null"
									 	th:text="${evidence.expirationDate}">Expiration Date</span>
									<span th:if="${evidence.expirationDate} == null"
									 	th:text="#{profile.evidence.expires.never}">Never</span>
								</p>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			</tbody>
		</table>
		</div>