                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h3 th:text="${profile.presentationName}"></h3>
                            </div>
                            <div class="x_content">
                                <p><span th:text="#{profile.position}"></span>: <span th:text="${profile.position}"></span></p>
                                <p><span th:text="#{profile.proofs}"></span>: <span th:text="${presentationProofs}"></span></p>
                                <p><span th:text="#{profile.prooflevel}"></span>: 
  										<span th:if="${profile.prooflevel}=='0'" th:text="#{profile.prooflevel.empty}"></span>
  										<span th:if="${profile.prooflevel}=='1'" th:text="#{profile.prooflevel.beginner}">Beginner</span>
  										<span th:if="${profile.prooflevel}=='2'" th:text="#{profile.prooflevel.average}">Average</span>
  										<span th:if="${profile.prooflevel}=='3'" th:text="#{profile.prooflevel.professional}">Professional</span></p>
                                <p><span th:text="#{profile.level}"></span>: 
  										<span th:if="${profile.level}=='1'" th:text="#{profile.level.low}">Low</span>
  										<span th:if="${profile.level}=='2'" th:text="#{profile.level.average}">Average</span>
  										<span th:if="${profile.level}=='3'" th:text="#{profile.level.high}">High</span></p>
                                <p><span th:text="#{profile.availability}"></span>: 
  										<span th:if="${profile.availability}=='1'" th:text="#{profile.availability.always}">Always</span>
  										<span th:if="${profile.availability}=='2'" th:text="#{profile.availability.special}">Only for special language questions</span>
  										<span th:if="${profile.availability}=='3'" th:text="#{profile.availability.good}">Good</span>
  										<span th:if="${profile.availability}=='4'" th:text="#{profile.availability.uncertain}">Uncertain, due to work amount</span></p>
                                <p><span th:text="#{profile.local}"></span>: <span th:text="${profile.local?.code}"></span></p>
                                <th:block th:if="${isAdmin}">
                                	<p><span th:text="#{profile.gsl}"></span>: <span th:text="${#numbers.formatDecimal(globalLevel*100,1,1) + ' %'}"></span></p>
                                	<p><span th:text="#{profile.gsl.1}"></span>: <span th:text="${#numbers.formatDecimal(globalLevel1*100,1,1) + ' %'}"></span></p>
                                	<p><span th:text="#{profile.gsl.2}"></span>: <span th:text="${#numbers.formatDecimal(globalLevel2*100,1,1) + ' %'}"></span></p>
                                	<p><span th:text="#{profile.gsl.3}"></span>: <span th:text="${#numbers.formatDecimal(globalLevel3*100,1,1) + ' %'}"></span></p>
                                	<p><span th:text="#{profile.gsl.4}"></span>: <span th:text="${#numbers.formatDecimal(globalLevel4*100,1,1) + ' %'}"></span></p>
                                	<p><span th:text="#{profile.start}"></span>: <span th:text="${profile.startDate==null?'':#dates.format(profile.startDate)}"></span></p>
                                </th:block>
                                <br/>
                                <div class="row">
                                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" th:if="${isResident}">
                                        <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#createCompetencyModal" th:text="#{profile.skills.add}"></button>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                                    	<a th:href="@{/editor/profile(id=${profile.id})}">
                                        	<button type="button" class="btn btn-warning btn-block" th:text="#{profile.edit}"></button>
                                        </a>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                                    	<a th:href="@{/editor/profile/delete(id=${profile.id})}">
                                        	<button type="button" class="btn btn-danger btn-block" th:text="#{profile.delete}"></button>
                                        </a>
                                    </div>
                                </div>
                                <br/>
                                <p><b><span th:text="#{profile.skills}"></span></b></p>
                                <form action="#" th:action="@{/editor/profile/saveChanges}" th:object="${competencies}" method="post">
			<p th:if="${isResident}"><input type="submit" id="saveChangeSubmitButton" class="btn btn-primary btn-block" value="Save changes" th:value="#{profile.save}"/></p>
			<input type="hidden" th:field="*{data}" id="competenciesData"/>
			<input type="hidden" th:field="*{profileId}" th:value="${profile.id}"/>
			<script>
				function changeData(compId) {
					var newData = compId + "," + $("#" + compId).val();
					$(competenciesData).val($(competenciesData).val() + ";" + newData);
				}
			</script>
                                <table class="table table-responsive table-striped">
                                    <tr th:each="competency : ${profile.competencies}">
                                        <td>
                                            <span th:text="${competency.skill.presentationName} + ' - ' + ${competency.level} + ' / ' + ${competency.skill.maxLevel}"></span>
                                            <div class="btn-group" role="group" style="margin-left: 10px;" th:if="${isResident}">
                                            	<a th:href="@{/editor/competency/delete(id=${competency.id}, profileId=${profile.id})}">
                                            		<button type="button" class="btn btn-danger"><i class="fa fa-remove"></i></button>
                                                </a>
                                                <a th:href="@{/editor/{profileId}/competency(id=${competency.id}, profileId=${profile.id})}">
                                                	<button type="button" class="btn btn-warning"><i class="fa fa-edit"></i></button>
                                                </a>
				<input type="number" min="1" th:max="${competency.skill.maxLevel}" th:id="${competency.id}" th:value="${competency.level}" th:onchange="'changeData(' + ${competency.id} + ');'"/>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                </form>
                                
                         		<script th:inline="javascript">
                         		/*<![CDATA[*/
                         		var header = /*[[#{layout.notification}]]*/ null;
                         		var profileId = /*[[${profile.id}]]*/
                         		
                         		var csrfHeader = $("meta[name='_csrf_header']").attr("content");
                        	    var csrfToken = $("meta[name='_csrf']").attr("content");
                        	    var headers = {};
                        	    headers[csrfHeader] = csrfToken;
                         		           
                         		function profileSelect() {
                         			var val = $("#actions").val();
                         			var message = null;
                         			var address = null;
                         			
                         			var inputArgs = [];
                            	    inputArgs.push(profileId);
                         			
                         			if (val == 1) {
                         				address = /*[[@{/dashboard/compareProfile}]]*/ null;
                         			} else if (val == 2) {
                         				address = /*[[@{/dashboard/compareTask}]]*/ null;
                         			} else if (val == 3) {
                         				address = /*[[@{/dashboard/rememberProfile}]]*/ null;
                         			} else if (val == 4) {
                         				var address = /*[[@{/dashboard/aggregatePossibilities}]]*/ null;
                         				window.location.href = address + "?profile=" + profileId;
                         				return;
                         			} else {
                         				return;
                         			}
                         			
                         			$.ajax({
                         				url : address,
                         				type: 'POST',
                         				dataType: 'json',
                         				contentType: 'application/json; charset=utf-8',
                         				data : JSON.stringify(inputArgs),
                         				headers: headers,
                         				success: function (res) {
                         					document.getElementById('notificationBody').innerHTML=res.message;
                         					document.getElementById('notificationHeader').innerHTML=header;
                         					$('#notificationModal').modal('show'); 
                         				},
                         				error: function (xhRequest, ErrorText, thrownError) {
                         					document.getElementById('notificationBody').innerHTML="Error.";
                         					document.getElementById('notificationHeader').innerHTML=header;
                         					$('#notificationModal').modal('show');
                         					
                         					console.log('xhRequest: ' + xhRequest + "\n");
                         					console.log('ErrorText: ' + ErrorText + "\n");
                         					console.log('thrownError: ' + thrownError + "\n");
                         					console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
                         				}
                         			});
                         		}
                         		/*]]>*/
                         		</script>

                                <style>
                                    p {
                                        text-indent: 0px;
                                    }
                                    #check_actions {
                                        border-radius: 0 3px 3px 0 !important;
                                    }
                                    #actions {
                                        background-color: #337ab7;
                                        color: white;
                                        border-color: #2e6da4;
                                        border-radius: 3px 0 0 3px;
                                        border-left: none;
                                    }
                                    #actions:hover {
                                        background-color: #206090;
                                        border-color: #204d74;
                                    }
                                </style>

                            </div>

                        </div>
                    </div>
                </div>
                
                	<div class="modal fade" id="createCompetencyModal" tabindex="-1" role="dialog" aria-labelledby="createCompetencyModal" aria-hidden="true">
                    	<div th:replace="fragments/editCompetencyModal :: competencyModalForm"></div>
                	</div>
                	<script type="text/javascript" th:src="@{/resources/js/competencyEditorAssistant.js}"></script>
                	<script>
                	var submitCompetencyForm = function() {
                	  	var $form = $('#competencyCreate');
                	    
                	    var csrfHeader = $("meta[name='_csrf_header']").attr("content");
                	    var csrfToken = $("meta[name='_csrf']").attr("content");
                	    var headers = {};
                	    headers[csrfHeader] = csrfToken;
                	    
                	    $.ajax({
                	      url: $form.attr('action'),
                	      type: 'post',
                	      data: $form.serialize(),
                	      headers: headers,
                	      success: function(response) {
                	        if (response.indexOf("Form successfully submitted") === -1) {
                	        	$form.replaceWith(response);
                	        } else {
                	        	location.reload();
                	        }
                	      },
                	      error: function (xhRequest, ErrorText, thrownError) {
                				console.log('xhRequest: ' + xhRequest + "\n");
                	            console.log('ErrorText: ' + ErrorText + "\n");
                	            console.log('thrownError: ' + thrownError + "\n");
                	            console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
                	      }
                	});
                	}
                	</script>
                	
				<div class="modal fade" id="changeLevelModal" tabindex="-1" role="dialog" aria-labelledby="createTaskModalLabel" aria-hidden="true">
                    <div th:replace="fragments/editLevelModal :: levelModalForm"></div>
                </div>