		<div class="row">
		<p th:text="'Select a session: '"></p>
		<select id="sesSel">
			<option th:each="ses : ${sesList}" th:value="${ses.key}" th:text="${ses.value}">session</option>
		</select>
		<button type="button" class="btn btn-primary btn-block" th:text="'Select'" onclick="selectButton()"></button>
		<h2>Results</h2>
		<div id="graph0"  style="width:800px;height:300px;position:relative;"></div>
		</div><div class="two-buttons">
		<table class="table table-responsive table-striped">
		<thead>
			<th th:text="'Topics'"></th>
			<th th:text="'Spendings'"></th>
		</thead>
		<tbody>
			<tr th:each="line, iStat : ${voteResults}">
				<td th:text="${iStat.count}"></td>
				<td th:text="${line.name}"></td>
				<td th:text="${line.value}"></td>
			</tr>
		</tbody>
		</table>
		
			<script th:inline="javascript">
			/*<![CDATA[*/
			
			function selectButton(){
				var id = $("#sesSel").val();
				document.location.href = rootPath + 'voting/results?sessionId=' + id;
			}
			var sessionId = /*[[${sessionId}]]*/ 0;
			$("#sesSel").val(sessionId);
			
	function labelFormatter(label, series) {
		return "<div style='font-size:8pt; text-align:center; padding:2px; color:white;'>" + label + "<br/>" + Math.round(series.percent) + "%</div>";
	}	
			function drawBars(sums, lab) {
				var d1 = [];
				for (var i = 0; i < sums.length; i++) {
					d1.push({ label: sums[i].name,  data: sums[i].percent});
				}

    			$.plot("#graph0", d1, {
    				series: {
    					pie: {
    						show: true,
    			            radius: 1,
        					label: {
        						show: true,
        		                radius: 3/4,
        		                formatter: labelFormatter,
        						background: { 
        		                    opacity: 0.5,
        		                    color: '#000'
        		                }
        					}
    					}
    				},
				    legend: {
				        show: false
				    }
    			});
			}
		      $(document).ready(function() {
				var res = /*[[${voteResults}]]*/ 0;
				drawBars(res, "");
		      });
			/*]]>*/
			</script>
		</div>