	<script type="text/javascript" th:src="@{/resources/js/tableLoader.js}"></script>

	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/viewer.css}" href="/resources/css/viewer.css" />
	
	<style>
        a {
            cursor: pointer;
        }
    </style>

    <style>
        .Container {
            padding: 0;
            margin: 0;
        }

        .Container li {
            list-style-type: none;
        }
        }
        .IsRoot {
            margin-left: 0;
        }
        .Expand {
            width: 18px;
            height: 18px;
            float: left;
        }
        .Content {
            margin-left:18px;
            min-height: 18px;
        }
        * html .Content {
            height: 18px;
        }
        .ExpandOpen .Expand {
            background-image: url(/resources/images/minus.gif);
        }
        .ExpandClosed .Expand {
            background-image: url(/resources/images/plus.gif);
        }
        .IsLast {}

        .ExpandLeaf .Expand {
            cursor: auto;
        }
        .ExpandLoading   {
            width: 18px;
            height: 18px;
            float: left;
            background-image: url(/resources/images/expand_loading.gif);
        }

    </style>
    
    <style>
            .right_col {
                font-size: 15px;
            }
        </style>

				<div class="modal fade" id="createWebsiteModal" tabindex="-1" role="dialog" aria-labelledby="createWebsiteModalLabel" aria-hidden="true">
                    <div th:replace="fragments/editWebsiteModal :: websiteModalForm"></div>
                </div>
                <script>
        			$('#websiteCreate').on("submit", function() {$("#html0").val($("#webch0").html());});
        			$('#delButton').on("click", function() {$("#del0").val($("#webch0").html());});
                </script>

                <div class="row">
					<script>
					function expandTree(toExpand) {
						if (toExpand == true)
							while ($("img[src$='plusbottom.gif']:visible,img[src$='plus.gif']:visible").length > 0)
								$("img[src$='plusbottom.gif']:visible,img[src$='plus.gif']:visible").click();
						else
							$("img[src$='minusbottom.gif']:visible,img[src$='minus.gif']:visible").click();
					}
					</script>
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_title row">
                                <h3 style="float: left;" th:text="'Websites'"></h3>
                                <div th:if="${isAdmin or isResident}" style="float: right; margin-top: 5px;">
                                       <button type="button" class="btn btn-success pull-left" data-toggle="modal" id="plusButton"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <div class="x_content" th:include="fragments/websiteTree :: websiteTree"></div>
                        </div>
                    </div>
		<p id="curStatus"></p>
		<p><a href="#" id="loadDocs" th:text="'Upload new articles'" class="btn btn-primary"></a></p>
		<p><a href="#" id="plusButton" th:text="'Build keywords index'" class="btn btn-primary"></a></p>
		<p><a href="#" id="updDC" th:text="'Update document categories'" class="btn btn-primary"></a></p>
		<p><a href="#" id="updDT" th:text="'Update document trends'" class="btn btn-primary"></a></p>
                </div>
		
	<script th:inline="javascript">
			/*<![CDATA[*/
	function clickWebsite(id) {
				ajaxWebsiteDialog(rootPath + 'website/ajaxWebsite', id);
			}
	$("#plusButton").on("click", function() {ajaxWebsiteDialog(rootPath + 'website/ajaxWebsite', '0')});

	function ajaxGroup(requestUrl) {
		
		var inputArgs = [];
		var i;
		for (i = 1; i < arguments.length; i++) {
			inputArgs.push(arguments[i]);
		}
		
		 var csrfHeader = $("meta[name='_csrf_header']").attr("content");
	     var csrfToken = $("meta[name='_csrf']").attr("content");
	     var headers = {};
	     headers[csrfHeader] = csrfToken;

        if ($("#curStatus").html() === '' || $("#curStatus").html() === 'success')
	    	$("#curStatus").html('executing...');
		$.ajax({
			url : requestUrl,
			type: 'POST',
			dataType: 'json',
			contentType: 'application/json; charset=utf-8',
			data : JSON.stringify(inputArgs),
			headers: headers,
			success: function (res) {
				if (res.success)
		         $("#curStatus").html('success');
		        else {
			        $("#curStatus").html(res.res + "...");
		         	ajaxGroup(requestUrl);
		        }
			},
			error: function (xhRequest, ErrorText, thrownError) {
		         $("#curStatus").html('ERROR!!!');
				console.log('xhRequest: ' + xhRequest + "\n");
				console.log('ErrorText: ' + ErrorText + "\n");
				console.log('thrownError: ' + thrownError + "\n");
				console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
			}
		});
	}

	$("#updDC").on("click", function() {ajaxGroup(rootPath + 'stat/insertDC?cat=true')});
	$("#updDT").on("click", function() {ajaxGroup(rootPath + 'stat/insertDC?cat=false')});
	$("#loadDocs").on("click", function() {ajaxGroup(rootPath + 'stat/loadDocs')});
	$("#plusButton").on("click", function() {ajaxGroup(rootPath + 'stat/analizeAllDoc')});
	/*]]>*/
	</script>