<div th:fragment="categoryTree" th:remove="tag">

                    <span th:text="'Type a category name'" text="Filter"></span>
					<div class="row"><div class="two-buttons">
						<input type="text" class="form-control" id="categoryFilter"/>
					</div><div class="two-buttons">
						<span id="find" class="btn btn-primary" th:text="'Find'" onclick="applyCatFilter();"></span>
					<span onclick='clearCatFilter();' class="btn btn-danger"><i class="fa fa-remove"></i></span>
					</div></div>
					<script>
					function clearCatFilter(){
						$("#categoryFilter").val("");
						applyCatFilter();
					}
					</script>
					<p><span id="catss"></span></p>
					
	<div id="catch0"></div>

	<script th:inline="javascript">
	/*<![CDATA[*/

		function addCatChild(id, flag, term, kids) {
			var html = "";
			html += "<div id='catb" + id + "'>";
			html += flag;
			if (kids > 0)
				html += "<img id='catimg" + id + "' src='" + rootPath + "resources/images/dtree/nolines_plus.gif' " +
					"onclick='ajaxCatChildren(\"" + rootPath + "category/ajaxChildren\", " + id + ");'>";
			html += "<a id='catask" + id + "' href='#a' onclick='clickCategory(" + id + ");'>"
				+ term + "</a>";
			html += "<div id='catch" + id + "'></div>";
			html += "</div>";
			return html;
	}
		function showCatChild(child) {
		// if it shown then break
		if ($("#catb" + child.id).length > 0) return;
		// if parent is not shown then show it
		var parentId = "#catch";
		if (child.parent !== null) {
			if ($("#catb" + child.parent.id).length <= 0)
				showCatChild(child.parent);
			parentId += child.parent.id;
		}
		// add to the parent
		var alternative = '', name = child.name;
		var spl = name.split('~!@');
		if (spl.length > 1) {
			alternative = spl[0];
			name = spl[1];
		}
		$(parentId).html($(parentId).html() + addCatChild(child.id, alternative, name, 1));
	}
	function applyCatFilter() {
		var inputArgs = [];
		var filterText = $("#categoryFilter").val().toLowerCase();
		inputArgs.push(filterText);
		var requestUrl = rootPath + "category/ajaxSearch";

		 var csrfHeader = $("meta[name='_csrf_header']").attr("content");
	     var csrfToken = $("meta[name='_csrf']").attr("content");
	     var headers = {};
	     headers[csrfHeader] = csrfToken;
	     $("#catss").text("start searching");
		$.ajax({
			url : requestUrl,
			type: 'POST',
			dataType: 'json',
			contentType: 'application/json; charset=utf-8',
			data : JSON.stringify(inputArgs),
			headers: headers,
			success: function (res) {
				if (res !== null) {
				     $("#catss").text("processing results");
					// get ids to show
					var toShow = ["catb0"];
					for (var i = 0; i < res.length; i++) {
						var category = res[i];
						toShow.push("catb" + category.id);
						var curCategory = category.parent;
						while (curCategory !== null) {
							var toAdd = "catb" + curCategory.id;
							if (toShow.indexOf(toAdd) >= 0)
								break;
							toShow.push(toAdd);
							curCategory = curCategory.parent;
						}
						showCatChild(category);
					}
					// hide all that not to show
					var all = $("[id^=catb]");
					for (var i = 0; i < all.length; i++)
						if (toShow.length <= 1 || toShow.indexOf(all[i].id) >= 0)
							$("#" + all[i].id).show();
						else
							$("#" + all[i].id).hide();
				     $("#catss").text("");
				}
			},
			error: function (xhRequest, ErrorText, thrownError) {
				console.log('xhRequest: ' + xhRequest + "\n");
				console.log('ErrorText: ' + ErrorText + "\n");
				console.log('thrownError: ' + thrownError + "\n");
				console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
			}
		});
	}
	$("#categoryFilter").keydown(function(e) {if(e.keyCode === 13) applyCatFilter()});
	
			function ajaxCatChildren(requestUrl) {
				
				var inputArgs = [];
				var i;
				for (i = 1; i < arguments.length; i++) {
					inputArgs.push(arguments[i]);
				}
				
				 var csrfHeader = $("meta[name='_csrf_header']").attr("content");
			     var csrfToken = $("meta[name='_csrf']").attr("content");
			     var headers = {};
			     headers[csrfHeader] = csrfToken;

			     $("#catss").text("getting categories");
				$.ajax({
					url : requestUrl,
					type: 'POST',
					dataType: 'json',
					contentType: 'application/json; charset=utf-8',
					data : JSON.stringify(inputArgs),
					headers: headers,
					success: function (res) {
						var html = "";
						elImg = $("#catimg" + res.id);
						if (elImg.length > 0 && elImg.attr('src').indexOf("/resources/images/dtree/nolines_minus.gif") >= 0)
							elImg.attr('src', rootPath + "resources/images/dtree/nolines_plus.gif");
						else {
							if (elImg.length > 0)
								elImg.attr('src', rootPath + "resources/images/dtree/nolines_minus.gif");
							for (var i = 0; i < res.ids.length; i++) {
								html += addCatChild(res.ids[i], res.flags[i], res.terms[i], res.kids[i]);
							}
						}
						$("#catch" + res.id).html(html);
					     $("#catss").text("");
					},
					error: function (xhRequest, ErrorText, thrownError) {
						console.log('xhRequest: ' + xhRequest + "\n");
						console.log('ErrorText: ' + ErrorText + "\n");
						console.log('thrownError: ' + thrownError + "\n");
						console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
					}
				});
			}
			var html0 = /*[[${html0}]]*/ "";
			var parent0 = /*[[${parent0}]]*/ 0;
			if (html0 !== null && html0 !== "" && parent0 !== null)
				$("#catch0").html(html0);
			else
				parent0 = 0;
			elImg = $("#catimg" + parent0);
			if (elImg.length > 0 && elImg.attr('src').indexOf("/resources/images/dtree/nolines_minus.gif") >= 0)
				elImg.attr('src', rootPath + "resources/images/dtree/nolines_plus.gif");
			ajaxCatChildren(rootPath + "category/ajaxChildren", parent0);
			
			// editing terms in category
			function addTerm(termid, id, name) {
				if ($('#catSel').children('option[value="' + termid + ":" + id + '"]').length > 0) return;
				var o = new Option(name, termid + ":" + id);
				$(o).html(name);
				$("#catSel").append(o);
				$('#catSel').children('option[value="' + termid + ":" + id + '"]').prop('selected', true);
		    	htmlTerms = $("#catTerms").html() + "<span class='btn-warning btn btn-primary' id='catTerm" + id + "'>" +
		    		"<a href='#' onclick='removeTerm(" + termid + "," + id + ")' class='fa fa-remove'></a> " + name + "</span>";
			    $("#catTerms").html(htmlTerms);
			}
			function removeTerm(termid, id) {
				if ($('#catSel').children('option[value="' + termid + ":" + id + '"]').length == 0) return;
				$('#catSel').children('option[value="' + termid + ":" + id + '"]').remove();
				$("#catTerm" + id).remove();
				
			}
			function clearTerms() {
				$('#catSel').children('option').remove();
			    $("#catTerms").html("");
			}
			// some stuff for opening categories
			function _instanceof(left, right) { if (right != null && typeof Symbol !== "undefined" && right[Symbol.hasInstance]) { return right[Symbol.hasInstance](left); } else { return left instanceof right; } }

			function _classCallCheck(instance, Constructor) { if (!_instanceof(instance, Constructor)) { throw new TypeError("Cannot call a class as a function"); } }
			
			function ajaxCategoryDialog(requestUrl) {
				
				var admin = /*[[${isAdmin}]]*/ false;
				var resident = /*[[${isResident}]]*/ false;	
				
				admin = admin || resident;
				
				var isChild = false;
				
				var inputArgs = [];
				var i;
				for (i = 1; i < arguments.length; i++) {
					if (arguments[i] < 0) {
						isChild = true;
						arguments[i] = -arguments[i];
					}
					inputArgs.push(arguments[i]);
				}
				
				 var csrfHeader = $("meta[name='_csrf_header']").attr("content");
			     var csrfToken = $("meta[name='_csrf']").attr("content");
			     var headers = {};
			     headers[csrfHeader] = csrfToken;
				
				$.ajax({
					url : requestUrl,
					type: 'POST',
					dataType: 'json',
					contentType: 'application/json; charset=utf-8',
					data : JSON.stringify(inputArgs),
					headers: headers,
					success: function (res) {
					     $("#catSearchSS").text("");
						document.getElementById('categoryName').innerHTML=res.name;
						$("#idtext").text("id: " + res.id);
						if (res.id > 0) {
							$("#delId").val(res.id);
							document.getElementById('createChildButton').setAttribute(
									'onclick', 'ajaxCategoryDialog(\'' + rootPath + 'category/ajaxCategory\', -' + res.id + '); return false;');
							$("#deleteLink").show();
							$("#createChildButton").show();
						} else {
							$("#deleteLink").hide();
							$("#createChildButton").hide();
						}
						$("#del0").hide();
						$("#html0").hide();
						
						if (res.parentId == null)
							$("#parentId").val(0);
						else
							$("#parentId").val(res.parentId);
						if (res.id > 0 && !isChild) {
							// Copy values from changed category
							$("#category_name").val(res.name);
						    // Remember id of the changed category
						    $("#selfId").val(res.id);
						    // Get all terms
						    clearTerms();
						    var htmlTerms = "<h3>Terms</h3>";
						    $("#catTerms").html(htmlTerms);
						    for (var i = 0; i < res.levels.length; i++)
						    	addTerm(res.levels[i].about_ru, res.levels[i].id, res.levels[i].about);
						}
						else {
							// Clear all values
							$("#category_name").val("");
							$("#parentId").val(res.id);
						    clearTerms();
						    // Forget category id
						    $("#selfId").val(0);
						}
						    
						var categoryName = "";
						if (isChild) {
							$("#viewCategoryBlock").show();
							$("#newCategoryForm").show();
							$('#parentSelect option[value="' + res.id + '"]').prop('selected', true);
							categoryName = /*[[#{skillPopup.child}]]*/ 'Create a Child';
							$("#idtext").text("id: 0");
						} else {
							$("#viewCategoryBlock").hide();
							$("#newCategoryForm").show();
							categoryName = res.name_en;
						}
						if (admin)
						document.getElementById('categoryFormTitle').innerHTML=
							"<span id=\"categoryName\">" + categoryName + "</span>";
						$('#createCategoryModal').modal('show');
					},
					error: function (xhRequest, ErrorText, thrownError) {
						console.log('xhRequest: ' + xhRequest + "\n");
						console.log('ErrorText: ' + ErrorText + "\n");
						console.log('thrownError: ' + thrownError + "\n");
						console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
					}
				});
			}
			
			//search staff
			
				// clear search field and hide results table
				function clear() {
					$("#catTermSearch").val('');
					$("#catSearchTerms").hide();
				}
			clear();
			
			// add term result
			function addSearchTerm(termid, id, name) {
		    	htmlTerms = $("#catSearchTerms").html() +
		    		"<span onclick='addTerm(" + termid + ", " + id + ", \"" + name + "\")' class='btn btn-primary btn-warning'>" + name + "</span>";
			    $("#catSearchTerms").html(htmlTerms);
			}
			
			// terms search
			function ajaxCatTermSearch(requestUrl) {
				if ($("#catTermSearch").val().length > 50) {
				     $("#catSearchSS").text("The search query is too big.");
					return;
				}
				
				var inputArgs = [];
				var i;
				for (i = 1; i < arguments.length; i++) {
					inputArgs.push(arguments[i]);
				}
				
				 var csrfHeader = $("meta[name='_csrf_header']").attr("content");
			     var csrfToken = $("meta[name='_csrf']").attr("content");
			     var headers = {};
			     headers[csrfHeader] = csrfToken;

				inputArgs.push($("#catTermSearch").val());

				if ($("#search").val() === "")
					return;
			     $("#catSearchSS").text("searching...");
				$.ajax({
					url : requestUrl,
					type: 'POST',
					dataType: 'json',
					contentType: 'application/json; charset=utf-8',
					data : JSON.stringify(inputArgs),
					headers: headers,
					success: function (res) {
						var results = res.ids.length;
						if (results == null) results = 0;
					     $("#catSearchSS").text(results + " results");
						if (results > 0)
							$("#catSearchTerms").show();
						else
							$("#catSearchTerms").hide();
					    $("#catSearchTerms").html("");
					    for (var i = 0; i < results; i++)
					    	addSearchTerm(res.terms[i], res.ids[i], res.flags[i]);
					},
					error: function (xhRequest, ErrorText, thrownError) {
				         $("#curStatus").html('ERROR!!!');
						console.log('xhRequest: ' + xhRequest + "\n");
						console.log('ErrorText: ' + ErrorText + "\n");
						console.log('thrownError: ' + thrownError + "\n");
						console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
					}
				});
			}
			$("#catTermFind").on("click", function() {ajaxCatTermSearch(rootPath + 'category/ajaxCatTermSearch')});
			$("#catTermSearch").keydown(function(e) {if(e.keyCode === 13) ajaxCatTermSearch(rootPath + 'category/ajaxCatTermSearch');});
			$("#catTermClear").on("click", function() {clear()});
			
			function ajaxCatTermAdd(requestUrl) {
				
				var inputArgs = [];
				var i;
				for (i = 1; i < arguments.length; i++) {
					inputArgs.push(arguments[i]);
				}
				inputArgs.push($("#catTermSearch").val());
				inputArgs.push(false);
				
				 var csrfHeader = $("meta[name='_csrf_header']").attr("content");
			     var csrfToken = $("meta[name='_csrf']").attr("content");
			     var headers = {};
			     headers[csrfHeader] = csrfToken;

         		$("#catSearchSS").html('adding...');
				$.ajax({
					url : requestUrl,
					type: 'POST',
					dataType: 'json',
					contentType: 'application/json; charset=utf-8',
					data : JSON.stringify(inputArgs),
					headers: headers,
					success: function (res) {
				        $("#catSearchSS").html('term has been added');
					},
					error: function (xhRequest, ErrorText, thrownError) {
				         $("#curStatus").html('ERROR!!!');
						console.log('xhRequest: ' + xhRequest + "\n");
						console.log('ErrorText: ' + ErrorText + "\n");
						console.log('thrownError: ' + thrownError + "\n");
						console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
					}
				});
			}
			$("#catTermAdd").on("click", function() {ajaxCatTermAdd(rootPath + 'stat/ajaxAdd')});

			  $(document).ready(function() {
			      $("#categoryCreate").keydown(function(event){
			        if(event.keyCode == 13) {
			          event.preventDefault();
			          return false;
			      }
			   });
			  });
	/*]]>*/
	</script>
	
</div>