<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="css-full-include"><link rel="stylesheet" type="text/css" th:href="@{/resources/vendors/bootstrap/dist/css/bootstrap.min.css}" href="/resources/vendors/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/vendors/font-awesome/css/font-awesome.min.css}" href="/resources/vendors/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/vendors/nprogress/nprogress.css}" href="/resources/vendors/nprogress/nprogress.css" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css}" href="/resources/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/vendors/bootstrap-table/bootstrap-table.min.css}" href="/resources/vendors/bootstrap-table/bootstrap-table.min.css" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/design/css/custom.min.css}" href="/resources/design/css/custom.min.css" />
		<!--<link rel="stylesheet" type="text/css" th:href="@{/resources/css/cpms-markup.css}" href="/resources/css/cpms-markup.css" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/dtree.css}" href="/resources/css/dtree.css" /> --></th:block>
</html>