			<div th:fragment="profileModalForm" th:remove="tag">
                <form id="profileCreate" action="#" th:action="@{/editor/profileAsync}" th:object="${profile}" method="post">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="createProfileModalLabel" th:text="#{editor.create} + ' ' + #{editor.company}"></h4>
                            </div>
                            <div class="modal-body">
                            	<input type="hidden" th:field="*{id}" />
  			<p class="warning" id="warningText"></p>
   			<p th:text="#{editor.expert.name}"></p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" placeholder="Name" th:field="*{name}" th:placeholder="#{editor.placeholder.name}"
                                        th:onblur="'addCheck(this, 3, 100, \'' + #{editor.title.warning} + '\')'"/>
                                    </div>
                                </div>
   			<p th:text="#{editor.expert.position}"></p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" placeholder="Name" th:field="*{position}" th:placeholder="#{editor.placeholder.position}"/>
                                    </div>
                                </div>
                                <hr class="separator"/>
   			<p th:text="#{editor.proof.title}"></p>
                                <div class="row">
                                    <div class="col-md-6">
									<p><select id="langFromSelector" size="5">
  										<option th:each="lang : ${languages}" 
          									th:value="${lang.id}" 
          									th:text="${lang.code}">EN</option>
									</select></p>
                                    </div>
                                    <div class="col-md-6">
									<p><select id="langToSelector" size="5">
  										<option th:each="lang : ${languages}" 
          									th:value="${lang.id}" 
          									th:text="${lang.code}">EN</option>
									</select></p>
                                    </div>
                                </div>
                                <div class="row">
                                   	<span class="btn btn-warning btn-block" th:text="#{editor.add}" onclick="addProof();">Add</span>
                                </div>
                                <div class="row">
                                   <div class="col-md-12">
                                	<span class="warning" id="results"></span>
                                	<table class="table table-responsive table-striped" id="resTable">
                                	
                                	</table>
                            		<input type="hidden" th:field="*{about}" id="resText"/>
                                </div>
                                </div>
								<script th:inline="javascript">
								/*<![CDATA[*/
								function addProof(){
									err = "";
									langFrom = $("#langFromSelector option:selected").text();
									langTo = $("#langToSelector option:selected").text();
									if (langFrom == "" || langTo == "") return;
									buttonCode = /*[[#{editor.remove}]]*/ "";
									buttonCode = "<span class='btn btn-danger' onclick='$(this).parents(\"tr\").remove();'>" + buttonCode + "</span>";
									if (langFrom == langTo)
										err = "same langs";
									if (err == "") {
										$("#resTable").append("<tr><td>" + langFrom + ' -- ' + langTo + "</td><td>" + buttonCode + "</td></tr>");
										$("#results").html("");
									} else
										$("#results").html(err);
								}

					            $("#name").on('input', function() {
					            	var name = $("#name").val();
					            	var names = /*[[${names}]]*/ [];
					            	var existWarning = /*[[#{editor.error.exists.profile}]]*/ "";
					    			$("#warningText").html("");
					    			$("#submitBut")[0].disabled = false;
					            	for (var i = 0; i < names.length; i++)
					            		if (names[i] == name) {
					            			$("#warningText").html(existWarning);
					            			$("#submitBut")[0].disabled = true;
					            			break;
					            		}
					            });
								/*]]>*/
								</script>
			<div class="two-buttons">
   			<p th:text="#{editor.prooflevel}"></p>
                                <div class="row">
                                    <div class="col-md-12">
                                    <select th:field="*{prooflevel}" size="4">
  										<option value="0"></option>
  										<option th:text="#{profile.prooflevel.beginner}" value='1'>Beginner</option>
  										<option th:text="#{profile.prooflevel.average}" value='2'>Average</option>
  										<option th:text="#{profile.prooflevel.professional}" value='3'>Professional</option>
									</select>
                                    </div>
                                </div>
   			</div>
			<div class="two-buttons">
   			<p th:text="#{editor.level}"></p>
                                <div class="row">
                                    <div class="col-md-12">
                                    <select th:field="*{level}" size="3">
  										<option th:text="#{profile.level.low}" value='1'>Low</option>
  										<option th:text="#{profile.level.average}" value='2'>Average</option>
  										<option th:text="#{profile.level.high}" value='3'>High</option>
									</select>
                                    </div>
                                </div>
   			</div>
                                <div class="row">
                                    <div class="col-md-12">
   			<p th:text="#{editor.availability}"></p>
                                        <!-- input type="text" class="form-control" placeholder="Availability" th:field="*{availability}" th:placeholder="#{editor.placeholder.availability}"/-->
									<select th:field="*{availability}" size="4">
										<option th:text="#{profile.availability.always}" value='1'>Always</option>
										<option th:text="#{profile.availability.special}" value='2'>Only for special language questions</option>
										<option th:text="#{profile.availability.good}" value='3'>Good</option>
										<option th:text="#{profile.availability.uncertain}" value='4'>Uncertain, due to work amount</option>
									</select>
                                    </div>
                                </div>
   			<p th:text="#{editor.local}"></p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- input type="text" class="form-control" placeholder="Availability" th:field="*{availability}" th:placeholder="#{editor.placeholder.availability}"/-->
									<select th:field="*{local}" size="4">
										<option th:each="lang : ${languages}" th:value="${lang.id}" th:text="${lang.code}">EN</option>
									</select>
                                    </div>
                                </div>
   			<p th:text="#{editor.expert.password}"></p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" placeholder="Password" name="password" th:placeholder="#{editor.placeholder.password}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="submitBut" class="btn btn-primary" onclick="javascript:submitProfileForm();return false;" th:text="#{editor.create}"></button>
                                <input type="submit" value="submit" onclick="javascript:submitProfileForm();return false;" hidden="true"/>
                            </div>
                        </div>
                    </div>
                </form>
			</div>
			
<div th:fragment="profileCreationSuccess" th:remove="tag">
  <p>Form successfully submitted</p>
</div>