<div th:fragment="rewardModalForm" th:remove="tag">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
	<div class="modal-body">
  		<div class="collection-object force-width" id="newRewardForm">
  		<h3 id="rewardFormTitle"><span id="rewardTitle" th:text="#{reward.create.new}"></span></h3>
  		<form action="#" th:action="@{/rewards/async}" th:object="${reward}" method="post" id="rewardCreate">
  			<input type="hidden" id='selfId' th:field="*{id}" class="input-wide" th:value="0"/>
  			<p><span class="warning" id="warning"></span></p>
  			<p id="expertsTitle" th:text="#{reward.experts}">:</p>
			<p><select th:field="*{experts}" size="7" multiple="true" >
					<option value="0" th:text="#{reward.experts.all}" class="font-bold">All</option>
					<option th:each="expert : ${experts}" th:value="${expert.id}" th:text="${expert.name} + ' (' + #{reward.allowed} + ${expert.sumBenefit + ')'}" class="font-bold">Expert</option>
			</select></p>
  			<p id="motivationsTitle" th:text="#{reward.motivations}">:</p>
			<p><select th:field="*{motivations}" size="7" multiple="true" >
					<option value="0" th:text="#{reward.motivations.all}">All</option>
					<option th:each="motivation : ${motivations}" th:value="${motivation.id}" th:text="${motivation.name + ' (' + motivation.benefit + ')'}"
						th:disabled="${motivation.isGroup} ? 'disabled' : 'false'" th:class="${motivation.isGroup} ? 'font-italic' : 'font-bold'">Motivation</option>
			</select></p>

			<p><div class="two-buttons" id="submitBlock"><input type="submit" id="rewardSubmitButton" class="btn btn-primary btn-block" value="Create" th:value="#{reward.save}"/></div>
			<div class="two-buttons"><a id="deleteLink" href="#"><span class="input-group-btn">
				<span class="btn btn-primary btn-block" th:text="#{reward.delete}">Delete</span>
			</span></a></div></p>
			
	<script th:inline="javascript">
			/*<![CDATA[*/

			function checkInputs() {
            	var benWarning = /*[[#{editor.error.benefit}]]*/ "";
            	var warning = "";
            	var disabled = false;

            	if ($("#selfId").val() == 0) {
            	var minBen = /*[[${minBen}]]*/ "";
            	var sumMotiv = /*[[${sumMotiv}]]*/ "";
            	var motivs = $("#motivations option:selected");
            	var sumMot = 0;
            	if ($("#motivations :first")[0].selected || motivs.length < 1)
            		sumMot = sumMotiv;
            	else for (var i = 0; i < motivs.length; i++) {
            		var spl = motivs[i].innerHTML.split("(");
            		var ben = spl[spl.length - 1].split(")")[0];
            		if (ben == "" || !(ben > 0))
            			continue;
            		sumMot += Number(ben);
            	}
            	var experts = $("#experts option:selected");
            	if ($("#experts :first")[0].selected || experts.length < 1) {
            		if (minBen < sumMot) {
            			warning = warning + benWarning + " ";
            			disabled = true;
            		}
				} else
	            	for (var i = 0; i < experts.length; i++) {
	            		var spl = experts[i].innerHTML.split("(");
	            		var ben = spl[spl.length - 1].split(")")[0].split(": ")[1];
	            		if (ben == "" || !(ben > 0 || ben <= 0))
	            			continue;
	            		if (ben < sumMot) {
	            			warning = warning + benWarning + " ";
	            			disabled = true;
	            			break;
	            		}
	            	}
            	}
    			$("#rewardSubmitButton")[0].disabled = disabled;
    			$("#warning").html(warning);
			}

            $("#motivations").on('click', function() {
            	checkInputs();
            });
            $("#experts").on('click', function() {
            	checkInputs();
            });

			$("#rewardSubmitButton")[0].disabled = true;
            
			/*]]>*/
			</script>
		</form>
  		</div>
  	</div>
  	</div>
	</div>
	</div>
	
			
<div th:fragment="rewardCreationSuccess" th:remove="tag">
  <p>Form successfully submitted</p>
</div>