<div th:fragment="requirementModalForm" th:remove="tag">		
				<form id="requirementCreate" action="#" th:action="@{'/editor/' + ${task.id} + '/requirementAsyncNew'}" th:object="${requirement}" method="post">
					<div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" th:text="#{editor.create} + ' ' + #{editor.requirement}"></h4>
                            </div>
                            <div class="modal-body">
                            	<input type="hidden" th:field="*{id}" />
                            		<h2 id="errorfield"></h2>
                                <div class="row">
                                  	<span th:text="#{editor.filter}" text="Filter"></span>
									<p><input type="text" class="form-control" id="skillFilter"/>
									<script>
									function clearFilter(){
										$(skillFilter).val("");
										$(skillFilter).trigger("input");
									}
									</script>
									<span class="btn btn-warning btn-block" th:text="#{editor.clear}" onclick='clearFilter();'></span></p>
                                   <p th:text="#{editor.requirement.skill}"></p>
                            	<input type="hidden" th:field="*{skill}"/>
									<p><select name="skillIDs" id="skillSelector" multiple="true" size="10">
  										<option th:each="skillInList : ${skillsList}" 
          									th:value="${skillInList.id}" 
          									th:text="${skillInList.name}">A skill</option>
									</select></p>
	<script th:inline="javascript">
			/*<![CDATA[*/
									function applyFilter() {
										var filterText = $(skillFilter).val().toLowerCase();
										var skillsAndParents = /*[[${skillsAndParents}]]*/ null;
										for (var skill in skillsAndParents) {
											$('#skillSelector option[value="' + skill + '"]').prop('hidden', filterText!=="");
										}
										//$('#skillSelector').attr("size", 1);
										if (filterText == "")
											return;
										var toShow = [0];
										for (var skill in skillsAndParents) {
											if ($('#skillSelector option[value="' + skill + '"]').html().toLowerCase().indexOf(filterText) > -1) {
												for (var i = 0; i < skillsAndParents[skill].length; i++){
													toShow.push(skillsAndParents[skill][i]);
												}
											}
										}
										var selectSize = 0;
										for (var i = 0; i < toShow.length; i++) {
											if ($('#skillSelector option[value="' + toShow[i] + '"]').prop('hidden'))
												selectSize++;
											$('#skillSelector option[value="' + toShow[i] + '"]').prop('hidden', false);
										}
										//$('#skillSelector').attr("size", selectSize);
									}
									function checkExist() {
										//$('#skillSelector').attr("size", 1);
										var selectedSkill = $('#skillSelector option:selected').html();
										while (selectedSkill.indexOf("-- ") > -1)
											selectedSkill = selectedSkill.replace("-- ", "");
										var taskRequirements = /*[[${taskRequirements}]]*/ null;
										var errorMsg = /*[[#{editor.error.exists.requirement}]]*/ "error";
										$(errorfield).html("");
										if (taskRequirements !== null)
											for (var i = 0; i < taskRequirements.length; i++){
												var requirement = taskRequirements[i];
												if (requirement == selectedSkill)
													$(errorfield).html(errorMsg);
											}
									}
									$(skillFilter).on("input", applyFilter);
									document.getElementById('skillSelector').addEventListener("input", checkExist);
									$("#skill").val($("#skillSelector option")[0].value)
									/*]]>*/
									</script>
                                </div>
		<p id="skillDescription" text="1"></p>
                                <hr class="separator" />
                                <div class="row" hidden="true">
                                	<p th:text="#{editor.level}"></p>
									<p><span th:text="#{editor.maxlevel}"></span> <span id="maxLevel" th:text="#{editor.select_skill}"></span>.</p>
									<p><input type="number" th:field="*{level}" min="1" max="100" id="levelNumber"/></p>
                                </div>
		<p id="levelDescription" text="1" hidden="true"></p>
		<th:block th:replace="fragments/updateLevelDescription :: updateLevelDescription"></th:block>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" onclick="javascript:submitRequirementForm();return false;" th:text="#{editor.create}"></button>
                            </div>
                        </div>
                    </div>
            	</form>
			</div>
			
<div th:fragment="requirementCreationSuccess" th:remove="tag">
  <p>Form successfully submitted</p>
</div>