<div th:fragment="skillModalForm" th:remove="tag">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
	<div class="modal-body">
		<div id="viewSkillBlock">
		<div clss="modal-header">
			<h3><span th:text="#{skill.parent}"></span><span id="skillName">Name</span></h3>
		</div>
		<div hidden="true">
  		<p><span id="skillAbout">About</span></p>
  		<p><span id="skillLevels">Levels</span></p>
  		<p th:text="#{skill.levels}"></p>
		<table class="table table-striped">
			<tbody id="levelsView">
			</tbody>
		</table>
  		<!-- div class="input-group">
			<a id="editLink" th:if="${isAdmin or isResident}" href="#">
				<span class="input-group-btn two-buttons">
					<button class="btn btn-primary btn-block" type="submit" th:text="#{skillPopup.edit}">Edit</button>
				</span>
			</a>
			<a id="deleteLink2" th:if="${isAdmin or isResident}" href="#">
				<span class="input-group-btn two-buttons">
					<button class="btn btn-primary btn-block" type="submit" th:text="#{skillPopup.delete}">Delete</button>
				</span>
			</a>
  		</div-->
  		<span id="createTypeLabel" th:text="#{page.create}" hidden="true"></span>
  		<p hidden="true"><input type="submit" id="createChildButton2" class="btn btn-primary btn-block" th:value="#{skillPopup.child}" onclick="$('#newSkillForm').show(); return false"/></p>
  		</div>
  		</div>
  		<div class="collection-object force-width" id="newSkillForm">
  		<h3 id="skillFormTitle"><span id="skillName" th:text="#{skillPopup.child}"></span></h3>
			<a id="createChildButton" href="#"><span class="input-group-btn two-buttons">
				<button class="btn btn-primary btn-block" type="submit" th:text="#{skillPopup.child}">Create child</button>
			</span></a>
			<a id="deleteLink" href="#"><span class="input-group-btn two-buttons">
				<button class="btn btn-primary btn-block" type="submit" th:text="#{skillPopup.delete}">Delete</button>
			</span></a>
  		<form action="#" th:action="@{/editor/skill/alternativeAsync}" th:object="${skill}" method="post" id="skillCreate">
  			<p><span th:text="'id: '"></span><input type="number" id='selfId' th:field="*{id}" class="input-wide" th:value="0"/></p>
			<span th:text="#{editor.placeholder.skill_name_en}" text="Skill name"></span>:
			<p><input type="text" class="form-control" th:field="*{name}" placeholder="Skill name" th:placeholder="#{editor.placeholder.skill_name_en}" pattern=".{0,100}" title="Must be more than 3 but less than 100 symbols" th:title="#{editor.title.skill_name_en}" id="skill_name" onblur="addCheck(this, 3, 100)"/></p>
			<span th:text="#{editor.placeholder.description_en}" text="About"></span>:
			<p><textarea type="textarea" class="form-control" th:field="*{about}" placeholder="About" th:placeholder="#{editor.placeholder.description_en}" pattern=".{0,1000}" title="Must be less than 1000 symbols" th:title="#{editor.title.description_en}"></textarea></p>
			<p hidden="true" th:text="#{editor.skill.maxlevel}"></p>
			<p hidden="true"><span th:text="#{editor.maxlevel}"></span> <input type="number" th:field="*{maxLevel}" min="1" max="100" id="levelsNum"/></p>
		<p>
			<span th:text="#{editor.parentskill}"></span> <!-- select id="parentSelect"
				th:field="*{parent}">
				<option th:each="skillInList : ${skillsList}"
					th:value="${skillInList.id}" th:text="${skillInList.name}">A
					skill</option>
			</select-->
			<input type="number" id="parentId" th:field="*{parent}"/>
		</p>
			<p><input type="submit" id="skillSubmitButton" class="btn btn-primary btn-block" value="Create" th:value="#{editor.create}"/></p>
			<p th:text="#{skillPopup.editor.level}" hidden="true"></p>
			<table class="table table-striped" hidden="true">
				<tbody id="levelsPost">
				</tbody>
			</table>
			<p hidden="true"><input type="submit" class="btn btn-primary btn-block" value="+" onclick="$('#levelsNum').val(parseInt($('#levelsNum').val())+1); $('#levelsNum').trigger('input'); return false"/></p>
  			<p hidden="true"><input type="submit" id="skillSubmitButton2" class="btn btn-primary btn-block" value="Create" th:value="#{editor.create}"/></p>
		</form>
  		</div>
  	</div>
  	</div>
	</div>
	</div>
	
			
<div th:fragment="profileCreationSuccess" th:remove="tag">
  <p>Form successfully submitted</p>
</div>