			<div th:fragment="taskModalForm" th:remove="tag">
				<form id="taskCreate" action="#" th:action="@{/editor/taskAsync}" th:object="${task}" method="post">
					<div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="createTaskLabel" th:text="#{editor.create} + ' ' + #{editor.task}"></h4>
                            </div>
                            <div class="modal-body">
                            	<div class="row" th:if="${#fields.hasErrors('*')}">
                            		<ul th:if="${#fields.hasErrors('*')}">
                            			<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                            		</ul>
                            	</div>
                            	<input type="hidden" th:field="*{id}" />
  			<p class="warning" id="warningText"></p>
  			<p th:text="#{editor.task.name}"></p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" th:field="*{name}" placeholder="Task name" th:placeholder="#{editor.placeholder.name}"
                                        th:onblur="'addCheck(this, 5, 100, \'' + #{editor.title.warning} + '\')'"/>
                                    </div>
                               </div>
   			<p th:text="#{editor.task.due}"></p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="date" class="form-control" th:field="*{dueDate}"/>
                                    </div>
                                </div>
                                <div class="two-buttons">
   			<p th:text="#{editor.task.source}"></p>
                                <div class="row">
                                    <div class="col-md-12">
									<select th:field="*{source}" size="6">
										<option th:each="lang : ${languages}" th:value="${lang.id}" th:text="${lang.code}">EN</option>
									</select>
                                    </div>
                                </div>
                                </div>
                                <div class="two-buttons">
   			<p th:text="#{editor.task.target}"></p>
                                <div class="row">
                                    <div class="col-md-12">
									<select id="targetSelector" size="4">
										<option th:each="lang : ${languages}" th:value="${lang.id}" th:text="${lang.code}">EN</option>
									</select>
                                    </div>
                                </div>
                                   	<span class="btn btn-warning btn-block" th:text="#{editor.add}" onclick="addTarget();">Add</span>
                                <div class="row">
                                   <div class="col-md-12">
                                	<table class="table table-responsive table-striped" id="resTable">
                                	
                                	</table>
                            		<input type="hidden" th:field="*{target}" id="resText"/>
                            		</div>
                                </div>
                                </div>
								<script th:inline="javascript">
								/*<![CDATA[*/
								function addTarget(){
									target = $("#targetSelector option:selected").text();
									if (target == "") return;
									buttonCode = /*[[#{editor.remove}]]*/ "";
									buttonCode = "<span class='btn btn-danger' onclick='$(this).parents(\"tr\").remove();'>" + buttonCode + "</span>";
									$(resTable).append("<tr><td>" + target + "</td><td>" + buttonCode + "</td></tr>");
								}
								/*]]>*/
								</script>
                                <hr class="separator"/>
   			<p th:text="#{editor.task.performers}"></p>
                                <div class="row">
                                    <div class="col-md-12">
									<select name="performers" size="6" multiple="true">
										<option value="all" th:text="#{editor.task.performers.all}">All</option>
										<option th:each="user : ${users}" th:value="${user.id}" th:text="${user.username}">admin</option>
									</select>
                                    </div>
                                </div>
                                <hr class="separator"/>
   			<p th:text="#{editor.task.reference}"></p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" placeholder="Link" th:field="*{reference}" th:placeholder="#{task.type.link}"/>
                                    </div>
                                </div>
   			<p th:text="#{editor.task.type}"></p>
                                <div class="row">
                                    <div class="col-md-12">
									<select th:field="*{type}">
										<option th:text="#{task.type.text}" value='1'>Text</option>
										<option th:text="#{task.type.acronis}" value='2'>Acronis ID</option>
										<option th:text="#{task.type.link}" value='3'>Link</option>
										<option th:text="#{task.type.file}" value='4'>XLS File</option>
									</select>
                                    </div>
                                </div>
            <div id="textAbout">
   			<p th:text="#{task.type.original}"></p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <textarea class="form-control" type="textarea" th:field="*{original}" placeholder="Original text" th:placeholder="#{task.type.original}"></textarea>
                                    </div>
                                </div>
   			<p th:text="#{task.type.translate}"></p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <textarea class="form-control" type="textarea" th:field="*{about}" placeholder="Translated text" th:placeholder="#{task.type.translate}"></textarea>
                                    </div>
                                </div>
            </div>
            <div id="acronisAbout" hidden="true">
   			<p th:text="#{task.type.acronis}"></p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" placeholder="Acronis ID" id="acronisValue" th:placeholder="#{task.type.acronis}"/>
                                    </div>
                                </div>
            </div>
            <div id="linkAbout" hidden="true">
   			<p th:text="#{task.type.link}"></p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" placeholder="Link" id="linkValue" th:placeholder="#{task.type.link}"/>
                                    </div>
                                </div>
            </div>
            <div id="fileAbout" hidden="true">
   			<p th:text="#{task.type.filetext}"></p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" placeholder="Link" id="fileValue" th:placeholder="#{task.type.file}"/>
                                    </div>
                                </div>
            </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="submitBut" class="btn btn-primary" onclick="javascript:submitTaskForm();return false;" th:text="#{editor.create}"></button>
                                <input type="submit" value="submit" onclick="javascript:submitTaskForm();return false;" hidden="true"/>
                            </div>
                        </div>
                    </div>
			
	<script th:inline="javascript">
			/*<![CDATA[*/
			
			function hideOrShowElement(element, show) {
				if (show) element.show();
				else element.hide();
			}

            $("#name").on('input', function() {
            	var name = $("#name").val();
            	var names = /*[[${names}]]*/ [];
            	var existWarning = /*[[#{editor.error.exists.task}]]*/ "";
    			$("#warningText").html("");
    			$("#submitBut")[0].disabled = false;
            	for (var i = 0; i < names.length; i++)
            		if (names[i] == name) {
            			$("#warningText").html(existWarning);
            			$("#submitBut")[0].disabled = true;
            			break;
            		}
            });

            $("#type").on('input', function() {
            	hideOrShowElement($("#textAbout"), $("#type").val() == "1");
            	hideOrShowElement($("#acronisAbout"), $("#type").val() == "2");
            	hideOrShowElement($("#linkAbout"), $("#type").val() == "3");
            	hideOrShowElement($("#fileAbout"), $("#type").val() == "4");
            });
            
			/*]]>*/
			</script>
				</form>
			</div>
<div th:fragment="taskCreationSuccess" th:remove="tag">
	<p>Form successfully submitted</p>
</div>