<div th:fragment="motivationModalForm" th:remove="tag">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
	<div class="modal-body">
  		<div class="collection-object force-width" id="newMotivationForm">
  		<h3 id="motivationFormTitle"><span id="motivationTitle" th:text="#{motivation.create.new}"></span></h3>
  		<form action="#" th:action="@{/motivations/alternativeAsync}" th:object="${motivation}" method="post" id="motivationCreate">
  			<input type="hidden" id='selfId' th:field="*{id}" class="input-wide" th:value="0"/>
  			<input type="hidden" id='selfIsGroup' th:field="*{isGroup}" class="input-wide" th:value="false"/>
  			<p><span class="warning" id="warning"></span></p>
  			<p th:text="#{motivations.type}">:</p>
  			<p><input name="radioType" value="group" type="radio" th:text="#{motivations.group}" id="radioGroup" onclick="radioTypeClick()"/></p>
  			<p><input name="radioType" value="motivation" type="radio" th:text="#{motivations.motivation}" id="radioMotivation" onclick="radioTypeClick()"/></p>
  			<p th:text="#{motivations.name}">:</p>
			<p><input type="text" class="form-control" th:field="*{name}" placeholder="Name" th:placeholder="#{motivations.name}" pattern=".{0,100}" title="Must be more than 5 but less than 100 symbols" th:title="#{motivations.name}" id="motivation_name" onblur="addCheck(this, 5, 100)"/></p>
			<p id="descriptionTitle" th:text="#{motivations.description}">:</p>
			<p><textarea type="textarea" class="form-control" th:field="*{description}" placeholder="Description" th:placeholder="#{motivations.description}" pattern=".{0,1000}" title="Must be less than 1000 symbols" th:title="#{motivations.description}" id="motivation_description"></textarea></p>
			<div class="row">
			<div class="two-buttons">
  			<p th:text="#{motivations.code}">:</p>
			<p><input type="text" class="form-control" th:field="*{code}" placeholder="Code" th:placeholder="#{motivations.code}" pattern=".{0,100}" title="Must be less than 5 symbols" th:title="#{motivations.code}" id="motivation_code"/></p>
			</div>
			<div class="two-buttons">
			<p id="costTitle" th:text="#{motivations.cost}"></p>
			<p><input type="number" class="form-control" th:field="*{cost}" min="0" id="motivation_cost"/></p>
  			</div>
  			</div>
 			<div class="row">
			<div class="two-buttons">
			<p id="benTitle" th:text="#{motivations.benefit}"></p>
			<p><input type="number" class="form-control" th:field="*{benefit}" min="0" id="motivation_ben"/></p>
			</div>
			<div class="two-buttons">
			<p id="budTitle" th:text="#{motivations.budget}"></p>
			<p><input type="number" class="form-control" th:field="*{budget}" min="0" id="motivation_budget"/></p>
  			</div>
  			</div>
  			<p id="localTitle" th:text="#{motivation.local}">:</p>
			<p><select th:field="*{local}" size="7" multiple="true" >
					<option value="" th:text="#{motivation.local.all}">Global</option>
					<option th:each="lang : ${languages}" th:value="${lang.code}" th:text="${lang.code}">EN</option>
			</select></p>

		<p th:text="#{motivations.group}"></p>
		<p><select id="parentSelect"
				th:field="*{parent}">
				<option th:value="null" th:text="#{motivations.nogroup}">No
					group</option>
				<option th:each="motivationInList : ${motivationsList}" th:if="${motivationInList.isGroup}"
					th:value="${motivationInList.id}" th:text="${motivationInList.name}">A
					motivation</option>
		</select></p>
			<p><div class="two-buttons" id="submitBlock"><input type="submit" id="motivationSubmitButton" class="btn btn-primary btn-block" value="Create" th:value="#{motivations.save}"/></div>
		<div class="two-buttons"><a id="deleteLink" href="#"><span class="input-group-btn">
			<span class="btn btn-primary btn-block" th:text="#{skillPopup.delete}">Delete</span>
		</span></a></div></p>
		</form>
  		</div>
  	</div>
  	</div>
	</div>
	</div>
	
			
<div th:fragment="motivationCreationSuccess" th:remove="tag">
  <p>Form successfully submitted</p>
</div>