<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="js-full-include">
	<script type="text/javascript" th:src="@{/resources/vendors/jquery/dist/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/vendors/fastclick/lib/fastclick.js}"></script>
	<script type="text/javascript" th:src="@{/resources/vendors/nprogress/nprogress.js}"></script>
	<script type="text/javascript" th:src="@{/resources/vendors/Chart.js/dist/Chart.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/vendors/jquery-sparkline/dist/jquery.sparkline.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/vendors/raphael/raphael.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/vendors/morris.js/morris.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/vendors/gauge.js/dist/gauge.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/vendors/skycons/skycons.js}"></script>
	<script type="text/javascript" th:src="@{/resources/vendors/Flot/jquery.flot.js}"></script>
	<script type="text/javascript" th:src="@{/resources/vendors/Flot/jquery.flot.pie.js}"></script>
	<script type="text/javascript" th:src="@{/resources/vendors/Flot/jquery.flot.time.js}"></script>
	<script type="text/javascript" th:src="@{/resources/vendors/Flot/jquery.flot.stack.js}"></script>
	<script type="text/javascript" th:src="@{/resources/vendors/Flot/jquery.flot.resize.js}"></script>
	<script type="text/javascript" th:src="@{/resources/vendors/flot.orderbars/js/jquery.flot.orderBars.js}"></script>
	<script type="text/javascript" th:src="@{/resources/vendors/flot-spline/js/jquery.flot.spline.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/vendors/flot.curvedlines/curvedLines.js}"></script>
	<script type="text/javascript" th:src="@{/resources/vendors/DateJS/build/date.js}"></script>
	<script type="text/javascript" th:src="@{/resources/design/js/moment/moment.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/design/js/datepicker/daterangepicker.js}"></script>
	<script type="text/javascript" th:src="@{/resources/design/js/custom.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/vendors/bootstrap-table/bootstrap-table.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/dtree.js}"></script></th:block>
</html>