		<div class="col-md-3 left_col" th:fragment="navbar">
          <div class="left_col scroll-view">
          <!--  th:style="'background: #38424d url('+@{/resources/images/Festo_Automatisierung_002.jpg}+') no-repeat center top;'" -->
            <div class="navbar nav_title" style="border: 0;">
              <a th:href="@{/}" class="site_title"> <!-- span th:text="'CPMS'"></span--><img th:src="@{/resources/images/Logo_Festo.png}"></img></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile">
                <a th:href="${isResident} ? @{/viewer/profile(id=${companyId})} : @{/security/me}">
              <div class="profile_pic">
              	<th:block th:if="${!isAuthenticated}">
                	<img th:src="@{/resources/images/no-user.png}" class="img-circle profile_img"></img>
                </th:block>
                <th:block th:if="${isAuthenticated}">
                	<img th:src="@{/resources/images/user.png}" class="img-circle profile_img"></img>
                </th:block>
              </div>
              <div class="profile_info">
                <span th:text="${isAdmin} ? #{role.admin} : (${isResident} ? #{role.resident} : #{role.anonym})"></span>
                <h2 th:text="${username}">></h2>
              </div>
                </a>
            </div>


            <br />


            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3 th:text="#{navbar.navigation}"></h3>
                <ul class="nav side-menu">
                  <li><a th:href="@{/dashboard}"><i class="fa fa-edit"></i> <span th:text="#{navbar.statistics}">Statistics</span></a></li>
                  <li th:if="${isAdmin or isResident}"><a><i class="fa fa-info"></i><span th:text="#{navbar.block1}">Experts Network Creation</span> <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a th:href="@{/viewer}"><span th:text="#{navbar.experts}">Experts</span></a></li>
                      <li><a th:href="@{/skills}"><span th:text="#{navbar.skills}">Skills</span></a></li>
                    </ul>
                  </li>
                  <li th:if="${isHR or username=='admin'}"><a th:href="@{/motivations}"><i class="fa fa-edit"></i> <span th:text="#{navbar.motivations}">Motivations</span></a></li>
                  <li th:if="${isAdmin or isResident or isBoss}"><a><i class="fa fa-info"></i><span th:text="#{navbar.block2}">Business process</span> <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li th:if="${isAdmin or isResident}"><a th:href="@{/viewer/tasks}"><span th:text="#{navbar.task}">Task definition</span></a></li>
                      <li th:if="${isAdmin or isResident}"><a th:href="@{/}"><span th:text="#{navbar.estimations}">Estimations</span></a></li>
                      <li><a th:href="@{/}"><span th:text="#{navbar.messages}">Messaging center</span></a></li>
                      <li th:if="${isBoss or username=='admin'}"><a th:href="@{/}"><span th:text="#{navbar.reward}">Reward</span></a></li>
                    </ul>
                  </li>
                  <li th:if="${isHR}"><a th:href="@{/}"><i class="fa fa-edit"></i> <span th:text="#{navbar.messages}">Messaging center</span></a></li>
                </ul>
              </div>
            </div>

          </div>
        </div>