		<!-- top navigation -->
        <div class="top_nav" th:fragment="top-navbar">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <!-- a id="menu_toggle"><i class="fa fa-bars" onclick="document.cookie = 'menuHidden=' + $('body').hasClass('nav-md')"></i></a-->
              </div>
              
            <th:block th:unless="${getRole==''}">
	            <a th:if="${isAdmin or isResident}" class="btn" th:href="@{/viewer/tasks}" th:text = "#{tasks.assigned} + ': ' + ${newTasks}">Tasks</a>
	            <a class="btn" th:href="@{/messages}" th:text = "#{message.unredonly} + ': ' + ${newMessages}">Messages</a>
            </th:block>
            <div class="navbar navbar-right enforce-auto-width" style="border: 0;">
              <a th:href="@{/security/me}" class="site_title"> <!-- span th:text="'CPMS'"></span--><img th:src="@{/resources/images/Logo_Festo.png}"></img></a>
            </div>
              <ul class="nav navbar-nav navbar-right enforce-auto-width">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  	<th:block th:if="${!isAuthenticated}">
                    	<img th:src="@{/resources/images/no-user.png}" alt="" /><span th:text="${username}"></span>
                    </th:block>
                    <th:block th:if="${isAuthenticated}">
                    		<img th:src="@{/resources/images/user.png}" alt="" /><span th:text="${username}"></span>
                    </th:block>
                    </a>
                    <span class="fa fa-angle-down"></span>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a th:href="@{/security/me}" th:text="#{navbar.new.profile}"></a></li>
                    <li th:if="${isResident}"><a th:href="@{/viewer/profile(id=${companyId})}" th:text="#{navbar.new.company}" th:disabled="${!(companyId > 0)}"></a></li>
                    <li><a href="javascript:;" th:text="#{navbar.new.help}" onclick="$('#help').modal('show')"></a></li>
                    <li th:if="${isAuthenticated}">
                    	<form th:action="@{/security/logout}" id="logout-post" method="post"></form>
                    	<a href="#" onclick="document.getElementById('logout-post').submit()"><i class="fa fa-sign-out pull-right"></i><span th:text="#{me.logout}"></span></a>
                    </li>
                  </ul>
                </li>
              </ul>
              
              <ul class="langbar-list">
				<li class="langbar-li">
					<a id="lang_ru" href="?language=ru" class="icon">
						<img th:src="@{/resources/images/flag_ru.png}" class="langbar-img"/>
					</a>
				</li>
				<li class="langbar-li">
					<a id="lang_en" href="?language=en" class="icon">
						<img th:src="@{/resources/images/flag_en.png}" class="langbar-img"/>
					</a>
				</li>
				<li class="langbar-li">
					<a id="lang_de" href="?language=de" class="icon">
						<img th:src="@{/resources/images/flag_de.png}" class="langbar-img"/>
					</a>
				</li>
			  </ul>
			  <script>
			  var loc = String(document.location);
			  if (loc.indexOf("?") >= 0) {
				  // <!--
				  loc = loc + "&";
				  loc = loc.replace('language=en&', '').replace('language=ru&', '').replace('language=de&', '');
				  // -->
				  document.getElementById('lang_de').setAttribute('href', loc + 'language=de');
				  document.getElementById('lang_en').setAttribute('href', loc + 'language=en');
				  document.getElementById('lang_ru').setAttribute('href', loc + 'language=ru');
			  }
			  </script>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->