<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
		<div th:if="${isResident and isOwner}" class="x_panel" th:fragment="residentApplications">
			<div class="x_title">
				<h3 th:text="#{dashboard.applications.resident.header}"></h3>
			</div>
			<div class="x_content">
				<table class="table table-responsive table-striped">
					<tr th:each="competencyApplication : ${userCompetencyApplications}">
						<td>
							<span th:text="${competencyApplication.competencyPresentationName}"></span>
							<div class="btn-group" role="group" style="margin-left: 10px;">
								<form th:action="@{/applications/recall/competency(id=${competencyApplication.id})}" action="#" method="post">
                            		<button type="submit" class="btn btn-danger"><i class="fa fa-remove"></i></button>
                                </form>
							</div>
						</td>
						<td>
							<span th:text="#{dashboard.applications.evidence}"></span>
							<a th:href="@{/applications/suggest/evidence/{competencyId}/(competencyId=${competencyApplication.id})}">
								<button type="button" class="btn btn-success"><i class="fa fa-plus"></i></button>
							</a>
							<table class="table table-striped">
								<tr th:each="evidence : ${competencyApplication.evidence}">
									<td>
										<p>
											<span th:text="${evidence.description}">Description</span>
										</p>
										<p><span th:text="${evidence.type}">Type</span></p>
										<p>
											<span th:text="#{dashboard.applications.evidence.acquired} + ' '"></span>
											<span th:text="${evidence.acquiredDate}">Acquired Date</span>
										</p>
										<p>
											<span th:text="#{dashboard.applications.evidence.expires} + ' '"></span>
											<span th:if="${evidence.expirationDate} != null"
											 	th:text="${evidence.expirationDate}">Expiration Date</span>
											<span th:if="${evidence.expirationDate} == null"
											 	th:text="#{dashboard.applications.evidence.expires.never}">Never</span>
										</p>
										<form th:action="@{/applications/recall/evidence(id=${evidence.id})}" action="#" method="post">
											<button type="submit" class="btn btn-danger"><i class="fa fa-remove"></i></button>
										</form>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<form th:action="@{/applications/suggest/competency}" action="#" method="get">
					<button type="submit" class="btn btn-success"><i class="fa fa-plus"></i></button>
				</form>
			</div>
		</div>
</html>