<div id="skillDialog" title="Skill" th:title="#{skillPopup.title}"
	class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-draggable ui-resizable"
	style="display: none;"
	xmlns:th="http://www.thymeleaf.org">
	<div id="viewSkillBlock" class="collection-object force-width">
		<h3><span id="skillName">Name</span></h3>
  		<p><span id="skillAbout">About</span></p>
  		<p hidden="true"><span id="skillLevels">Levels</span></p>
  		<p hidden="true" th:text="#{skill.levels}"></p>
		<table hidden="true" class="table table-striped">
			<tbody id="levelsView">
			</tbody>
		</table>
  		<div class="input-group">
			<a hidden="true" id="rememberLink" onclick="#">
				<span class="input-group-btn">
					<button class="btn btn-lg" type="submit" th:text="#{skillPopup.remember}">Remember</button>
				</span>
			</a>
			<a id="editLink" th:if="${isAdmin or isResident}" href="#">
				<span class="input-group-btn">
					<button class="btn btn-lg" type="submit" th:text="#{skillPopup.edit}">Edit</button>
				</span>
			</a>
			<a id="deleteLink" th:if="${isAdmin or isResident}" href="#">
				<span class="input-group-btn">
					<button class="btn btn-lg" type="submit" th:text="#{skillPopup.delete}">Delete</button>
				</span>
			</a>
			<a hidden="true" id="approveLink" th:if="${isAdmin}" href="#">
				<span class="input-group-btn">
					<button class="btn btn-lg" type="submit" th:text="#{skillPopup.approve}">Approve</button>
				</span>
			</a>
  		</div>
  	</div>
  	<div th:if="${isAdmin or isResident}">
  		<h3><span id="skillName" th:text="#{skillPopup.child}"></span></h3>
  		<form action="#" th:action="@{/editor/skill/alternative}" th:object="${skill}" method="post">
  			<input type="hidden" th:field="*{id}" class="input-wide" th:value="0"/>
  			<p th:text="#{editor.skill.name}"></p>
			<p><input type="text" class="input-wide" th:field="*{name}" placeholder="Skill name" th:placeholder="#{editor.placeholder.skill_name_en}" pattern=".{0,100}" title="Must be more than 5 but less than 100 symbols"/></p>
			<p th:text="#{editor.skill.description}"></p>
			<p><input type="text" class="input-wide" th:field="*{about}" placeholder="About" th:placeholder="#{editor.placeholder.description_en}" pattern=".{0,1000}" title="Must be less than 1000 symbols"/></p>
			<p hidden="true" th:text="#{editor.skill.maxlevel}"></p>
			<p hidden="true"><span th:text="#{editor.maxlevel}"></span> <input type="number" th:field="*{maxLevel}" min="1" max="100" id="levelsNum"/></p>
			<input type="hidden" id="parentId" th:field="*{parent}" th:value="null"/>
			<p><input type="submit" class="btn btn-lg" value="Create" th:value="#{editor.create}"/></p>
			<p hidden="true" th:text="#{skillPopup.editor.level}"></p>
			<table hidden="true" class="table table-striped">
				<tbody id="levelsPost">
				</tbody>
			</table>
  		</form>
  	</div>
</div>