<div th:fragment="skillTree" th:remove="tag">

                    <span th:text="#{editor.filter}" text="Filter"></span>
					<p><input type="text" class="form-control" id="skillFilter"/></p>
					<script>
					function clearFilter(){
						$("#skillFilter").val("");
						$("#skillFilter").trigger("input");
					}
					</script>
					<p><span id="sss"></span></p>
					<p><span class="btn btn-warning btn-block" th:text="#{editor.clear}" onclick='clearFilter();'></span></p>
					
	<div id="ch0"></div>

	<script th:inline="javascript">
	/*<![CDATA[*/

		function addChild(id, flag, term, kids) {
			var html = "";
			html += "<div id='sb" + id + "'>";
			html += flag;
			if (kids > 0)
				html += "<img id='img" + id + "' src='" + rootPath + "resources/images/dtree/nolines_plus.gif' " +
					"onclick='ajaxSkillChildren(\"" + rootPath + "skills/ajaxSkillChildren\", " + id + ");'>";
			html += "<a id='ask" + id + "' href='#' onclick='clickSkill(" + id + ");'>"
				+ term + "</a>";
			html += "<div id='ch" + id + "'></div>";
			html += "</div>";
			return html;
	}
		function showChild(child) {
		// if it shown then break
		if ($("#sb" + child.id).length > 0) return;
		// if parent is not shown then show it
		var parentId = "#ch";
		if (child.parent !== null) {
			if ($("#sb" + child.parent.id).length <= 0)
				showChild(child.parent);
			parentId += child.parent.id;
		}
		// add to the parent
		$(parentId).html($(parentId).html() + addChild(child.id, child.alternative, child.name, 1));
	}
	function applyFilter() {
		var inputArgs = [];
		var filterText = $("#skillFilter").val().toLowerCase();
		inputArgs.push(filterText);
		var requestUrl = rootPath + "skills/ajaxSearch";

		 var csrfHeader = $("meta[name='_csrf_header']").attr("content");
	     var csrfToken = $("meta[name='_csrf']").attr("content");
	     var headers = {};
	     headers[csrfHeader] = csrfToken;
	     $("#sss").text("start searching");
		$.ajax({
			url : requestUrl,
			type: 'POST',
			dataType: 'json',
			contentType: 'application/json; charset=utf-8',
			data : JSON.stringify(inputArgs),
			headers: headers,
			success: function (res) {
				if (res !== null) {
				     $("#sss").text("processing results");
					// get ids to show
					var toShow = ["sb0"];
					for (var i = 0; i < res.length; i++) {
						var skill = res[i];
						toShow.push("sb" + skill.id);
						var curSkill = skill.parent;
						while (curSkill !== null) {
							var toAdd = "sb" + curSkill.id;
							if (toShow.indexOf(toAdd) >= 0)
								break;
							toShow.push(toAdd);
							curSkill = curSkill.parent;
						}
						showChild(skill);
					}
					// hide all that not to show
					var all = $("[id^=sb]");
					for (var i = 0; i < all.length; i++)
						if (toShow.length <= 1 || toShow.indexOf(all[i].id) >= 0)
							$("#" + all[i].id).show();
						else
							$("#" + all[i].id).hide();
				     $("#sss").text("");
				}
			},
			error: function (xhRequest, ErrorText, thrownError) {
				console.log('xhRequest: ' + xhRequest + "\n");
				console.log('ErrorText: ' + ErrorText + "\n");
				console.log('thrownError: ' + thrownError + "\n");
				console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
			}
		});
	}
	$("#skillFilter").keydown(function(e) {if(e.keyCode === 13) applyFilter()});
	
			function ajaxSkillChildren(requestUrl) {
				
				var inputArgs = [];
				var i;
				for (i = 1; i < arguments.length; i++) {
					inputArgs.push(arguments[i]);
				}
				
				 var csrfHeader = $("meta[name='_csrf_header']").attr("content");
			     var csrfToken = $("meta[name='_csrf']").attr("content");
			     var headers = {};
			     headers[csrfHeader] = csrfToken;
				
				$.ajax({
					url : requestUrl,
					type: 'POST',
					dataType: 'json',
					contentType: 'application/json; charset=utf-8',
					data : JSON.stringify(inputArgs),
					headers: headers,
					success: function (res) {
						var html = "";
						elImg = $("#img" + res.id);
						if (elImg.length > 0 && elImg.attr('src').indexOf("/resources/images/dtree/nolines_minus.gif") >= 0)
							elImg.attr('src', rootPath + "resources/images/dtree/nolines_plus.gif");
						else {
							if (elImg.length > 0)
								elImg.attr('src', rootPath + "resources/images/dtree/nolines_minus.gif");
							for (var i = 0; i < res.ids.length; i++) {
								html += addChild(res.ids[i], res.flags[i], res.terms[i], res.kids[i]);
							}
						}
						$("#ch" + res.id).html(html);
					},
					error: function (xhRequest, ErrorText, thrownError) {
						console.log('xhRequest: ' + xhRequest + "\n");
						console.log('ErrorText: ' + ErrorText + "\n");
						console.log('thrownError: ' + thrownError + "\n");
						console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
					}
				});
			}
			ajaxSkillChildren(rootPath + "skills/ajaxSkillChildren", 0);
			
			// some stuff for opening skills
			var placeholderAboutEn = /*[[#{editor.placeholder.description_en}]]*/ 'About';
			var titleAboutRu = /*[[#{editor.title.description_ru}]]*/ 'Must not be longer than 1000 symbols';
			var titleAboutEn = /*[[#{editor.title.description_en}]]*/ 'Must not be longer than 1000 symbols';
			function _instanceof(left, right) { if (right != null && typeof Symbol !== "undefined" && right[Symbol.hasInstance]) { return right[Symbol.hasInstance](left); } else { return left instanceof right; } }

			function _classCallCheck(instance, Constructor) { if (!_instanceof(instance, Constructor)) { throw new TypeError("Cannot call a class as a function"); } }

			var SkillLevel = function SkillLevel(about) {
			  _classCallCheck(this, SkillLevel);

			  this.about = about;
			};
	
			function generateLevelFormTable(totalLevels) {
				res="";
				for (i = 0; i < totalLevels.length; i++) {
					res += "<tr><td><p>";
					res += "<span>" + (i + 1) + " " + /*[[#{skill.level}]]*/ "skill";
					res += ": </span>";
					res += "</p>"
					
					res += "<p><textarea type=\"textarea\" "; 
					res += "id=\"levels[" + i + "].about\" ";
					res += "class=\"form-control\"";
					res += "name=\"levels[" + i + "].about\" ";
					res += "placeholder=\"" + placeholderAboutEn + "\" ";
					res += "pattern=\".{0,1000}\" ";
					res += "title=\"" + titleAboutEn + "\" >";
					res += totalLevels[i].about;
					res += "</textarea></p>";
					
					res += "</td></tr>\n";
				}
				return res;
			}
			
			function ajaxSkillDialog(requestUrl) {
				
				var admin = /*[[${isAdmin}]]*/ false;
				var resident = /*[[${isResident}]]*/ false;	
				
				admin = admin || resident;
				
				var isChild = false;
				
				var inputArgs = [];
				var i;
				for (i = 1; i < arguments.length; i++) {
					if (arguments[i] < 0) {
						isChild = true;
						arguments[i] = -arguments[i];
					}
					inputArgs.push(arguments[i]);
				}
				
				 var csrfHeader = $("meta[name='_csrf_header']").attr("content");
			     var csrfToken = $("meta[name='_csrf']").attr("content");
			     var headers = {};
			     headers[csrfHeader] = csrfToken;
				
				$.ajax({
					url : requestUrl,
					type: 'POST',
					dataType: 'json',
					contentType: 'application/json; charset=utf-8',
					data : JSON.stringify(inputArgs),
					headers: headers,
					success: function (res) {
						document.getElementById('skillName').innerHTML=res.name;
						document.getElementById('skillAbout').innerHTML=res.about;
						document.getElementById('skillLevels').innerHTML='1 - ' + res.maxLevel;
						document.getElementById('levelsView').innerHTML=generateLevelTable(res.levels, true, res.id);
						//document.getElementById('editLink').setAttribute('onclick','ajaxSkillDialog(\'' + rootPath + 'viewer/ajaxSkill\', -' + res.id + '); return false;');
						if (res.id > 0) {
							document.getElementById('deleteLink').setAttribute('href', './editor/skill/delete?id=' + res.id);
							document.getElementById('createChildButton').setAttribute('onclick', 'ajaxSkillDialog(\'' + rootPath + 'viewer/ajaxSkill\', -' + res.id + '); return false;');
							$("#deleteLink").show();
							$("#createChildButton").show();
						} else {
							$("#deleteLink").hide();
							$("#createChildButton").hide();
						}
						
						if (res.parentId == null)
							//$('#parentSelect option[value=""]').prop('selected', true);
							$("#parentId").val(0);
						else
							$("#parentId").val(res.parentId);
							//$('#parentSelect option[value="' + res.parentId + '"]').prop('selected', true);
						if (res.id > 0 && !isChild) {
							// Copy values from changed skill
							$("#skill_name").val(res.name_en);
							$("#about").val(res.about_en);
							$("#levelsNum").val(res.maxLevel);
							// Copy levels
							var totalLevels = [""];
					    	totalLevels[0] = new SkillLevel("");
							for (var i = 0; i < res.levels.length; i++) {
					    		totalLevels[i].about = res.levels[i].about_en;
						    	totalLevels.push(new SkillLevel(""));
							}
						    while (res.levels.length > totalLevels.length) {
						    	totalLevels.push(new SkillLevel(""));
						    }
						    while (res.levels.length < totalLevels.length) {
						    	totalLevels.pop();
						    }
						    // Remember id of the changed skill
						    $("#selfId").val(res.id);
						}
						else {
							// Clear all values
							$("#skill_name").val("");
							$("#about").val("");
							$("#levelsNum").val(6);
							var totalLevels = [""];
							var defLevels = /*[[${defaultLevels}]]*/ [""];
					    	totalLevels[0] = new SkillLevel(defLevels[0]);
					    	for (var i = 1; i < defLevels.length; i++)
						    	totalLevels.push(new SkillLevel(defLevels[i]));
						    // Forget skill id
						    $("#selfId").val(0);
						}
					    document.getElementById("levelsPost").innerHTML=generateLevelFormTable(totalLevels);
						    
						var skillName = "";
						if (isChild) {
							$("#viewSkillBlock").show();
							$("#newSkillForm").show();
							$('#parentSelect option[value="' + res.id + '"]').prop('selected', true);
							skillName = /*[[#{skillPopup.child}]]*/ 'Create a Child';
						} else {
							$("#viewSkillBlock").hide();
							$("#newSkillForm").show();
							if (res.id == 0)
								skillName = /*[[#{skillPopup.new}]]*/ 'Create a Skill';
							else
								skillName = res.name_en;
						}
						if (admin)
						document.getElementById('skillFormTitle').innerHTML=
							"<span id=\"skillName\">" + skillName + "</span>";
						$('#createSkillModal').modal('show');
					},
					error: function (xhRequest, ErrorText, thrownError) {
						console.log('xhRequest: ' + xhRequest + "\n");
						console.log('ErrorText: ' + ErrorText + "\n");
						console.log('thrownError: ' + thrownError + "\n");
						console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
					}
				});
			}

			function generateLevelTable(levels, admin, skillId) {
				res="";
				for (i = 0; i < levels.length; i++) {
					res += "<tr><td><p>";
					res += "<span>" + levels[i].level + " - " + levels[i].about + "</span>";
					res += "</p></td></tr>\n";
				}
				return res;
			}
	/*]]>*/
	</script>
	
</div>