
<div th:fragment="skillTree" th:remove="tag">
	<script th:inline="javascript">
			/*<![CDATA[*/
				var skillDraft = /*[[@{/resources/images/dtree/skill-draft.gif}]]*/ rootPath + 'resources/images/dtree/skill-draft.gif'
			           
			    d = new dTree('d');       
			    d.add(0,-1,'');       
			           
		    	var skills = /*[[${skills}]]*/ null;
		    	for (var parent in skills) {
		   			if (skills.hasOwnProperty(parent)) {
		   				for (var i=0; i<skills[parent].length; i++) {
		   					if (skills[parent][i].draft) {
		   						d.add(skills[parent][i].id,
		   								parent,
		   								skills[parent][i].name,
		   								skills[parent][i].id,
		   								skills[parent][i].type,
		   								null,
		   								null,
		   								/*[[@{/resources/images/dtree/skill-draft.gif}]]*/ rootPath + 'resources/images/dtree/skill-draft.gif'
		   								,
		   								/*[[@{/resources/images/dtree/skill-draft.gif}]]*/ rootPath + 'resources/images/dtree/skill-draft.gif'
		   								);
		   					} else {
		   						d.add(skills[parent][i].id,
		   								parent,
		   								skills[parent][i].name,
		   								skills[parent][i].id,
		   								skills[parent][i].type);
		   					}
		   				}
		   			}
		   		}
		    	
		    	document.write(d);
		    	
		    	var searchId = /*[[${searchId}]]*/ 0;
		    	if (searchId != 0) {
		    		d.openTo(searchId, true);
		    	}
			
			/*]]>*/
			</script>
	<script th:inline="javascript">
			/*<![CDATA[*/
				
			var placeholderAboutRu = /*[[#{editor.placeholder.description_ru}]]*/ 'About (RU)';
			var placeholderAboutEn = /*[[#{editor.placeholder.description_en}]]*/ 'About (EN)';
			var titleAboutRu = /*[[#{editor.title.description_ru}]]*/ 'Must not be longer than 1000 symbols';
			var titleAboutEn = /*[[#{editor.title.description_en}]]*/ 'Must not be longer than 1000 symbols';
			
			function generateLevelFormTable(totalLevels) {
				res="";
				for (i = 0; i < totalLevels.length; i++) {
					res += "<tr><td><p>";
					res += "<span>" + (i + 1) + " " + /*[[#{skill.level}]]*/ "skill";
					res += ": </span>";
					res += "</p>"
					
					res += "<p><textarea type=\"textarea\" "; 
					res += "id=\"levels[" + i + "].about\" ";
					res += "class=\"form-control\"";
					res += "name=\"levels[" + i + "].about\" ";
					res += "placeholder=\"" + placeholderAboutEn + "\" ";
					res += "pattern=\".{0,1000}\" ";
					res += "title=\"" + titleAboutEn + "\" >";
					res += totalLevels[i].about;
					res += "</textarea></p>";
					
					res += "<p><textarea type=\"textarea\" "; 
					res += "id=\"levels[" + i + "].about_RU\" ";
					res += "class=\"form-control\"";
					res += "name=\"levels[" + i + "].about_RU\" ";
					res += "placeholder=\"" + placeholderAboutRu + "\" ";
					res += "pattern=\".{0,1000}\" ";
					res += "title=\"" + titleAboutRu + "\" >";
					res += totalLevels[i].about_RU;
					res += "</textarea></p>";
					
					res += "</td></tr>\n";
				}
				return res;
			}
			
			class SkillLevel{
				constructor(about, about_RU) {
					this.about = about;
					this.about_RU = about_RU;
				}
			}
			
			function ajaxSkillDialog(requestUrl) {
				
				var admin = /*[[${isAdmin}]]*/ false;
				var resident = /*[[${isResident}]]*/ false;	
				
				admin = admin || resident;
				
				var isChange = false;
				
				var inputArgs = [];
				var i;
				for (i = 1; i < arguments.length; i++) {
					if (arguments[i] < 0) {
						isChange = true;
						arguments[i] = -arguments[i];
					}
					inputArgs.push(arguments[i]);
				}
				
				 var csrfHeader = $("meta[name='_csrf_header']").attr("content");
			     var csrfToken = $("meta[name='_csrf']").attr("content");
			     var headers = {};
			     headers[csrfHeader] = csrfToken;
				
				$.ajax({
					url : requestUrl,
					type: 'POST',
					dataType: 'json',
					contentType: 'application/json; charset=utf-8',
					data : JSON.stringify(inputArgs),
					headers: headers,
					success: function (res) {
						document.getElementById('skillName').innerHTML=res.name;
						document.getElementById('skillAbout').innerHTML=res.about;
						document.getElementById('skillLevels').innerHTML='1 - ' + res.maxLevel;
						document.getElementById('rememberLink').setAttribute('onclick', "my_ajaxDialog('" + rootPath + "dashboard/rememberSkill', '" + res.id + "'); return false;");
						document.getElementById('levelsView').innerHTML=generateLevelTable(res.levels, admin, res.id);
						if (admin) {
							//document.getElementById('editLink').setAttribute('href', './editor/skill?id=' + res.id);
							document.getElementById('editLink').setAttribute('onclick','ajaxSkillDialog(\'' + rootPath + 'viewer/ajaxSkill\', -' + res.id + '); return false;');
							//document.getElementById('parentId').setAttribute('value', res.id);
							if (res.parentId == null)
								$('#parentSelect option[value=""]').prop('selected', true);
							else
								$('#parentSelect option[value="' + res.parentId + '"]').prop('selected', true);
							document.getElementById('deleteLink').setAttribute('href', './editor/skill/delete?id=' + res.id);
							if (!resident && res.draft) {
								document.getElementById('approveLink').setAttribute('href', './editor/skill/approve?id=' + res.id);
								$('#approveLink').show();
							} else {
								$('#approveLink').hide();
							}
							if (isChange) {
								// Copy values from changed skill
								$("#skill_name").val(res.name_en);
								$("#skill_name_ru").val(res.name_ru);
								$("#about").val(res.about_en);
								$("#about_RU").val(res.about_ru);
								$("#levelsNum").val(res.maxLevel);
								// Copy levels
								var totalLevels = [""];
						    	totalLevels[0] = new SkillLevel("","");
								for (var i = 0; i < res.levels.length; i++) {
									//$("#levels[" + i + "].about").val(res.levels[i].about_en);
									//$("#levels[" + i + "].about_RU").val(res.levels[i].about_ru);

						    		totalLevels[i].about = res.levels[i].about_en;
						    		totalLevels[i].about_RU = res.levels[i].about_ru;
							    	totalLevels.push(new SkillLevel("",""));
								}
							    while (res.levels.length > totalLevels.length) {
							    	totalLevels.push(new SkillLevel("",""));
							    }
							    while (res.levels.length < totalLevels.length) {
							    	totalLevels.pop();
							    }
							    // Remember id of the changed skill
							    $("#selfId").val(res.id);
							}
							else {
								// Clear all values
								$("#skill_name").val("");
								$("#skill_name_ru").val("");
								$("#about").val("");
								$("#about_RU").val("");
								$("#levelsNum").val(4);
								var totalLevels = [""];
								var defLevels = /*[[${defaultLevels}]]*/ [["", ""]];
						    	totalLevels[0] = new SkillLevel(defLevels[0][0], defLevels[0][1]);
						    	for (var i = 1; i < defLevels.length; i++)
							    	totalLevels.push(new SkillLevel(defLevels[i][0], defLevels[i][1]));
							    // Forget skill id
							    $("#selfId").val(0);
							}
						    // Hide this skill and its children from parent skill select list or show them all
						    function checkParents(parents, id) {
						    	for (var i=0; i<parents.length; i++)
						    		if (parents[i] == id){
						    			return true;
						    		}
						    	return false;
						    }
							var skillsAndParents = /*[[${skillsAndParents}]]*/ null;
						    for (var skill in skillsAndParents)
								$('#parentSelect option[value="' + skill + '"]').prop('hidden', checkParents(skillsAndParents[skill], res.id));
						    document.getElementById("levelsPost").innerHTML=generateLevelFormTable(totalLevels);
						}
						var skillName = "";
						if (res.id > 0 && !isChange) {
							$("#viewSkillBlock").show();
							$("#newSkillForm").hide();
							$('#parentSelect option[value="' + res.id + '"]').prop('selected', true);
							skillName = /*[[#{skillPopup.child}]]*/ 'Create a Child';
						} else {
							$("#viewSkillBlock").hide();
							$("#newSkillForm").show();
							skillName = /*[[#{skillPopup.new}]]*/ 'Create a Skill';
						}
						if (admin)
						document.getElementById('skillFormTitle').innerHTML=
							"<span id=\"skillName\">" + skillName + "</span>";
						$('#createSkillModal').modal('show');
					},
					error: function (xhRequest, ErrorText, thrownError) {
						console.log('xhRequest: ' + xhRequest + "\n");
						console.log('ErrorText: ' + ErrorText + "\n");
						console.log('thrownError: ' + thrownError + "\n");
						console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
					}
				});
			}
			
			var treeSkillLevelEdit = /*[[#{skill.level.edit}]]*/ 'Edit Skill Level';
			var treeSkillLevelDefine = /*[[#{skill.level.define}]]*/ 'Define Skill Level';
			
			function generateLevelTable(levels, admin, skillId) {
				res="";
				for (i = 0; i < levels.length; i++) {
					res += "<tr><td><p>";
					res += "<span>" + levels[i].level + " - " + levels[i].about + "</span>";
					res += "</p></td></tr>\n";
				}
				return res;
			}
			/*]]>*/
			</script>
	<script th:inline="javascript" th:if="${isAdmin or isResident}">
			/*<![CDATA[*/
			           
			var totalLevels = [""];
			totalLevels[0] = new SkillLevel("","");
			
			$( "#levelsNum" ).on("input", function() {
			    var levels = $(this).val()
			    while (levels > totalLevels.length) {
			    	totalLevels.push(new SkillLevel("",""));
			    }
			    while (levels < totalLevels.length) {
			    	totalLevels.pop();
			    }
			    for (i = 0; i < totalLevels.length; i++) {
			    	if (document.getElementById('levels[' + i + '].about') != null) {
			    		totalLevels[i].about = document.getElementById('levels[' + i + '].about').value;
			    		totalLevels[i].about_RU = document.getElementById('levels[' + i + '].about_RU').value;
			    	} else {
			    		totalLevels[i] = new SkillLevel("","");
			    	}
			    }
			    document.getElementById("levelsPost").innerHTML=generateLevelFormTable(totalLevels);
			});
				
			$( "#levelsNum" ).trigger( "input" );
			           
			/*]]>*/
			</script>
</div>