<div th:fragment="trendTree" th:remove="tag">

                    <span th:text="'Type a mega trend name'" text="Filter"></span>
					<div class="row"><div class="two-buttons">
						<input type="text" class="form-control" id="trendFilter"/>
					</div><div class="two-buttons">
						<span id="find" class="btn btn-primary" th:text="'Find'" onclick="applyTrFilter();"></span>
					<span onclick='clearTrFilter();' class="btn btn-danger"><i class="fa fa-remove"></i></span>
					</div></div>
					<script>
					function clearTrFilter(){
						$("#trendFilter").val("");
						applyTrFilter();
					}
					</script>
					<p><span id="trss"></span></p>
					
	<div id="trch0"></div>

	<script th:inline="javascript">
	/*<![CDATA[*/

		function addTrChild(id, flag, term, kids) {
			var html = "";
			html += "<div id='trb" + id + "'>";
			html += flag;
			if (kids > 0)
				html += "<img id='trimg" + id + "' src='" + rootPath + "resources/images/dtree/nolines_plus.gif' " +
					"onclick='ajaxTrChildren(\"" + rootPath + "trend/ajaxChildren\", " + id + ");'>";
			html += "<a id='trask" + id + "' href='#a' onclick='clickTrend(" + id + ");'>"
				+ term + "</a>";
			html += "<div id='trch" + id + "'></div>";
			html += "</div>";
			return html;
	}
		function showTrChild(child) {
		// if it shown then break
		if ($("#trb" + child.id).length > 0) return;
		// if parent is not shown then show it
		var parentId = "#trch";
		if (child.parent !== null) {
			if ($("#trb" + child.parent.id).length <= 0)
				showTrChild(child.parent);
			parentId += child.parent.id;
		}
		// add to the parent
		var alternative = '', name = child.name;
		var spl = name.split('~!@');
		if (spl.length > 1) {
			alternative = spl[0];
			name = spl[1];
		}
		$(parentId).html($(parentId).html() + addTrChild(child.id, alternative, name, 1));
	}
	function applyTrFilter() {
		var inputArgs = [];
		var filterText = $("#trendFilter").val().toLowerCase();
		inputArgs.push(filterText);
		var requestUrl = rootPath + "trend/ajaxSearch";

		 var csrfHeader = $("meta[name='_csrf_header']").attr("content");
	     var csrfToken = $("meta[name='_csrf']").attr("content");
	     var headers = {};
	     headers[csrfHeader] = csrfToken;
	     $("#trss").text("start searching");
		$.ajax({
			url : requestUrl,
			type: 'POST',
			dataType: 'json',
			contentType: 'application/json; charset=utf-8',
			data : JSON.stringify(inputArgs),
			headers: headers,
			success: function (res) {
				if (res !== null) {
				     $("#trss").text("processing results");
					// get ids to show
					var toShow = ["trb0"];
					for (var i = 0; i < res.length; i++) {
						var trend = res[i];
						toShow.push("trb" + trend.id);
						var curTrend = trend.parent;
						while (curTrend !== null) {
							var toAdd = "trb" + curTrend.id;
							if (toShow.indexOf(toAdd) >= 0)
								break;
							toShow.push(toAdd);
							curTrend = curTrend.parent;
						}
						showTrChild(trend);
					}
					// hide all that not to show
					var all = $("[id^=trb]");
					for (var i = 0; i < all.length; i++)
						if (toShow.length <= 1 || toShow.indexOf(all[i].id) >= 0)
							$("#" + all[i].id).show();
						else
							$("#" + all[i].id).hide();
				     $("#trss").text("");
				}
			},
			error: function (xhRequest, ErrorText, thrownError) {
				console.log('xhRequest: ' + xhRequest + "\n");
				console.log('ErrorText: ' + ErrorText + "\n");
				console.log('thrownError: ' + thrownError + "\n");
				console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
			}
		});
	}
	$("#trendFilter").keydown(function(e) {if(e.keyCode === 13) applyTrFilter()});
	
			function ajaxTrChildren(requestUrl) {
				
				var inputArgs = [];
				var i;
				for (i = 1; i < arguments.length; i++) {
					inputArgs.push(arguments[i]);
				}
				
				 var csrfHeader = $("meta[name='_csrf_header']").attr("content");
			     var csrfToken = $("meta[name='_csrf']").attr("content");
			     var headers = {};
			     headers[csrfHeader] = csrfToken;

			     $("#trss").text("getting trends");
				$.ajax({
					url : requestUrl,
					type: 'POST',
					dataType: 'json',
					contentType: 'application/json; charset=utf-8',
					data : JSON.stringify(inputArgs),
					headers: headers,
					success: function (res) {
						var html = "";
						elImg = $("#trimg" + res.id);
						if (elImg.length > 0 && elImg.attr('src').indexOf("/resources/images/dtree/nolines_minus.gif") >= 0)
							elImg.attr('src', rootPath + "resources/images/dtree/nolines_plus.gif");
						else {
							if (elImg.length > 0)
								elImg.attr('src', rootPath + "resources/images/dtree/nolines_minus.gif");
							for (var i = 0; i < res.ids.length; i++) {
								html += addTrChild(res.ids[i], res.flags[i], res.terms[i], res.kids[i]);
							}
						}
						$("#trch" + res.id).html(html);
					     $("#trss").text("");
					},
					error: function (xhRequest, ErrorText, thrownError) {
						console.log('xhRequest: ' + xhRequest + "\n");
						console.log('ErrorText: ' + ErrorText + "\n");
						console.log('thrownError: ' + thrownError + "\n");
						console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
					}
				});
			}
			var html0 = /*[[${html0}]]*/ "";
			var parent0 = /*[[${parent0}]]*/ 0;
			if (html0 !== null && html0 !== "" && parent0 !== null)
				$("#trch0").html(html0);
			else
				parent0 = 0;
			elImg = $("#trimg" + parent0);
			if (elImg.length > 0 && elImg.attr('src').indexOf("/resources/images/dtree/nolines_minus.gif") >= 0)
				elImg.attr('src', rootPath + "resources/images/dtree/nolines_plus.gif");
			ajaxTrChildren(rootPath + "trend/ajaxChildren", parent0);
			
			// editing terms in trend
			function addTerm(termid, id, name) {
				if ($('#trSel').children('option[value="' + termid + ":" + id + '"]').length > 0) return;
				var o = new Option(name, termid + ":" + id);
				$(o).html(name);
				$("#trSel").append(o);
				$('#trSel').children('option[value="' + termid + ":" + id + '"]').prop('selected', true);
		    	htmlTerms = $("#trTerms").html() + "<span class='btn-warning btn btn-primary' id='trTerm" + id + "'>" +
		    		"<a href='#' onclick='removeTerm(" + termid + "," + id + ")' class='fa fa-remove'></a> " + name + "</span>";
			    $("#trTerms").html(htmlTerms);
			}
			function removeTerm(termid, id) {
				if ($('#trSel').children('option[value="' + termid + ":" + id + '"]').length == 0) return;
				$('#trSel').children('option[value="' + termid + ":" + id + '"]').remove();
				$("#trTerm" + id).remove();
				
			}
			function clearTerms() {
				$('#trSel').children('option').remove();
			    $("#trTerms").html("");
			}
			// some stuff for opening trends
			function _instanceof(left, right) { if (right != null && typeof Symbol !== "undefined" && right[Symbol.hasInstance]) { return right[Symbol.hasInstance](left); } else { return left instanceof right; } }

			function _classCallCheck(instance, Constructor) { if (!_instanceof(instance, Constructor)) { throw new TypeError("Cannot call a class as a function"); } }
			
			function ajaxTrendDialog(requestUrl) {
				
				var admin = /*[[${isAdmin}]]*/ false;
				var resident = /*[[${isResident}]]*/ false;	
				
				admin = admin || resident;
				
				var isChild = false;
				
				var inputArgs = [];
				var i;
				for (i = 1; i < arguments.length; i++) {
					if (arguments[i] < 0) {
						isChild = true;
						arguments[i] = -arguments[i];
					}
					inputArgs.push(arguments[i]);
				}
				
				 var csrfHeader = $("meta[name='_csrf_header']").attr("content");
			     var csrfToken = $("meta[name='_csrf']").attr("content");
			     var headers = {};
			     headers[csrfHeader] = csrfToken;
				
				$.ajax({
					url : requestUrl,
					type: 'POST',
					dataType: 'json',
					contentType: 'application/json; charset=utf-8',
					data : JSON.stringify(inputArgs),
					headers: headers,
					success: function (res) {
					     $("#trSearchSS").text("");
						document.getElementById('trendName').innerHTML=res.name;
						$("#idtext").text("id: " + res.id);
						if (res.id > 0) {
							$("#delId").val(res.id);
							document.getElementById('createChildButton').setAttribute(
									'onclick', 'ajaxTrendDialog(\'' + rootPath + 'trend/ajaxTrend\', -' + res.id + '); return false;');
							$("#deleteTrendLink").show();
							$("#createChildButton").show();
						} else {
							$("#deleteTrendLink").hide();
							$("#createChildButton").hide();
						}
						$("#del0").hide();
						$("#html0").hide();
						
						if (res.parentId == null)
							$("#parentId").val(0);
						else
							$("#parentId").val(res.parentId);
						if (res.id > 0 && !isChild) {
							// Copy values from changed trend
							$("#trend_name").val(res.name);
						    // Remember id of the changed trend
						    $("#selfId").val(res.id);
						    // Get all terms
						    clearTerms();
						    var htmlTerms = "<h3>Terms</h3>";
						    $("#trTerms").html(htmlTerms);
						    for (var i = 0; i < res.levels.length; i++)
						    	addTerm(res.levels[i].about_ru, res.levels[i].id, res.levels[i].about);
						}
						else {
							// Clear all values
							$("#trend_name").val("");
							$("#parentId").val(res.id);
						    clearTerms();
						    // Forget trend id
						    $("#selfId").val(0);
						}
						    
						var trendName = "";
						if (isChild) {
							$("#viewTrendBlock").show();
							$("#newTrendForm").show();
							$('#parentSelect option[value="' + res.id + '"]').prop('selected', true);
							trendName = /*[[#{skillPopup.child}]]*/ 'Create a Child';
							$("#idtext").text("id: 0");
						} else {
							$("#viewTrendBlock").hide();
							$("#newTrendForm").show();
							trendName = res.name_en;
						}
						if (admin)
						document.getElementById('trendFormTitle').innerHTML=
							"<span id=\"trendName\">" + trendName + "</span>";
						$('#createTrendModal').modal('show');
					},
					error: function (xhRequest, ErrorText, thrownError) {
						console.log('xhRequest: ' + xhRequest + "\n");
						console.log('ErrorText: ' + ErrorText + "\n");
						console.log('thrownError: ' + thrownError + "\n");
						console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
					}
				});
			}
			
			//search staff
			
				// clear search field and hide results table
				function clear() {
					$("#trTermSearch").val('');
					$("#trSearchTerms").hide();
				}
			clear();
			
			// add term result
			function addSearchTerm(termid, id, name) {
		    	htmlTerms = $("#trSearchTerms").html() +
		    		"<span onclick='addTerm(" + termid + ", " + id + ", \"" + name + "\")' class='btn btn-primary btn-warning'>" + name + "</span>";
			    $("#trSearchTerms").html(htmlTerms);
			}
			
			// terms search
			function ajaxTrTermSearch(requestUrl) {
				if ($("#trTermSearch").val().length > 50) {
				     $("#trSearchSS").text("The search query is too big.");
					return;
				}
				
				var inputArgs = [];
				var i;
				for (i = 1; i < arguments.length; i++) {
					inputArgs.push(arguments[i]);
				}
				
				 var csrfHeader = $("meta[name='_csrf_header']").attr("content");
			     var csrfToken = $("meta[name='_csrf']").attr("content");
			     var headers = {};
			     headers[csrfHeader] = csrfToken;

				inputArgs.push($("#trTermSearch").val());

				if ($("#trTermSearch").val() === "")
					return;
			     $("#trSearchSS").text("searching...");
				$.ajax({
					url : requestUrl,
					type: 'POST',
					dataType: 'json',
					contentType: 'application/json; charset=utf-8',
					data : JSON.stringify(inputArgs),
					headers: headers,
					success: function (res) {
						var results = res.ids.length;
						if (results == null) results = 0;
					     $("#trSearchSS").text(results + " results");
						if (results > 0)
							$("#trSearchTerms").show();
						else
							$("#trSearchTerms").hide();
					    $("#trSearchTerms").html("");
					    for (var i = 0; i < results; i++)
					    	addSearchTerm(res.terms[i], res.ids[i], res.flags[i]);
					},
					error: function (xhRequest, ErrorText, thrownError) {
				         $("#curStatus").html('ERROR!!!');
						console.log('xhRequest: ' + xhRequest + "\n");
						console.log('ErrorText: ' + ErrorText + "\n");
						console.log('thrownError: ' + thrownError + "\n");
						console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
					}
				});
			}
			$("#trTermFind").on("click", function() {ajaxTrTermSearch(rootPath + 'trend/ajaxTrTermSearch')});
			$("#trTermSearch").keydown(function(e) {if(e.keyCode === 13) ajaxTrTermSearch(rootPath + 'trend/ajaxTrTermSearch');});
			$("#trTermClear").on("click", function() {clear()});
			
			function ajaxTrTermAdd(requestUrl) {
				
				var inputArgs = [];
				var i;
				for (i = 1; i < arguments.length; i++) {
					inputArgs.push(arguments[i]);
				}
				inputArgs.push($("#trTermSearch").val());
				inputArgs.push(false);
				
				 var csrfHeader = $("meta[name='_csrf_header']").attr("content");
			     var csrfToken = $("meta[name='_csrf']").attr("content");
			     var headers = {};
			     headers[csrfHeader] = csrfToken;

         		$("#trSearchSS").html('adding...');
				$.ajax({
					url : requestUrl,
					type: 'POST',
					dataType: 'json',
					contentType: 'application/json; charset=utf-8',
					data : JSON.stringify(inputArgs),
					headers: headers,
					success: function (res) {
				        $("#trSearchSS").html('term has been added');
					},
					error: function (xhRequest, ErrorText, thrownError) {
				         $("#curStatus").html('ERROR!!!');
						console.log('xhRequest: ' + xhRequest + "\n");
						console.log('ErrorText: ' + ErrorText + "\n");
						console.log('thrownError: ' + thrownError + "\n");
						console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
					}
				});
			}
			$("#trTermAdd").on("click", function() {ajaxTrTermAdd(rootPath + 'stat/ajaxAdd')});

			  $(document).ready(function() {
			      $("#trendCreate").keydown(function(event){
			        if(event.keyCode == 13) {
			          event.preventDefault();
			          return false;
			      }
			   });
			  });
	/*]]>*/
	</script>
	
</div>