<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="updateLevelDescription">
<script th:inline="javascript">
/*<![CDATA[*/
	
	function updateLevelDescription(skillChanged) {
		var skillLevels = /*[[${skillLevels}]]*/null;
		var skill = $(skillSelector).val();
		if (skillChanged)
			$(levelNumber).val(1);
		var level = $(levelNumber).val();
		if (level == 0)
			level = 1;
		var skillDescr = "", levelDescr = "";
		if (skillLevels != null) {
			skillDescr = skillLevels[skill][0];
			levelDescr = skillLevels[skill][level];
		}
		$(skillDescription).html(skillDescr);
		$(levelDescription).html(levelDescr);
	
		if (skillChanged)
			$(levelNumber).trigger("input");
}
	$(levelNumber).on("input", function() {updateLevelDescription(false)});
	$(skillSelector).on("input", function() {updateLevelDescription(true)});
	$(levelNumber).trigger("input");

/*]]>*/
</script>
</th:block>
</html>