<div th:fragment="websiteTree" th:remove="tag">

                    <span th:text="'Type a website name'" text="Filter"></span>
					<div class="row"><div class="two-buttons">
						<input type="text" class="form-control" id="websiteFilter"/>
					</div><div class="two-buttons">
						<span id="find" class="btn btn-primary" th:text="'Find'" onclick="applyFilter();"></span>
					<span onclick='clearFilter();' class="btn btn-danger"><i class="fa fa-remove"></i></span>
					</div></div>
					<script>
					function clearFilter(){
						$("#websiteFilter").val("");
						applyFilter();
					}
					</script>
					<p><span id="webss"></span></p>
					
	<div id="webch0"></div>

	<script th:inline="javascript">
	/*<![CDATA[*/

		function addChild(id, flag, term, kids) {
			var html = "";
			html += "<div id='webb" + id + "'>";
			html += flag;
			if (kids > 0)
				html += "<img id='webimg" + id + "' src='" + rootPath + "resources/images/dtree/nolines_plus.gif' " +
					"onclick='ajaxChildren(\"" + rootPath + "website/ajaxChildren\", " + id + ");'>";
			html += "<a id='webask" + id + "' href='#a' onclick='clickWebsite(" + id + ");'>"
				+ term + "</a>";
			html += "<div id='webch" + id + "'></div>";
			html += "</div>";
			return html;
	}
		function showChild(child) {
		// if it shown then break
		if ($("#webb" + child.id).length > 0) return;
		// if parent is not shown then show it
		var parentId = "#webch";
		if (child.parent !== null) {
			if ($("#webb" + child.parent.id).length <= 0)
				showChild(child.parent);
			parentId += child.parent.id;
		}
		// add to the parent
		var alternative = '', name = child.name;
		var spl = name.split('~!@');
		if (spl.length > 1) {
			alternative = spl[0];
			name = spl[1];
		}
		$(parentId).html($(parentId).html() + addChild(child.id, alternative, name, 1));
	}
	function applyFilter() {
		var inputArgs = [];
		var filterText = $("#websiteFilter").val().toLowerCase();
		inputArgs.push(filterText);
		var requestUrl = rootPath + "website/ajaxSearch";

		 var csrfHeader = $("meta[name='_csrf_header']").attr("content");
	     var csrfToken = $("meta[name='_csrf']").attr("content");
	     var headers = {};
	     headers[csrfHeader] = csrfToken;
	     $("#webss").text("start searching");
		$.ajax({
			url : requestUrl,
			type: 'POST',
			dataType: 'json',
			contentType: 'application/json; charset=utf-8',
			data : JSON.stringify(inputArgs),
			headers: headers,
			success: function (res) {
				if (res !== null) {
				     $("#webss").text("processing results");
					// get ids to show
					var toShow = ["webb0"];
					for (var i = 0; i < res.length; i++) {
						var website = res[i];
						toShow.push("webb" + website.id);
						var curWebsite = website.parent;
						while (curWebsite !== null) {
							var toAdd = "webb" + curWebsite.id;
							if (toShow.indexOf(toAdd) >= 0)
								break;
							toShow.push(toAdd);
							curWebsite = curWebsite.parent;
						}
						showChild(website);
					}
					// hide all that not to show
					var all = $("[id^=webb]");
					for (var i = 0; i < all.length; i++)
						if (toShow.length <= 1 || toShow.indexOf(all[i].id) >= 0)
							$("#" + all[i].id).show();
						else
							$("#" + all[i].id).hide();
				     $("#webss").text("");
				}
			},
			error: function (xhRequest, ErrorText, thrownError) {
				console.log('xhRequest: ' + xhRequest + "\n");
				console.log('ErrorText: ' + ErrorText + "\n");
				console.log('thrownError: ' + thrownError + "\n");
				console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
			}
		});
	}
	$("#websiteFilter").keydown(function(e) {if(e.keyCode === 13) applyFilter()});
	
			function ajaxChildren(requestUrl) {
				
				var inputArgs = [];
				var i;
				for (i = 1; i < arguments.length; i++) {
					inputArgs.push(arguments[i]);
				}
				
				 var csrfHeader = $("meta[name='_csrf_header']").attr("content");
			     var csrfToken = $("meta[name='_csrf']").attr("content");
			     var headers = {};
			     headers[csrfHeader] = csrfToken;

			     $("#webss").text("getting websites");
				$.ajax({
					url : requestUrl,
					type: 'POST',
					dataType: 'json',
					contentType: 'application/json; charset=utf-8',
					data : JSON.stringify(inputArgs),
					headers: headers,
					success: function (res) {
						var html = "";
						elImg = $("#webimg" + res.id);
						if (elImg.length > 0 && elImg.attr('src').indexOf("/resources/images/dtree/nolines_minus.gif") >= 0)
							elImg.attr('src', rootPath + "resources/images/dtree/nolines_plus.gif");
						else {
							if (elImg.length > 0)
								elImg.attr('src', rootPath + "resources/images/dtree/nolines_minus.gif");
							for (var i = 0; i < res.ids.length; i++) {
								html += addChild(res.ids[i], res.flags[i], res.terms[i], res.kids[i]);
							}
						}
						$("#webch" + res.id).html(html);
					     $("#webss").text("");
					},
					error: function (xhRequest, ErrorText, thrownError) {
						console.log('xhRequest: ' + xhRequest + "\n");
						console.log('ErrorText: ' + ErrorText + "\n");
						console.log('thrownError: ' + thrownError + "\n");
						console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
					}
				});
			}
			var html0 = /*[[${html0}]]*/ "";
			var parent0 = /*[[${parent0}]]*/ 0;
			if (html0 !== null && html0 !== "" && parent0 !== null)
				$("#webch0").html(html0);
			else
				parent0 = 0;
			elImg = $("#webimg" + parent0);
			if (elImg.length > 0 && elImg.attr('src').indexOf("/resources/images/dtree/nolines_minus.gif") >= 0)
				elImg.attr('src', rootPath + "resources/images/dtree/nolines_plus.gif");
			ajaxChildren(rootPath + "website/ajaxChildren", parent0);
			
			// editing terms in website
			function addTerm(termid, id, name) {
				if ($('#webSel').children('option[value="' + termid + ":" + id + '"]').length > 0) return;
				var o = new Option(name, termid + ":" + id);
				$(o).html(name);
				$("#webSel").append(o);
				$('#webSel').children('option[value="' + termid + ":" + id + '"]').prop('selected', true);
		    	htmlTerms = $("#webTerms").html() + "<span class='btn-warning btn btn-primary' id='webTerm" + id + "'>" +
		    		"<a href='#' onclick='removeTerm(" + termid + "," + id + ")' class='fa fa-remove'></a> " + name + "</span>";
			    $("#webTerms").html(htmlTerms);
			}
			function removeTerm(termid, id) {
				if ($('#webSel').children('option[value="' + termid + ":" + id + '"]').length == 0) return;
				$('#webSel').children('option[value="' + termid + ":" + id + '"]').remove();
				$("#webTerm" + id).remove();
				
			}
			function clearTerms() {
				$('#webSel').children('option').remove();
			    $("#webTerms").html("");
			}
			// some stuff for opening websites
			function _instanceof(left, right) { if (right != null && typeof Symbol !== "undefined" && right[Symbol.hasInstance]) { return right[Symbol.hasInstance](left); } else { return left instanceof right; } }

			function _classCallCheck(instance, Constructor) { if (!_instanceof(instance, Constructor)) { throw new TypeError("Cannot call a class as a function"); } }
			
			function ajaxWebsiteDialog(requestUrl) {
				
				var admin = /*[[${isAdmin}]]*/ false;
				var resident = /*[[${isResident}]]*/ false;	
				
				admin = admin || resident;
				
				var isChild = false;
				
				var inputArgs = [];
				var i;
				for (i = 1; i < arguments.length; i++) {
					if (arguments[i] < 0) {
						isChild = true;
						arguments[i] = -arguments[i];
					}
					inputArgs.push(arguments[i]);
				}
				
				 var csrfHeader = $("meta[name='_csrf_header']").attr("content");
			     var csrfToken = $("meta[name='_csrf']").attr("content");
			     var headers = {};
			     headers[csrfHeader] = csrfToken;
				
				$.ajax({
					url : requestUrl,
					type: 'POST',
					dataType: 'json',
					contentType: 'application/json; charset=utf-8',
					data : JSON.stringify(inputArgs),
					headers: headers,
					success: function (res) {
					     $("#webSearchSS").text("");
						document.getElementById('websiteName').innerHTML=res.name;
						$("#idtext").text("id: " + res.id);
						if (res.id > 0) {
							$("#delId").val(res.id);
							document.getElementById('createChildButton').setAttribute(
									'onclick', 'ajaxWebsiteDialog(\'' + rootPath + 'website/ajaxWebsite\', -' + res.id + '); return false;');
							$("#deleteLink").show();
							$("#createChildButton").show();
						} else {
							$("#deleteLink").hide();
							$("#createChildButton").hide();
						}
						$("#del0").hide();
						$("#html0").hide();
						
						if (res.parentId == null)
							$("#parentId").val(0);
						else
							$("#parentId").val(res.parentId);
					    $("#checkResults").html('');
						if (res.id > 0 && !isChild) {
							// Copy values from changed website
							$("#website_name").val(res.name);
							$("#website_url").val(res.about);
							$("#website_lmask").val(res.name_ru);
							$("#website_amask").val(res.name_en);
							$("#website_dmask").val(res.about_ru);
							$("#website_dformat").val(res.about_en);
							$("#website_dattr").val(res.dattr);
							$("#website_pformat").val(res.pages);
							$("#website_show").prop('checked', res.draft);
						    // Remember id of the changed website
						    $("#selfId").val(res.id);
						    // Get all terms
						    clearTerms();
						    var htmlTerms = "<h3>Terms</h3>";
						    $("#webTerms").html(htmlTerms);
						    for (var i = 0; i < res.levels.length; i++)
						    	addTerm(res.levels[i].about_ru, res.levels[i].id, res.levels[i].about);
						}
						else {
							// Clear all values
							$("#website_name").val("");
							$("#website_url").val("");
							$("#website_lmask").val("");
							$("#website_amask").val("");
							$("#website_dmask").val("");
							$("#website_dformat").val("");
							$("#website_dattr").val("");
							$("#website_pformat").val("");
							$("#parentId").val(res.id);
							$("#website_show").prop('checked', true);
						    clearTerms();
						    // Forget website id
						    $("#selfId").val(0);
						}
					    $("#webTerms").hide();
						    
						var websiteName = "";
						if (isChild) {
							$("#viewWebsiteBlock").show();
							$("#newWebsiteForm").show();
							$('#parentSelect option[value="' + res.id + '"]').prop('selected', true);
							websiteName = /*[[#{skillPopup.child}]]*/ 'Create a Child';
							$("#idtext").text("id: 0");
						} else {
							$("#viewWebsiteBlock").hide();
							$("#newWebsiteForm").show();
							websiteName = res.name;
						}
						if (admin)
						document.getElementById('websiteFormTitle').innerHTML=
							"<span id=\"websiteName\">" + websiteName + "</span>";
						$('#createWebsiteModal').modal('show');
					},
					error: function (xhRequest, ErrorText, thrownError) {
						console.log('xhRequest: ' + xhRequest + "\n");
						console.log('ErrorText: ' + ErrorText + "\n");
						console.log('thrownError: ' + thrownError + "\n");
						console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
					}
				});
			}
			
			//search staff
			
				// clear search field and hide results table
				function clear() {
					$("#webTermSearch").val('');
					$("#webSearchTerms").hide();
				}
			clear();
			
			// add term result
			function addSearchTerm(termid, id, name) {
		    	htmlTerms = $("#webSearchTerms").html() +
		    		"<span onclick='addTerm(" + termid + ", " + id + ", \"" + name + "\")' class='btn btn-primary btn-warning'>" + name + "</span>";
			    $("#webSearchTerms").html(htmlTerms);
			}
			
			// terms search
			function ajaxWebTermSearch(requestUrl) {
				
				var inputArgs = [];
				var i;
				for (i = 1; i < arguments.length; i++) {
					inputArgs.push(arguments[i]);
				}
				
				 var csrfHeader = $("meta[name='_csrf_header']").attr("content");
			     var csrfToken = $("meta[name='_csrf']").attr("content");
			     var headers = {};
			     headers[csrfHeader] = csrfToken;

				inputArgs.push($("#webTermSearch").val());

				if ($("#search").val() === "")
					return;
			     $("#webSearchSS").text("searching...");
				$.ajax({
					url : requestUrl,
					type: 'POST',
					dataType: 'json',
					contentType: 'application/json; charset=utf-8',
					data : JSON.stringify(inputArgs),
					headers: headers,
					success: function (res) {
						var results = res.ids.length;
						if (results == null) results = 0;
					     $("#webSearchSS").text(results + " results");
						if (results > 0)
							$("#webSearchTerms").show();
						else
							$("#webSearchTerms").hide();
					    $("#webSearchTerms").html("");
					    for (var i = 0; i < results; i++)
					    	addSearchTerm(res.terms[i], res.ids[i], res.flags[i]);
					},
					error: function (xhRequest, ErrorText, thrownError) {
				         $("#curStatus").html('ERROR!!!');
						console.log('xhRequest: ' + xhRequest + "\n");
						console.log('ErrorText: ' + ErrorText + "\n");
						console.log('thrownError: ' + thrownError + "\n");
						console.log('JSON request: ' + JSON.stringify(inputArgs) + "\n");
					}
				});
			}
			$("#webTermFind").on("click", function() {ajaxWebTermSearch(rootPath + 'website/ajaxWebTermSearch')});
			$("#webTermSearch").keydown(function(e) {if(e.keyCode === 13) ajaxWebTermSearch(rootPath + 'website/ajaxWebTermSearch');});
			$("#webTermClear").on("click", function() {clear()});

			  $(document).ready(function() {
			      $("#websiteCreate").keydown(function(event){
			        if(event.keyCode == 13) {
			          event.preventDefault();
			          return false;
			      }
			   });
			  });
	/*]]>*/
	</script>
	
</div>